[2019-11-01 08:58] Ugeshkumar16 commented on #200
Hi Nandhineedevi,
Kindly resolve the issue above mentioned reference.

Regards,
S.Ugeshkumar

[2019-11-01 09:16] Senthilmurugan-B commented on #210
Dear Akash,
 points 2 - There is no authorization for RFQ.
Points 3 - COBI finance part that's y i didn't include this in sales handout.
remaining points are solved kindly check and update.
[Kanam _03_Sales Handout Document.docx](https://github.com/astpl1998/Kanam-Latex/files/3797274/Kanam._03_Sales.Handout.Document.docx)

[2019-11-01 09:18] badamnarendra028 commented on #74
[rpxpwmp_genera_grd1_gr-30.zip](https://github.com/astpl1998/Kanam-Latex/files/3797299/rpxpwmp_genera_grd1_gr-30.zip)

[2019-11-01 09:27] karthikeyanamitysoft commented on #39
Ugesh,

Changes completed by Naredranath, kindly test and confirm with naredranath.

Regards,
Karthi

[2019-11-01 09:28] Senthilmurugan-B commented on #178
@team:
now i close this ticket bcz i created separate ticket for module wise.

[2019-11-01 09:28] #178 closed

[2019-11-01 09:35] Ugeshkumar16 commented on #201
Dear Karthikeyan,
while click to save this shipping invoice print error occurred.
![Error Shipping Invoice](https://user-images.githubusercontent.com/48987324/68015644-9970cf80-fcb8-11e9-9709-16d15cb89361.png)

[2019-11-01 09:41] AkashGleen commented on #210
Dear Srini......

Testing 2 In-Progress Kindly Check and Update

Regards,

Akash
[Kanam._04_Sales.Handout.Document.docx](https://github.com/astpl1998/Kanam-Latex/files/3797354/Kanam._04_Sales.Handout.Document.docx)

[2019-11-01 09:50] parthiban25 commented on #74
hi srini,
Testing 1 completed
Refer in PFs
Tesr
[Daily.Production.Report.Plant.Wise.Summary.Report_PFS.zip](https://github.com/astpl1998/Kanam-Latex/files/3797384/Daily.Production.Report.Plant.Wise.Summary.Report_PFS.zip)
![image](https://user-images.githubusercontent.com/37869674/68016641-f9687580-fcba-11e9-93b3-478035b7bea0.png)
![image](https://user-images.githubusercontent.com/37869674/6801664

[2019-11-01 10:06] Nandhineedevi commented on #200
Hi Ugesh,
The issue has been resolved. Kindly check and revert back.

Regards
Nandhinee Devi

[2019-11-01 10:51] Ugeshkumar16 commented on #200
Hi Manimahat,
The issue has been resolved.
[Shipping Packing LIst 01 Nov.pdf](https://github.com/astpl1998/Kanam-Latex/files/3797568/Shipping.Packing.LIst.01.Nov.pdf)

Regards,
S.Ugeshkumar

[2019-11-01 11:31] srinivasanbaskaran commented on #20
Arun,

Kindly do the changes as per our discussion...
And also Pls attach the Latest Deliverables..

Regards,
Srinivasan Baskaran

[2019-11-01 11:43] Ugeshkumar16 commented on #40
Dear Srinivasan,
Above mentioned error resolved.
kindly find the reference.
[ss packslip 01st Nov.pdf](https://github.com/astpl1998/Kanam-Latex/files/3797746/ss.packslip.01st.Nov.pdf)

Regards,
S.Ugeshkumar

[2019-11-02 05:23] Manimahat commented on #208
Hi Srinivasan,

I have checked the Pdf as well as Doc Type Handout, It is looking Perfect.

Regards,
Manivel A

[2019-11-02 06:02] karthikeyanamitysoft commented on #207
[LOT_NUMBER_HELP.zip](https://github.com/astpl1998/Kanam-Latex/files/3800174/LOT_NUMBER_HELP.zip)

[2019-11-02 07:28] Manimahat commented on #200
Hi Srinivasan,

Testing 2 completed in ANK OU. But Other OU's Transaction Doesn't open. Herewith I have attached The Test Case , Result And Screen Loading Screen Shot For Other OU's. Kindly Check It.

Test Case 2 :
[Test Case_2 For Shpping Packing List.xlsx](https://github.com/astpl1998/Kanam-Latex/files/3800232/Test.Case_2.For.Shpping.Packing.List.xlsx)

Test 2 Result :
[Test 2 Result Shipping Pa

[2019-11-02 07:33] Manimahat commented on #202
Hi Srinivasan,

Testing 2 completed in ANK OU. But Other OU's Transaction Doesn't open. Herewith I have attached The Test Case , Result And Screen Loading Screen Shot For Other OU's. Kindly Check It.

Test Case 2 :
[Test case_2 for SO FromWork Order.xlsx](https://github.com/astpl1998/Kanam-Latex/files/3800239/Test.case_2.for.SO.FromWork.Order.xlsx)

Test 2 Result :
[SO From Work Order.pdf](https:/

[2019-11-02 08:41] Ugeshkumar16 commented on #39
Narendranath,
product code not fetched in the generated report
Refer sheet no: 1 (N1 & N2) and 2
Column No: 42 also check and change (Statement of Origin)
[COMMERCIAL INVOICE PRINT 02 NOV.pdf](https://github.com/astpl1998/Kanam-Latex/files/3800277/COMMERCIAL.INVOICE.PRINT.02.NOV.pdf)

[2019-11-02 10:40] Arunachalamamitysoft commented on #20
@srinivasanbaskaran
       Development  and design works are completed,kindly check and revert it back.
updated deliverables are attached.
[purchase_order_print_SP_V1.1.zip](https://github.com/astpl1998/Kanam-Latex/files/3800374/purchase_order_print_SP_V1.1.zip)

[2019-11-02 13:48] karthikeyanamitysoft commented on #39
Dear Ugeshkumar,

Changes Completed kindly check and confirm.
REgards,
Karthi

[2019-11-04 06:31] Ugeshkumar16 commented on #39
Narendranath,
Brand Name should be loaded automatically against the Commercial Invoice No.
![commercial invoice print brand name not loaded](https://user-images.githubusercontent.com/48987324/68102893-b3015980-fefa-11e9-81d3-51eab0656d52.png)

[2019-11-04 06:47] Ugeshkumar16 commented on #201
Narendranath,
Brand Name should be loaded against the shipping invoice no
![shipping invoice brand name not loaded automatically](https://user-images.githubusercontent.com/48987324/68103449-ecd35f80-fefc-11e9-9ef5-7679abe80d43.png)

[2019-11-04 07:24] srinivasanbaskaran commented on #74
Manivel,

Kindly Start the Testing 2 & Prepare the Testing Documents

Regards,

Srinivasan Baskaran

[2019-11-04 09:27] srinivasanbaskaran commented on #20
Akash,

Please Check the Purchase Order Print - Supplier Details ( Supplier Order box )

Regards,
Srinivasan Baskaran

[2019-11-04 09:54] AkashGleen commented on #20
Dear Arunachalam....

1. Supplier detail fetched correction
2. GST Code should not be fetched

Regards,

Akash

[2019-11-04 11:15] Arunachalamamitysoft commented on #20
Dear  Akash,
  Development is completed ,kindly check and revert it back

Regards
Arunachalam,

[2019-11-04 11:16] Arunachalamamitysoft commented on #20
updated Deliverables
[purchase_order_print_SP_V1.2.zip](https://github.com/astpl1998/Kanam-Latex/files/3803711/purchase_order_print_SP_V1.2.zip)

[2019-11-04 11:23] AkashGleen commented on #20
Dear Srini.....

Purchase Order Print - Supplier Details ( Supplier Order box ) Completed Kindly Check and Update

Regards,

Akash
[AMITYUSER_kanamlatex_341171_0afb0284-83de-49fd-b99a-1515d8d697a6.pdf](https://github.com/astpl1998/Kanam-Latex/files/3803731/AMITYUSER_kanamlatex_341171_0afb0284-83de-49fd-b99a-1515d8d697a6.pdf)

[2019-11-04 12:02] srinivasanbaskaran commented on #207
Sir,

Lot Number to Invoice tracking Dcube Report testing has been completed.

Testing documents are attached for the future references.

PFS: [PFS.FOR_LOT.NUMBER.TO.INVOICE.TRACKING_Dcube_Report_v1.0.xlsx](https://github.com/astpl1998/Kanam-Latex/files/3803804/PFS.FOR_LOT.NUMBER.TO.INVOICE.TRACKING_Dcube_Report_v1.0.xlsx)

DELIVERABLES: [LOT_NUMBER_HELP.zip](https://github.com/astpl1998/Kanam-Lat

[2019-11-04 12:12] srinivasanbaskaran commented on #210
Sir,

Sales & Shipping Handout completed.

Kindly proceed further

Handout: [Kanam_Sales_Handout_Document_v.1.5.docx](https://github.com/astpl1998/Kanam-Latex/files/3803900/Kanam_Sales_Handout_Document_v.1.5.docx)

Regards,

Srinivasan Baskaran

[2019-11-04 12:40] srinivasanbaskaran commented on #44
Dhanwandher,

Kindly update the changes into the PFS.

Regards,

Srinivasan Baskaran

[2019-11-04 12:58] srinivasanbaskaran commented on #208
Sir,

Maintenance Handout has been completed.

Kindly proceed further.

Handout: [Kanam_Maintenance_Handout_v1.7.docx](https://github.com/astpl1998/Kanam-Latex/files/3804056/Kanam_Maintenance_Handout_v1.7.docx)

Regards,

Srinivasan Baskaran

[2019-11-04 13:06] srinivasanbaskaran commented on #20
Sir,

Purchase Order Print Report testing has been completed. Testing documents are attached for future references.

PFS: [01_Kanam_Purchase.Order_PFS_Correction_v1.8.xlsx](https://github.com/astpl1998/Kanam-Latex/files/3783839/01_Kanam_Purchase.Order_PFS_Correction_v1.8.xlsx)

DELIVERABLES: [purchase_order_print_SP_V1.2.zip](https://github.com/astpl1998/Kanam-Latex/files/3804085/purchase_order_pr

[2019-11-04 13:44] badamnarendra028 commented on #44
[trigger_neww.zip](https://github.com/astpl1998/Kanam-Latex/files/3804219/trigger_neww.zip)
updated

[2019-11-04 14:30] srinivasanbaskaran commented on #37
Sir,

Proforma Invoice Print Report Testing has been completed. Testing Documents are attached for the future references.

PFS: [Updated_PFS.FOR._Profoma_Invoice_v1.5.xlsx](https://github.com/astpl1998/Kanam-Latex/files/3804412/Updated_PFS.FOR._Profoma_Invoice_v1.5.xlsx)

DELIVERABLES:
TEST CASE1: [Rework_Test_Case_for_Proforma_Invoice.xlsx](https://github.com/astpl1998/Kanam-Latex/files/3804420/R

[2019-11-04 14:31] srinivasanbaskaran commented on #37
Badam,

Kindly update the Latest Deliverables for this report

Regards,

Srinivasan Baskaran

[2019-11-05 06:09] srinivasanbaskaran commented on #40
Akash,

Kindly start the Testing 2 & Prepare the Testing Documents

Regards,

Srinivasan Baskaran

[2019-11-05 07:11] srinivasanbaskaran commented on #40
Badam,
Kindly check the below screenshot.  While I am tyring to launching the Report, Got the below error..

Screenshot: ![image](https://user-images.githubusercontent.com/46194039/68186135-6042a300-ffc9-11e9-9cc2-ce38f35dd5f8.png)

Regards,

Srinivasan Baskaran

[2019-11-05 08:02] badamnarendra028 commented on #40
[pkspl_print__grd1_gr-31.zip](https://github.com/astpl1998/Kanam-Latex/files/3807804/pkspl_print__grd1_gr-31.zip)

[2019-11-05 09:11] Ugeshkumar16 commented on #216
Dear Srinivasan,
kindly finds the attachments of Hand out.
[Inventory and PICC Handout 24th Oct.docx](https://github.com/astpl1998/Kanam-Latex/files/3808092/Inventory.and.PICC.Handout.24th.Oct.docx)
[Inventory and PICC Handout 24th Oct.pdf](https://github.com/astpl1998/Kanam-Latex/files/3808095/Inventory.and.PICC.Handout.24th.Oct.pdf)

Regards,
S.Ugeshkumar

[2019-11-05 09:25] badamnarendra028 commented on #37
[nsoinpr_inv_p1_grd1_gr-30.zip](https://github.com/astpl1998/Kanam-Latex/files/3808168/nsoinpr_inv_p1_grd1_gr-30.zip)

[2019-11-05 09:25] badamnarendra028 commented on #37
updated

[2019-11-05 09:47] srinivasanbaskaran commented on #216
Akash,

Please Start Testing 2 ....

Regards,

Srinivasan Baskaran

[2019-11-05 11:26] karthikeyanamitysoft commented on #201
issue completed

[2019-11-05 11:28] karthikeyanamitysoft commented on #39
issue completed

[2019-11-05 12:02] AkashGleen commented on #40
Dear Srini......

Packing List Report Testing 2 In-Progress  Kindly Check and Update

Regards,

Akash
[Rework_Test.Case.v1For.SS.Packing.List.xlsx](https://github.com/astpl1998/Kanam-Latex/files/3808848/Rework_Test.Case.v1For.SS.Packing.List.xlsx)
[AMITYUSER_kanamlatex_341082_5b2cd002-6b09-4e75-a462-906a3ea66c63.pdf](https://github.com/astpl1998/Kanam-Latex/files/3808849/AMITYUSER_kanamlatex_34108

[2019-11-06 07:12] AkashGleen commented on #216
Dear Ugesh.......

1. Inventory and Picc Handout Table content is Missing Kindly Check and Revert

Regards,

Akash
[Inventory.and.PICC.Handout.24th.Oct (2).docx](https://github.com/astpl1998/Kanam-Latex/files/3812950/Inventory.and.PICC.Handout.24th.Oct.2.docx)

[2019-11-06 07:58] AkashGleen commented on #216
Dear Srini.....

Inventory and Picc Handout Testing 2 In-Progress Kindly Check and Update

Regards,

Akash
[Inventory and PICC Handout 06th Nov.docx](https://github.com/astpl1998/Kanam-Latex/files/3813134/Inventory.and.PICC.Handout.06th.Nov.docx)
[Uploading Inventory.and.PICC.Handout.24th.Oct.pdf…]()

[2019-11-06 10:09] badamnarendra028 commented on #199
[kle-454.zip](https://github.com/astpl1998/Kanam-Latex/files/3813833/kle-454.zip)

[2019-11-06 10:09] badamnarendra028 commented on #199
uds updated

[2019-11-06 13:28] srinivasanbaskaran commented on #95
Ugesh,

Kindly start the Testing 2 & Prepare the Testing Documents ...

Regards,

Srinivasan Baskaran

[2019-11-07 05:04] srinivasanbaskaran commented on #37
Sir,

Proforma Invoice Print Report Testing has been completed. Testing Documents are attached for the future references.

PFS: [Updated_PFS.FOR._Profoma_Invoice_v1.5.xlsx](https://github.com/astpl1998/Kanam-Latex/files/3804412/Updated_PFS.FOR._Profoma_Invoice_v1.5.xlsx)

DELIVERABLES: [nsoinpr_inv_p1_grd1_gr-30.zip](https://github.com/astpl1998/Kanam-Latex/files/3817947/nsoinpr_inv_p1_grd1_gr-30.

[2019-11-07 06:10] srinivasanbaskaran commented on #40
Sir,

Packing List Report Testing has been completed. Herewith I have attached Testing Documents for future references..

PFS: [updated_01_.Packing.List_.12.sep.2019_v1.0.xlsx](https://github.com/astpl1998/Kanam-Latex/files/3818065/updated_01_.Packing.List_.12.sep.2019_v1.0.xlsx)

DELIVERABLES: [nsoinpr_inv_p1_grd1_gr-30.zip](https://github.com/astpl1998/Kanam-Latex/files/3818066/nsoinpr_inv_p1_gr

[2019-11-07 07:19] srinivasanbaskaran commented on #200
Sir,

Shipping Packing List Report testing has been completed.

Herewith I have attached Testing Documents for future references.

PFS: [Shipping.Packing.List.UDS.Print_PFS_v1.3.xlsx](https://github.com/astpl1998/Kanam-Latex/files/3818263/Shipping.Packing.List.UDS.Print_PFS_v1.3.xlsx)

DELIVERABLES: [Shipping_pack_list_uds.zip](https://github.com/astpl1998/Kanam-Latex/files/3818289/Shipping_pack_l

[2019-11-07 07:46] srinivasanbaskaran commented on #202
Sir,

Work Order Porint from Sale Order testing has been completed.

Herewith, I have attached Testing Documents for future references..

PFS: [Updated_PFS_Work_Order_From_Sale_Order_v1.0.xlsx](https://github.com/astpl1998/Kanam-Latex/files/3818382/Updated_PFS_Work_Order_From_Sale_Order_v1.0.xlsx)

DELIVERABLES: [kle-420.v1.2.work.order.print.zip](https://github.com/astpl1998/Kanam-Latex/files/381

[2019-11-07 08:27] srinivasanbaskaran commented on #216
Ugeshkumar,

Kindly check the below points & Revert after corrections.

1. In this, Sales relaed Transactions are not to be incorporated.
2. Screenshots are not proper ( Title & Taks Bars are not displayed )

Kindly check & Revert

Handout: [Inventory & PICC_Handout_v1.1.docx](https://github.com/astpl1998/Kanam-Latex/files/3818542/Inventory.PICC_Handout_v1.1.docx)

Regards,

Srinivasan Baskaran

[2019-11-07 10:02] Manimahat commented on #74
Hi All,

Once the Automation Screen done, After that It will be tested.

Regards,
Manivel A

[2019-11-07 10:20] srinivasanbaskaran commented on #148
Sir,

Material Allocation for Production Order testing completed & Testcase updated for future references.

NOTE: This is the screen which is Tested before the Customer given changes.

Need to Test once again after the changes made as per the Customer Requested.

PFS: [Material_Allocation_for_Production_Order_PFS_Rev7.xlsx](https://github.com/astpl1998/Kanam-Latex/files/3819021/Material_Allocation

[2019-11-07 11:22] basha123456 commented on #85
senthil,

please give me clarification on this pfs..please discuss

[2019-11-11 04:24] Senthilmurugan-B commented on #199
for your info.

[2019-11-11 05:23] Ugeshkumar16 commented on #199
Dear Srinivasan,
Testing 2 is completed.
kindly find the attachments.
[Domestic sale order proforma invoice print.pdf](https://github.com/astpl1998/Kanam-Latex/files/3829807/Domestic.sale.order.proforma.invoice.print.pdf)
[Test Case 2 Domestic Sales Proforma Invoice.xlsx](https://github.com/astpl1998/Kanam-Latex/files/3829810/Test.Case.2.Domestic.Sales.Proforma.Invoice.xlsx)

Regards,
S.Ugeshkumar

[2019-11-11 06:17] Ugeshkumar16 commented on #216
Srinivasan,
For 1st Point, As we discussed it's come under Inventory and Picc.
For 2nd Point, Correction did.
kindly find the attachment
[Inventory and PICC Handout _v1.2.docx](https://github.com/astpl1998/Kanam-Latex/files/3829890/Inventory.and.PICC.Handout._v1.2.docx)
[Inventory and PICC Handout _v1.2.pdf](https://github.com/astpl1998/Kanam-Latex/files/3829897/Inventory.and.PICC.Handout._v1.2.pd

[2019-11-11 07:03] srinivasanbaskaran commented on #216
Sir,

Inventory Handout has been Checked & Verified. Please proceed further..

Handout: [Inventory.and.PICC.Handout._v1.3.docx](https://github.com/astpl1998/Kanam-Latex/files/3830005/Inventory.and.PICC.Handout._v1.3.docx)

Regards,

Srinivasan Baskaran

[2019-11-11 11:59] Ugeshkumar16 commented on #215
Srinivasan,
Kindly find the attachments of Purchase and Subcontracting Module.
[Purchase and Subcontracting  Handout.docx](https://github.com/astpl1998/Kanam-Latex/files/3831185/Purchase.and.Subcontracting.Handout.docx)
[Purchase and Subcontracting  Handout.pdf](https://github.com/astpl1998/Kanam-Latex/files/3831188/Purchase.and.Subcontracting.Handout.pdf)

Regards,
S.Ugeshkumar

[2019-11-11 12:43] srinivasanbaskaran commented on #215
Manivel,

Kindly check the Purchase & Subcontract Handout & Revert

Regards,
Srinivasan Baskaran

[2019-11-12 07:55] srinivasanbaskaran commented on #199
Sir,

Proforma Invoice print from Domestic Sale Order report testing has been completed.

Herewith Testing Documents are attached for future references.

PFS: [updated_02_PFS_FOR._UDS.Print._Domestic.sales.proforma.invoice.print.xlsx](https://github.com/astpl1998/Kanam-Latex/files/3834927/updated_02_PFS_FOR._UDS.Print._Domestic.sales.proforma.invoice.print.xlsx)

DELIVERABLES: [kle-454.zip](https:

[2019-11-12 10:22] badamnarendra028 commented on #39
[pppl_print__grd1_gr-12.zip](https://github.com/astpl1998/Kanam-Latex/files/3835583/pppl_print__grd1_gr-12.zip)

[2019-11-12 10:34] badamnarendra028 commented on #201
[prshship_print__grd1_gr--11.zip](https://github.com/astpl1998/Kanam-Latex/files/3835644/prshship_print__grd1_gr--11.zip)
[prshship_grid_n_gr-12.zip](https://github.com/astpl1998/Kanam-Latex/files/3835647/prshship_grid_n_gr-12.zip)

[2019-11-12 10:35] Ugeshkumar16 commented on #84
Dear Srinivasan,
Testing 2 Completed
Kindly find the attachments.

[over all stock valuation report of sample data.xlsx](https://github.com/astpl1998/Kanam-Latex/files/3835640/over.all.stock.valuation.report.of.sample.data.xlsx)
[overall stock valuation report 12th November.pdf](https://github.com/astpl1998/Kanam-Latex/files/3835642/overall.stock.valuation.report.12th.November.pdf)
[Test Case For

[2019-11-12 11:55] badamnarendra028 commented on #39
[pppl_print__grd1_gr-12 (2).zip](https://github.com/astpl1998/Kanam-Latex/files/3835987/pppl_print__grd1_gr-12.2.zip)
[pppl_grid_n_gr-12.zip](https://github.com/astpl1998/Kanam-Latex/files/3835996/pppl_grid_n_gr-12.zip)

[2019-11-12 13:10] Manimahat commented on #215
Hi Srinivasan,

As discussed, I have assigned this Handout to You. Kindly check and update for the Final Verification.

Regards,
Manivel A

[2019-11-12 13:21] srinivasanbaskaran commented on #84
Sir,

Overall Stock Valuation Report testing has been completed. Herewith I have attached Testing Documents for future references.

PFS: [Overall Stock Valuation Report_New Activity Cum Report.xlsx](https://github.com/astpl1998/Kanam-Latex/files/3836269/Overall.Stock.Valuation.Report_New.Activity.Cum.Report.xlsx)

DELIVERABLES: [over_all_stock_report_v3.zip](https://github.com/astpl1998/Kanam-Late

[2019-11-12 14:57] Ugeshkumar16 commented on #39
Dear Srinivasan,
Testing 2 Completed
kindly find the attachments
[commercial invoice 47.pdf](https://github.com/astpl1998/Kanam-Latex/files/3836707/commercial.invoice.47.pdf)
[Rework_Test Case For Commercial Invoice - 47.xlsx](https://github.com/astpl1998/Kanam-Latex/files/3836709/Rework_Test.Case.For.Commercial.Invoice.-.47.xlsx)

Regards,
S.Ugeshkumar

[2019-11-12 15:06] Ugeshkumar16 commented on #201
Dear Srinivasan,
Testing one completed,
kindly find the attachments.
[shipping invoice no 50.pdf](https://github.com/astpl1998/Kanam-Latex/files/3836741/shipping.invoice.no.50.pdf)
[Rework_Test Case For Shipping Invoice - 50.xlsx](https://github.com/astpl1998/Kanam-Latex/files/3836743/Rework_Test.Case.For.Shipping.Invoice.-.50.xlsx)

Regards,
S.Ugeshkumar

[2019-11-12 16:52] srinivasanbaskaran commented on #201
Akash,

Kindly start the Testing 2 & Prepare the Testing Documents

Regards,

Srinivasan Baskaran

[2019-11-13 05:10] maheshwaran-m commented on #35
Deffered.

[2019-11-13 05:10] #35 closed

[2019-11-13 05:33] Dhanwandher commented on #212
Dear Akash....

Changes has been done please and revert back....

Regards....
S.Dhanwandher...
[Fixed Asset.Training.Handout_v1.2.docx](https://github.com/astpl1998/Kanam-Latex/files/3839545/Fixed.Asset.Training.Handout_v1.2.docx)

[2019-11-13 07:13] Duraisingam-G commented on #69
Dear Raju Sir,
This report could not be opened.. find the attachment for your ref.
![image](https://user-images.githubusercontent.com/37896999/68741274-33b70880-0613-11ea-8d5c-41f4d8b96dbc.png)

[2019-11-13 07:24] raju-kurup commented on #216
Handouts found OK. so closing this ticket

[2019-11-13 07:24] #216 closed

[2019-11-13 07:40] raju-kurup commented on #211
Senthil murugan - Transfer this to customer

[2019-11-13 07:40] #211 closed

[2019-11-13 07:58] raju-kurup commented on #210
Senthil murugan - Change the screenshot in page no: 6 and check all other screenshots

[2019-11-13 08:08] raju-kurup commented on #209
Senthilmurugan - Please change the screenshot of Page 6 and check other screenshots also

[2019-11-13 08:48] Senthilmurugan-B commented on #210
Dear sir,
Herewith i have attached Updated Handout for your reference.
[Kanam_Sales_Handout_Document_v.1.6.docx](https://github.com/astpl1998/Kanam-Latex/files/3840183/Kanam_Sales_Handout_Document_v.1.6.docx)

[2019-11-13 09:04] Senthilmurugan-B commented on #209
Dear sir,
Herewith i have attached Updated Handout For your reference.
[Quality_Mgnt_Handout_v1.4.docx](https://github.com/astpl1998/Kanam-Latex/files/3840237/Quality_Mgnt_Handout_v1.4.docx)

[2019-11-13 09:17] Senthilmurugan-B commented on #208
Dear sir,
Herewith i have attached Updated handout For Your reference.
[Kanam_Maintenance_Handout_v1.8.docx](https://github.com/astpl1998/Kanam-Latex/files/3840298/Kanam_Maintenance_Handout_v1.8.docx)

[2019-11-13 09:22] Ugeshkumar16 commented on #95
Dear Arunachalam
Created two production order and Report Production also did.
In these, GLOVES STOCK MONTHLY RECON REPORT stock not updated in the report.

GLOVES STOCK MONTHLY RECON REPORT not updated
Item Code: KWGPONR0135UR, Variant:  6.5, UOM: PCS
Production Order No: AP1920/0000033
Report Production: A/REP/1920/001097 and Quantity: 1000

GLOVES STOCK MONTHLY RECON REPORT updated.
Item Code: K

[2019-11-13 12:45] raju-kurup commented on #210
Senthilmurugan - please send the document to customer

[2019-11-13 12:45] #210 closed

[2019-11-13 12:51] raju-kurup commented on #209
Senthil Murugan - please transfer this file to customer

[2019-11-13 12:51] #209 closed

[2019-11-13 13:07] raju-kurup commented on #208
Senthil Murugan - Please send this handout to customer

[2019-11-13 13:07] #208 closed

[2019-11-13 13:35] raju-kurup commented on #207
Please align the Qty column to right side and all date in the center

[2019-11-13 13:38] raju-kurup commented on #202
Development completed and ticket is closed

[2019-11-13 13:43] raju-kurup commented on #200
Development completed and testing 2 passed, so closing this ticket

[2019-11-13 13:53] raju-kurup commented on #199
Name of the buyer is not coming in the print. Please check

[2019-11-13 13:55] raju-kurup commented on #148
Development completed and ticket is closed

[2019-11-13 14:07] raju-kurup commented on #40
Senthil Murugan - Please check the consignee address column and confirm

[2019-11-13 14:10] raju-kurup commented on #37
Senthil Murugan - Please check the customer address format and centre the column heading.

[2019-11-13 14:28] raju-kurup commented on #20
Senthil Murugan - Please check the alignment of the Rate and Amount and heading of the columns

[2019-11-13 14:32] raju-kurup commented on #84
Duraisingam - Please align the item code in left align.

[2019-11-13 16:07] raju-kurup commented on #189
Dhanwandher - Please release this handout to customer

[2019-11-13 16:07] #189 closed

[2019-11-13 16:11] raju-kurup commented on #188
Dhanwander - Please release the handout to customer

[2019-11-13 16:11] #188 closed

[2019-11-13 16:14] raju-kurup commented on #187
Dhandwander - Change the screenshot in page no : 7

[2019-11-13 16:18] raju-kurup commented on #186
Dhanwander - Payable Handouts to be splited into two of Book-keeping and Payable Management and look into the screen shots present

[2019-11-14 07:23] AkashGleen commented on #201
Dear Srini.......

Shipping Invoice 2 Testing Completed Kindly Check and Update

Regards,

Akash
[Test, Case, For, Shipping, Invoice, v1.1.xlsx](https://github.com/astpl1998/Kanam-Latex/files/3845141/Test.Case.For.Shipping.Invoice.v1.1.xlsx)
[shipping, invoice, no,192.pdf](https://github.com/astpl1998/Kanam-Latex/files/3845142/shipping.invoice.no.192.pdf)

[2019-11-14 09:46] srinivasanbaskaran commented on #215
Sir,

Herewith I have attached Purchase & Subcontract Handout.

Kindly proceed further

HANDOUT: [Purchase.and.Subcontracting.Handout v.1.2.docx](https://github.com/astpl1998/Kanam-Latex/files/3845745/Purchase.and.Subcontracting.Handout.v.1.2.docx)

Regards,
Srinivasan Baskaran

[2019-11-14 09:58] Duraisingam-G commented on #84
Srini,
As discussed, please do need needful.

[2019-11-14 09:59] srinivasanbaskaran commented on #84
Nandhinee,

Please correct the MOVING STOCK column to the LEFT alignment.

Please do the needful ASAP.

Regards,
Srinivasan Baskaran

[2019-11-14 10:12] Nandhineedevi commented on #84
Hi,
I have left aligned the Moving stock column.

Regards
Nandhinee Devi

[2019-11-15 04:21] Senthilmurugan-B commented on #207
@karthikeyanamitysoft
kindly Change Qty column in left align and all dates (pack slip date,Invoice date) in the centre
![lot to inv](https://user-images.githubusercontent.com/38855380/68916755-608f2b00-078d-11ea-8524-7322d3987af1.jpg)

[2019-11-15 05:19] Dhanwandher commented on #44
Dear Srini....

Please find the revised Payment advice trigger PFS...

Regards.
S.Dhanwandher...
[Revised_Payment_advice_PFS.xlsx](https://github.com/astpl1998/Kanam-Latex/files/3849911/Revised_Payment_advice_PFS.xlsx)

[2019-11-15 05:19] Senthilmurugan-B commented on #199
@badamnarendra028
kindly check the Buyer name is not coming. make qty column data left align,  next tax code and tax amount wrongly fetching
refer screen shot, we need CGST9%   4275.00
                                           SGST9%    4275.00
reference sale order no : KLPDSO/1920/0004,  OU : Peruvilai
![dom proforma inv2](https://user-images.githubusercontent.com/38855380/68918765-9afcc600-0795

[2019-11-15 05:41] Senthilmurugan-B commented on #40
@Ugeshkumar16
as we discussed kindly change the Consignee column data.

[2019-11-15 06:53] Ugeshkumar16 commented on #40
@Senthilmurugan-B
As per discussion correction has been completed.
![image](https://user-images.githubusercontent.com/48987324/68922779-938fe980-07a2-11ea-81d4-2e0fd0e2adc6.png)

Regards,
S.Ugeshkumar

[2019-11-15 06:58] Senthilmurugan-B commented on #37
Dear sir,
changes completed kindly check and close the issue.
![proforma inv new](https://user-images.githubusercontent.com/38855380/68923060-5d9f3500-07a3-11ea-93c8-f39f042f229f.jpg)

[2019-11-15 07:01] Senthilmurugan-B commented on #40
Dear sir,
changes completed kindly check and close the issue.

[2019-11-15 07:03] Senthilmurugan-B commented on #85
basha
Kindly list your doubts

[2019-11-15 07:36] Senthilmurugan-B commented on #20
@Nandhineedevi
As we discussed kindly change
1".Due on" need to change small letter
2. rate,amount,cgstand sgst amount ,total amount data  need to do right alignment.....
![po1](https://user-images.githubusercontent.com/38855380/68925192-84ac3580-07a8-11ea-9b0e-ed4a4cc1f651.jpg)
![po](https://user-images.githubusercontent.com/38855380/68925193-84ac3580-07a8-11ea-8b4c-ace9518f64a0.jpg)

[2019-11-15 07:54] srinivasanbaskaran commented on #84
Sir,

Overall Stock Valuation Report testing & correction also has been completed. Herewith I have attached Testing Documents for future references.

PFS: [Overall Stock Valuation Report_New Activity Cum Report.xlsx](https://github.com/astpl1998/Kanam-Latex/files/3836269/Overall.Stock.Valuation.Report_New.Activity.Cum.Report.xlsx)

DELIVERABLES: [over_all_stock_report_v3.zip](https://github.com/as

[2019-11-15 07:55] srinivasanbaskaran commented on #84
Sir,

As per our discussion, changes has been completed..

Regards,
Srinivasan Baskaran

[2019-11-15 08:09] srinivasanbaskaran commented on #44
Sir,

Payment Advise Trigger testing has been completed.

Herewith I have attached Testing Documents for future references.

PFS: [Revised_Payment_advice_PFS.xlsx](https://github.com/astpl1998/Kanam-Latex/files/3850417/Revised_Payment_advice_PFS.xlsx)

DELIVERABLES: [trigger_neww.zip](https://github.com/astpl1998/Kanam-Latex/files/3850418/trigger_neww.zip)

TEST CASE1: [Payment.Advice.Trigger.Test

[2019-11-15 10:19] srinivasanbaskaran commented on #201
Sir,

Shipping Invoice - Rework Testing has been completed. Herewith I have attached Testing documents for future references.

PFS: [updated_PFS_Shipping.Invoice.UDS.Print_v1.2.xlsx](https://github.com/astpl1998/Kanam-Latex/files/3850973/updated_PFS_Shipping.Invoice.UDS.Print_v1.2.xlsx)

DELIVERABLES1: [prshship_print__grd1_gr--11.zip](https://github.com/astpl1998/Kanam-Latex/files/3850976/prshshi

[2019-11-15 10:30] srinivasanbaskaran commented on #39
Sir,

Commercial Invoice corrections made as per the customer's requirements.

Herewith I have attached Testing Documents for the Furutre references.

PFS: [Updated_Commercial_Invoice_PFS_v1.2.xlsx](https://github.com/astpl1998/Kanam-Latex/files/3851037/Updated_Commercial_Invoice_PFS_v1.2.xlsx)

TESTCASE: [Rework_Test.Case.For.Commercial.Invoice.-.47.xlsx](https://github.com/astpl1998/Kanam-Latex/

[2019-11-15 10:31] badamnarendra028 commented on #199
[nsovsok_print__grd1_gr-15.zip](https://github.com/astpl1998/Kanam-Latex/files/3851043/nsovsok_print__grd1_gr-15.zip)
completed kindly check

[2019-11-15 10:42] Senthilmurugan-B commented on #33
@GayuSri
Herewith i have attached Updated PFS for Artwork change note for your reference.
kindly refer.
[UPDATED_Kanam_Art Work change Note_PFS.xlsx](https://github.com/astpl1998/Kanam-Latex/files/3851087/UPDATED_Kanam_Art.Work.change.Note_PFS.xlsx)

[2019-11-15 12:27] Nandhineedevi commented on #20
Hi Senthil,
I have completed the changes as discussed. Kindly check and revert back.

![po](https://user-images.githubusercontent.com/52193780/68943498-5f7fed00-07d1-11ea-9bac-4fa43d8a36dc.jpg)

Regards
Nandhinee Devi

[2019-11-15 13:05] srinivasanbaskaran commented on #212
Dhanwandher,

Kindly check & Close the Fixed Asset Handout.

HANDOUT: [Fixed.Asset.Training.Handout_v1.3.docx](https://github.com/astpl1998/Kanam-Latex/files/3851571/Fixed.Asset.Training.Handout_v1.3.docx)

Regards,
Srinivasan Baskaran

[2019-11-16 02:07] Senthilmurugan-B commented on #199
@badamnarendra028
Igst tax amount missing,kindly check
reference Sale order no : KLPDSO/1920/0001 , ou : Peruvilai
![2019-11-16_7-29-58](https://user-images.githubusercontent.com/38855380/68986281-b6bea580-0843-11ea-9138-a9c2ee7cba82.jpg)

[2019-11-16 02:14] Senthilmurugan-B commented on #20
Dear sir,
Changes completed kindly check and close the issue.

[2019-11-16 07:44] badamnarendra028 commented on #199
[nsovsok_print__grd1_gr-15 (2).zip](https://github.com/astpl1998/Kanam-Latex/files/3853938/nsovsok_print__grd1_gr-15.2.zip)
completed

[2019-11-16 10:39] srinivasanbaskaran commented on #40
Dear Sir,

Changes completed as per our discussion... Herewith I have attached Test Result

Corrected Test Result: [Packing List Report - Test Result2.pdf](https://github.com/astpl1998/Kanam-Latex/files/3854080/Packing.List.Report.-.Test.Result2.pdf)

Regards,
Srinivasan Baskaran

[2019-11-16 10:40] srinivasanbaskaran commented on #40
Sir,

Packing List Report Testing has been completed. Herewith I have attached Testing Documents for future references..

PFS: [updated_01_.Packing.List_.12.sep.2019_v1.0.xlsx](https://github.com/astpl1998/Kanam-Latex/files/3818065/updated_01_.Packing.List_.12.sep.2019_v1.0.xlsx)

DELIVERABLES: [nsoinpr_inv_p1_grd1_gr-30.zip](https://github.com/astpl1998/Kanam-Latex/files/3818066/nsoinpr_inv_p1_gr

[2019-11-18 04:44] Senthilmurugan-B commented on #199
Dear sir,
Changes Completed kindly check and close the issue.

[2019-11-18 07:59] karthikeyanamitysoft commented on #207
Sir i already informed that it is not possible in DCUBE report.
If we want like that then we go for DW reports with EDK or IEDK screen.

Regards,
Karthi

[2019-11-19 07:35] raju-kurup commented on #199
Srini- doing 2 testing and mention all detail and transfer

[2019-11-19 09:34] raju-kurup commented on #202
Senthil - Please include the points needed by Talitha madam.

[2019-11-19 10:05] Senthilmurugan-B commented on #202
Dear sir,
As per Talita Madam advice " we need to include Port of loading and port of Discharge in Work order print from sale order"

[2019-11-19 11:05] badamnarendra028 commented on #37
[nsoinpr_inv_p1_grd1_gr--19.zip](https://github.com/astpl1998/Kanam-Latex/files/3863420/nsoinpr_inv_p1_grd1_gr--19.zip)

[2019-11-19 11:06] badamnarendra028 commented on #199
[nsovsok_print__grd1_gr--19.zip](https://github.com/astpl1998/Kanam-Latex/files/3863422/nsovsok_print__grd1_gr--19.zip)

[2019-11-20 05:38] Arunachalamamitysoft commented on #95
Dear ugesh,
 Development completed, kindly check and revert it back.

[2019-11-20 09:31] Senthilmurugan-B commented on #202
@Team:
Rtrack KLE-469 raised for shipping details issue once ramce resolved issue then only we can include  Port of loading and port of Discharge.

[2019-11-21 11:17] Senthilmurugan-B commented on #37
Dear team,
As per Customer requirement we need to attach L/C terms and conditions as a second page in print out, Waiting for Confirmation mail from customer.

[2019-11-25 11:51] Senthilmurugan-B commented on #37
@badamnarendra028
kindly refer Green color field (18,N12 and N13)  in PFS (column level requirements)
1. No .18 Packing details logic changed refer updated PDF (  am included packing information in UDS screen from that packing information we need to fetch to print )
2. IF A PAY TERMS START AS L/C THEN WE NEED TO PRINT THE L/C  TERMS AND CONDITIONS CONTENTS as a separate last page  ---- N12
3. L/C

[2019-11-26 06:38] srinivasanbaskaran commented on #199
Sir,

Report Testing completed. Mentioned chenges are completed.

Test Result 2: [DOMESTIC SALES PROFOMA INVOICE.pdf](https://github.com/astpl1998/Kanam-Latex/files/3890389/DOMESTIC.SALES.PROFOMA.INVOICE.pdf)

Regards,

Srinivasan Baskaran

[2019-11-26 06:39] srinivasanbaskaran commented on #199
Sir,

Proforma Invoice print from Domestic Sale Order report testing has been completed.

Herewith Testing Documents are attached for future references.

PFS: [updated_02_PFS_FOR._UDS.Print._Domestic.sales.proforma.invoice.print.xlsx](https://github.com/astpl1998/Kanam-Latex/files/3834927/updated_02_PFS_FOR._UDS.Print._Domestic.sales.proforma.invoice.print.xlsx)

DELIVERABLES: [kle-454.zip](https:

[2019-11-26 06:41] srinivasanbaskaran commented on #199
Sir,

Mentioned changes & Templates are corrected .. Kindly do the needful for further process..

Regards,

Srinivasan Baskaran

[2019-11-26 07:34] Dhanwandher commented on #49
Dear Karthi.....

Please correct the following errors....

1.Received amount is coming wrong.
2.Balance amount is calculated wrongly.  
3.Greater than 30,Greater than 45,Greater than 60 calculated wrongly.

Regards....
S.Dhanwandher
[Trigger issue.xlsx](https://github.com/astpl1998/Kanam-Latex/files/3890553/Trigger.issue.xlsx)

[2019-11-27 05:22] basha123456 commented on #85
senthil,

please check the report

[2019-11-27 11:36] Ugeshkumar16 commented on #95
Dear Srinivasan,
Testing 2 is completed.
Kindly find the attachments and check it.
[Gloves Stock Monthly Report 19.11.2019 to 25.11.2019.xlsx](https://github.com/astpl1998/Kanam-Latex/files/3896632/Gloves.Stock.Monthly.Report.19.11.2019.to.25.11.2019.xlsx)
[70 AMB glv stk report 1.pdf](https://github.com/astpl1998/Kanam-Latex/files/3896637/70.AMB.glv.stk.report.1.pdf)
[75 AMB glv stk report 1.pdf]

[2019-11-28 09:28] Arunachalamamitysoft commented on #95
Updated Deliverables
[Gloves  deliverables finals V1.0.zip](https://github.com/astpl1998/Kanam-Latex/files/3900889/Gloves.deliverables.finals.V1.0.zip)

[2019-11-28 12:21] srinivasanbaskaran commented on #95
Arun,
Kindly made the changes as per the points:

1. Logo need to insert
2. All the Transaction Type should be LEFT align
3. Total Qty should be in a next column to the Qty column
4. Overall design to be change

Kindly made the changes as per our discussion & update the same after the completion

Regards,
Srinivasan Baskaran

[2019-11-30 05:59] Senthilmurugan-B commented on #213
Dear Karthik,
Herewith i have attached PFS for, kindly start the Development.
[PFS.FOR_COBI  Email Trigger_HTML FORMAT.xlsx](https://github.com/astpl1998/Kanam-Latex/files/3906774/PFS.FOR_COBI.Email.Trigger_HTML.FORMAT.xlsx)
Note   :
1.design   - HTML
2.   refer the Customer email address from Customer master   
3.when we will Edit & Authorize  and Authorize the Customer Order Based  Invoice mail

[2019-12-02 07:04] Manimahat commented on #49
Hi All,

 As Discussed with Dhanwandhar There is no changes in this ticket. So I Assigned this ticket to Dhanwandhar.

Regards,
Manivel A

[2019-12-04 07:42] raju-kurup commented on #47
Configuration done and working in test server

[2019-12-04 07:43] #47 closed

[2019-12-04 07:46] raju-kurup commented on #204
As per senthil, configuration was completed

[2019-12-04 07:46] #204 closed

[2019-12-05 12:20] Arunachalamamitysoft commented on #95
Dear Srini ,
Changes are done.kindly check and reavert it back

[2019-12-06 07:35] srinivasanbaskaran commented on #95
Dear Arun,

Kindly made the changes as per below points:

1. Item code & Variant are not a mandatory field. ( Remove the Validation )
2. Rename SUB TOTAL to TOTAL.
3. ADD TOTAL to be removed. Value of ADD TOTAL to be come in next column.

Please do the above mentioned changes & Incase of any doubts while changes, please let me know

Regards,
Srinivasan Baskaran

[2019-12-06 10:50] Senthilmurugan-B commented on #85
Dear naren,
As we discussed i have changed the table design kindly refer in updated PFS.
[Updated_01_PFS.FOR_Parameter Value Graph Report New Activity cum_Report.xlsx](https://github.com/astpl1998/Kanam-Latex/files/3931788/Updated_01_PFS.FOR_Parameter.Value.Graph.Report.New.Activity.cum_Report.xlsx)

[2019-12-20 08:12] Duraisingam-G commented on #87
Not able to test... Consumption summary details wrongly shown,
Rtrack Raised - KLE-481

[2019-12-23 07:36] Jeyapriyat commented on #198
@Duraisingam-G @knovakaspar
report completed,kindly check and revert

[2019-12-23 07:38] Jeyapriyat commented on #180
@Duraisingam-G @knovakaspar
report completed,kindly check

[2019-12-23 07:51] Jeyapriyat commented on #76
@Duraisingam-G
Kindly provide the test data

[2019-12-26 06:47] Senthilmurugan-B commented on #202
@ jeya priya
Herewith i have attached update PFS for your perusal kindly do the changes.
am included N1- Port Of Loading N2 - Port Of Discharge kindly refer sheet1.
[Updated_PFS_Work_Order_From_Sale_Order_v1.1.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4001633/Updated_PFS_Work_Order_From_Sale_Order_v1.1.xlsx)

[2019-12-26 06:54] Senthilmurugan-B commented on #130
@raju-kurup
we got sign off for EAM module kindly close the ticket.

[2019-12-26 06:57] Senthilmurugan-B commented on #129
@raju-kurup
we got sign off for sales module kindly close the ticket.

[2019-12-26 07:02] Senthilmurugan-B commented on #127
@raju-kurup
we got sign off for purchase and subcontracting module kindly close the ticket.

[2019-12-26 07:03] Senthilmurugan-B commented on #128
@raju-kurup
we got sign off for inventroy and PICC module kindly close the ticket.

[2020-01-02 08:21] Dhanwandher commented on #212
Sir....

Checked and Handout is correct.....

Regards.
S.Dhanwandher.

[2020-01-02 09:11] GayuSri commented on #161
Latest Deliverable has been attached here.
[RPKRR_DELIVERABLES_V_1.0.zip](https://github.com/astpl1998/Kanam-Latex/files/4015361/RPKRR_DELIVERABLES_V_1.0.zip)

[2020-01-02 10:24] Duraisingam-G commented on #180
JP,
Find the enclosed file for final design changes details, once completed the changes please let me know, ill update the coding logic for all new fields.
[Kanam Planning Information -PFS_Rev_1.4.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4015528/Kanam.Planning.Information.-PFS_Rev_1.4.xlsx)

[2020-01-03 05:54] Duraisingam-G commented on #147
Hi,
I have enclosed the production order automation final changes - Design changes only.
new field i have highlighted in green color.
before starting the work
[Production Order Automation - PFS_Rev_18.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4018219/Production.Order.Automation.-.PFS_Rev_18.xlsx)
 please let me know, ill explain the all new fields.

[2020-01-03 06:30] Jeyapriyat commented on #202
@Senthilmurugan-B
changes completed,kindly check and revert.
dw report name  : work_order_print
i have attached latest deliverables.
[kle-420 v1.3 work order print .zip](https://github.com/astpl1998/Kanam-Latex/files/4018277/kle-420.v1.3.work.order.print.zip)

[2020-01-03 07:44] Jeyapriyat commented on #180
@Duraisingam-G
i hava attached latest deliverables.
[kle-453(HAPN) help paln v1.0.zip](https://github.com/astpl1998/Kanam-Latex/files/4018419/kle-453.HAPN.help.paln.v1.0.zip)
[kle-453(HOSTOIC) help sto item v1.0.zip](https://github.com/astpl1998/Kanam-Latex/files/4018420/kle-453.HOSTOIC.help.sto.item.v1.0.zip)
[kle-453(KAPN) main v1.0.zip](https://github.com/astpl1998/Kanam-Latex/files/4018421/kle

[2020-01-03 08:57] Duraisingam-G commented on #180
Jp: Planning Process unit lens search screen.
[Planning Process Unit - Lens search.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4018559/Planning.Process.Unit.-.Lens.search.xlsx)

[2020-01-03 11:12] Senthilmurugan-B commented on #202
Dear srini,
Testing 1 completed kindly proceed next level.
[Updated_TEST CASE_1 _ work order from sale order.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4018885/Updated_TEST.CASE_1._.work.order.from.sale.order.xlsx)
[Updated_Test 1 Result_work order from SO.pdf](https://github.com/astpl1998/Kanam-Latex/files/4018886/Updated_Test.1.Result_work.order.from.SO.pdf)

[2020-01-03 11:34] srinivasanbaskaran commented on #202
Mani,

Kinsly start the testing this report & Prepare the Testing Documents

Regards,
Srinivasan Baskaran

[2020-01-03 11:39] Duraisingam-G commented on #87
Gayathri,
Please go throw the PFS & continue to the rework in this report.
Find the test data for your ref.
[Latex yield report - test data and test result New .xlsx](https://github.com/astpl1998/Kanam-Latex/files/4018943/Latex.yield.report.-.test.data.and.test.result.New.xlsx)

[2020-01-03 12:47] Manimahat commented on #202
Hi Srinivasan,

Testing 2 completed Kindly proceed further.

Test case_2 :
[Updated_TEST.CASE_2._.work.order.from.sale.order.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4019120/Updated_TEST.CASE_2._.work.order.from.sale.order.xlsx)

Result_2 :
[SO FROM WORK ORDER PRINT.pdf](https://github.com/astpl1998/Kanam-Latex/files/4019122/SO.FROM.WORK.ORDER.PRINT.pdf)

Regards,
Manivel A

[2020-01-04 10:47] GayuSri commented on #33
Design changes has been done. Rtrack raised for deliverables. Rtrack id : KLE-485

Thanks & Regards,
Gayathri P

[2020-01-06 09:36] raju-kurup commented on #202
Dear Srini,

Please attach the needed document and assign me

[2020-01-06 09:37] raju-kurup commented on #20
Dear Srini,

Please attach the latest data and assign me.

[2020-01-06 11:01] raju-kurup commented on #44
As discussed, please check with supplier bank details and generate a trigger.

[2020-01-06 11:15] raju-kurup commented on #84
Dear Srini,

Please update the PFS and test data.

[2020-01-06 11:17] raju-kurup commented on #201
Development closed and testing completed

[2020-01-06 11:19] raju-kurup commented on #199
Dear Srini,
Attach the list of document and forward to me.

[2020-01-06 11:23] raju-kurup commented on #40
Development completed and tested.

[2020-01-06 11:30] raju-kurup commented on #39
Dear Srini,
Please attach the details and forward to me

[2020-01-07 07:26] Dhanwandher commented on #44
Dear Sir.

Please find the the screenshot for the Supplier bank details for the same.

Regards.
S.Dhanwandher.
![Payment Advice trigger](https://user-images.githubusercontent.com/50094013/71876572-02f3db00-314d-11ea-9952-6061bdce5728.png)

[2020-01-07 09:09] srinivasanbaskaran commented on #199
Sir,

This ticket is updated with respect to Testing Documents

Regards,
Srinivasan Baskaran

[2020-01-07 10:42] knovakaspar commented on #76
Dear jeyapriya

Please find the test data for your reference.
[Daily.production.Line.Rejection.Summary.report.v2 (1).xlsx](https://github.com/astpl1998/Kanam-Latex/files/4030180/Daily.production.Line.Rejection.Summary.report.v2.1.xlsx)

[2020-01-07 11:44] Ugeshkumar16 commented on #202
@Jeyapriyat,
As per customer requirement, kindly need some modification.

item short   description should come
size and qty inbetween unit  price should come
replace variant as the brand name

Regards,
S.Ugeshkumar

[2020-01-08 07:08] Arunachalamamitysoft commented on #95
Dear srinivasan,
Changes are done,kindly check and revert it back.

regards,
Arunachalam.

[2020-01-08 07:09] Arunachalamamitysoft commented on #95
updated deliverables,
[Glove_stock_recon _updated_sp.zip](https://github.com/astpl1998/Kanam-Latex/files/4033966/Glove_stock_recon._updated_sp.zip)

[2020-01-09 10:28] Ugeshkumar16 commented on #200
@Nandhineedevi
As per customer requirement, need some modifications in the report.
1. Need to add (BIN: AABCK0056E FT001)- Hardcoded  in Other references
2. Need to change the column name as "Reference / Brand" instead of "product code/item code/ brand".
3. Need to change the name product code to reference: that logic also has taken proforma invoice >> CONTRACT L/C DETAILS >> NOTIFY PARTY

4. NEED

[2020-01-10 05:06] Duraisingam-G commented on #180
JP,
Find the enclosed file for final design changes details, once completed the changes please let me know, ill update the coding logic for all new fields.
[Kanam Planning Information -PFS_Rev_1.4.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4044042/Kanam.Planning.Information.-PFS_Rev_1.4.xlsx)

[2020-01-10 06:38] Nandhineedevi commented on #200
Hi Ugesh,
The above rework has been completed. Kindly check and revert back.

[Shipping_pack_list_uds_v1.4.zip](https://github.com/astpl1998/Kanam-Latex/files/4044249/Shipping_pack_list_uds_v1.4.zip)

Regards
Nandhinee Devi

[2020-01-10 12:14] GayuSri commented on #147
Design changes has been done. Rtrack raised for deliverables. Rtrack id : KLE-489

[2020-01-12 07:10] srinivasanbaskaran commented on #84
Raju Sir,

Overall Stock Valuation Report testing & correction also has been completed. Herewith I have attached Testing Documents for future references.

PFS: [Overall Stock Valuation Report_New Activity Cum Report.xlsx](https://github.com/astpl1998/Kanam-Latex/files/3836269/Overall.Stock.Valuation.Report_New.Activity.Cum.Report.xlsx)

DELIVERABLES: [over_all_stock_report_v3.zip](https://github.c

[2020-01-12 09:33] srinivasanbaskaran commented on #39
Raju Sir,

Commercial Invoice corrections made as per the customer's requirements.

Herewith I have attached Testing Documents for the Furutre references.

PFS: [Updated_Commercial_Invoice_PFS_v1.2.xlsx](https://github.com/astpl1998/Kanam-Latex/files/3851037/Updated_Commercial_Invoice_PFS_v1.2.xlsx)

TESTCASE: [Rework_Test.Case.For.Commercial.Invoice.-.47.xlsx](https://github.com/astpl1998/Kanam-L

[2020-01-12 10:16] srinivasanbaskaran commented on #199
Raju Sir,

Proforma Invoice print from Domestic Sale Order report testing has been completed.

Herewith Testing Documents are attached for future references.

PFS: [updated_02_PFS_FOR._UDS.Print._Domestic.sales.proforma.invoice.print.xlsx](https://github.com/astpl1998/Kanam-Latex/files/3834927/updated_02_PFS_FOR._UDS.Print._Domestic.sales.proforma.invoice.print.xlsx)

DELIVERABLES: [kle-454.zip](h

[2020-01-13 06:20] Ugeshkumar16 commented on #202
@Jeyapriyat
herewith attached the updated PFS
In PFS,
Refer sheet no: 1which is mentioned in green colour should be changed. (i.e. N3 and 8).
Below brand details multiline we need to remove the "Remarks" field.
[Updated_PFS_Work_Order_From_Sale_Order_v1.2.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4052284/Updated_PFS_Work_Order_From_Sale_Order_v1.2.xlsx)

[2020-01-13 06:54] raju-kurup commented on #205
Issue closed

[2020-01-13 06:54] #205 closed

[2020-01-13 07:07] raju-kurup commented on #148
Opened after the review of production user review

[2020-01-13 07:09] raju-kurup commented on #213
Dear Karthi,
Please start the trigger as per the PFS attached

[2020-01-13 07:11] Duraisingam-G commented on #148
Jp,
Find the attached file for your ref.
Kindly do the changes in this automation.
i have highlighted in green color, first u will completed the design changes, than ill explain the field logic.
if any clarification needed please let me know.
[Material Allocation for Production Order - PFS_Rev8.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4052393/Material.Allocation.for.Production.Order.-.

[2020-01-13 09:20] #177 closed

[2020-01-13 09:20] #203 closed

[2020-01-13 09:21] #168 closed

[2020-01-14 06:27] Jeyapriyat commented on #202
@Ugeshkumar16 @Senthilmurugan-B
changes completed,kindly check and revert.
dw report name : work_order_print
i have attached latest deliverables.
[kle-420 v1.4 work order print.zip](https://github.com/astpl1998/Kanam-Latex/files/4057636/kle-420.v1.4.work.order.print.zip)

[2020-01-14 06:29] Jeyapriyat commented on #148
i have attached latest deliverables.
[kle-410 v1.0.zip](https://github.com/astpl1998/Kanam-Latex/files/4057654/kle-410.v1.0.zip)

[2020-01-14 07:28] Duraisingam-G commented on #198
Dear JP,
Find the enclosed file for your ref.
Refer the "Add Changes" sheet in the attached excel and do the changes.
If u need any further clarification please let me know.
[create and authorize -Barcode EDK.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4057832/create.and.authorize.-Barcode.EDK.xlsx)

[2020-01-17 05:30] Dhanwandher commented on #44
Dear Karthik.....

Please find the revised PFS for Payment Advice trigger.....

Regards...
S.Dhanwandher...
[Revised_Payment_advice_PFS.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4075187/Revised_Payment_advice_PFS.xlsx)

[2020-01-17 05:44] Duraisingam-G commented on #161
Dear Gayathri,
Find the attached PFS and do the changes.
If u any clarification please let me know.
[V_1.4_Report Production Cum Resource Reporting_PFS.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4075215/V_1.4_Report.Production.Cum.Resource.Reporting_PFS.xlsx)

[2020-01-17 06:55] GayuSri commented on #161
Dear Duraisingam,
I have doubts in the latest PFS. Need some clarification from your side.

[2020-01-17 11:28] Jeyapriyat commented on #198
i have attached latestdeliverables.
[KLE-480 v1.0.zip](https://github.com/astpl1998/Kanam-Latex/files/4076574/KLE-480.v1.0.zip)

[2020-01-17 11:58] Dhanwandher commented on #49
Karthi.....

Please find the revised PFS Receipt acknowledgment......
[PFS.FOR_Customer.Payment.Acknowledgement_revised.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4076655/PFS.FOR_Customer.Payment.Acknowledgement_revised.xlsx)

[2020-01-21 09:20] raju-kurup commented on #215
Please share it to customer

[2020-01-21 09:20] #215 closed

[2020-01-21 09:22] raju-kurup commented on #212
Please share it to customer

[2020-01-21 09:22] #212 closed

[2020-01-21 09:23] Ugeshkumar16 commented on #202
@srinivasanbaskaran
kindly find the attachments.
[work order print out updated.pdf](https://github.com/astpl1998/Kanam-Latex/files/4090170/work.order.print.out.updated.pdf)
[Updated_TEST.CASE _work.order.from.sale.order.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4090171/Updated_TEST.CASE._work.order.from.sale.order.xlsx)

Regards,
S.Ugeshkumar.

[2020-01-21 09:25] raju-kurup commented on #207
Customer accepted the report

[2020-01-21 09:27] raju-kurup commented on #187
Please share it to customer

[2020-01-21 09:27] #187 closed

[2020-01-21 09:28] raju-kurup commented on #186
Please share it to customer

[2020-01-21 09:28] #186 closed

[2020-01-21 09:29] raju-kurup commented on #84
Development completed and tested.

[2020-01-21 09:33] raju-kurup commented on #125
All reports and configuration done for UAT

[2020-01-21 09:33] #125 closed

[2020-01-21 09:35] raju-kurup commented on #130
Training and UAT completed

[2020-01-21 09:35] #130 closed

[2020-01-21 09:35] raju-kurup commented on #129
Training and UAT completed

[2020-01-21 09:35] #129 closed

[2020-01-21 09:37] raju-kurup commented on #127
Training and UAT completed

[2020-01-21 09:37] #127 closed

[2020-01-21 09:41] Dhanwandher commented on #126
Training completed in both Nagercoil and Kottayam

[2020-01-21 09:41] raju-kurup commented on #126
Training completed

[2020-01-21 09:41] #126 closed

[2020-01-21 10:45] Senthilmurugan-B opened #217 "LSC-LIVE SERVER CONFIGURATION"
Waiting for server

[2020-01-21 10:49] Senthilmurugan-B opened #218 "MDC-Live Server Master Collection - Fixed Asset - 311_KCLP_Ettumanoor"
WAITING FOR SERVER

[2020-01-21 10:51] Senthilmurugan-B opened #219 "MDC-Live Server Master Collection - Finance - 311_KCLP_Ettumanoor"
WAITING FOR SERVER

[2020-01-21 10:53] Senthilmurugan-B opened #220 "MDC-Live Server Master Collection - Sales & Shipping - 311_KCLP_Ettumanoor"
WAITING FOR SERVER

[2020-01-21 10:56] Senthilmurugan-B opened #221 "MDC-Live Server Master Collection - Process Prod - 311_KCLP_Ettumanoor"
WAITING FOR SERVER

[2020-01-21 10:58] Duraisingam-G commented on #147
Find the enclosed Planning process unit lens search screen design.
[Planning.Process.Unit.-.Lens.search.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4089602/Planning.Process.Unit.-.Lens.search.xlsx)

[2020-01-21 11:14] Senthilmurugan-B opened #222 "MDC-Live Server Master Collection - Inv & PICC - 311_KCLP_Ettumanoor"
WAITING FOR SERVER

[2020-01-21 11:17] Senthilmurugan-B opened #223 "MDC-Live Server Master Collection - Pur & Subcon - 311_KCLP_Ettumanoor"
WAITING FOR SERVER

[2020-01-21 11:20] Senthilmurugan-B opened #224 "MDC-Live Server Master Collection - Pur & Subcon - 300_KAPL_Kottayam"
WAITING FOR DATA

[2020-01-21 11:22] Senthilmurugan-B opened #225 "MDC-Live Server Master Collection - Inv & PICC - 300_KAPL_Kottayam"
WAITING FOR DATA

[2020-01-21 11:23] Senthilmurugan-B opened #226 "MDC-Live Server Master Collection - Process Prod - 300_KAPL_Kottayam"
WAITING FOR DATA

[2020-01-21 11:25] Senthilmurugan-B opened #227 "MDC-Live Server Master Collection - Sales & Shipping - 300_KAPL_Kottayam"
WAITING FOR DATA

[2020-01-21 11:27] Senthilmurugan-B opened #228 "MDC-Live Server Master Collection - Finance - 300_KAPL_Kottayam"
WAITING FOR DATA

[2020-01-21 11:28] Senthilmurugan-B opened #229 "MDC-Live Server Master Collection - Fixed Asset - 300_KAPL_Kottayam"
WAITING FOR DATA

[2020-01-21 11:30] Senthilmurugan-B opened #230 "MDC-Live Server Master Collection - EAM - 300_KAPL_Kottayam"
WAITING FOR DATA

[2020-01-21 11:36] Senthilmurugan-B opened #231 "LSC - ITEM OPENING BALANCE LIVE SERVER UPLOAD"
WAITING FOR DATA

[2020-01-21 11:38] Senthilmurugan-B opened #232 "LSC-CUSTOMER OPENING BALANCE LIVE SERVER UPLOAD"
WAITING FOR DATA

[2020-01-21 11:40] Senthilmurugan-B opened #233 "LSC-SUPPLIER OPENING BALANCE LIVE SERVER UPLOAD"
WAITING FOR DATA

[2020-01-22 09:20] GayuSri commented on #161
Design changes has been completed. rtrack raised for deliverables. rtrack id : KLE-491

[2020-01-22 09:21] GayuSri commented on #33
KLE-494 has been logged for ArtWork Change Note screen issue (not able to launch the screen - getting error

[2020-01-23 07:30] Duraisingam-G commented on #87
Latest PFS, Compounding wastage and net weight logic modified.
[Latex.Yield.Report.V2.87-.EDK.Latest (1).xlsx](https://github.com/astpl1998/Kanam-Latex/files/4101796/Latex.Yield.Report.V2.87-.EDK.Latest.1.xlsx)

[2020-01-23 08:20] Duraisingam-G commented on #87
Gayathri,
PFI, New Test Data
[Latex.yield.report.-.test.data.and.test.result.New.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4101957/Latex.yield.report.-.test.data.and.test.result.New.xlsx)

[2020-01-23 09:17] Dhanwandher opened #234 "S&S - SALES ORDER TO PACKSLIP DUE DATE DCUBE"
Dear Sir.

Please find the PFS for SALES ORDER TO PACKSLIP DUE DATE_PFS.

Regards.
S.Dhanwandher.
[due days_PFS.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4102206/due.days_PFS.xlsx)

[2020-01-23 12:30] Dhanwandher commented on #214
Client yet to give data

[2020-01-23 12:31] raju-kurup commented on #69
Reopened due to the changes required by customer

[2020-01-23 12:31] raju-kurup commented on #68
Reopened due to the changes required by customer

[2020-01-23 12:33] raju-kurup commented on #54
Reopened due to the changes required by customer

[2020-01-23 12:34] raju-kurup commented on #73
Reopened due to the changes required by customer

[2020-01-23 12:36] raju-kurup commented on #94
Reopened due to the customer requirement

[2020-01-23 13:02] Duraisingam-G commented on #69
Hi gayathri,
Report changes needed against the automation, refer the updated PFS and yellow highlighted fields and do the changes.
[V_1.4_Final_PFS.FOR_.Daily.Production.Summary.Report.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4103167/V_1.4_Final_PFS.FOR_.Daily.Production.Summary.Report.xlsx)

[2020-01-23 13:08] Duraisingam-G commented on #69
HI Gayathri,
Report changed needed against the production automation.
PFA and do the changes.
[V_1.4_Final_PFS.FOR_.Daily.Production.Summary.Report.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4103194/V_1.4_Final_PFS.FOR_.Daily.Production.Summary.Report.xlsx)

[2020-01-24 07:40] Duraisingam-G commented on #68
Dear Ezhil,
As per the customer requirement from the production automation, Report changes required.
PFA
[updated.PFS.FOR_Production.By.-.Process.Unit_REPORT (1).xlsx](https://github.com/astpl1998/Kanam-Latex/files/4107235/updated.PFS.FOR_Production.By.-.Process.Unit_REPORT.1.xlsx)
 and do the changes.

[2020-01-24 07:41] Duraisingam-G commented on #69
Dear Gayathri,
As discussed, find the updated PFS. BOX Qty logic changed.
[V_1.4_Final_PFS.FOR_.Daily.Production.Summary.Report.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4107239/V_1.4_Final_PFS.FOR_.Daily.Production.Summary.Report.xlsx)

[2020-01-24 08:49] Duraisingam-G commented on #73
Dear Gayathri,
As per the customer request, changes required in this report.
PFA and do the changes.
[PFS.FOR_PRODUCT.CONVERSION_REPORT.v6.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4107451/PFS.FOR_PRODUCT.CONVERSION_REPORT.v6.xlsx)

[2020-01-25 04:59] Senthilmurugan-B commented on #39
@Ugeshkumar16
Kindly update the Changes In PFS and assigned to developer.

[2020-01-25 07:10] GayuSri commented on #147
Design changes has been done . Rtrack raised for deliverables. Rtrack id : KLE-497

[2020-01-25 09:13] Dhanwandher commented on #234
Sir....

Revised PFS attached for the same....

Regards....
S.Dhanwandher....
[due days_Revised_PFS.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4111783/due.days_Revised_PFS.xlsx)

[2020-01-25 09:35] raju-kurup commented on #234
Dear Karthi,
Please start the development.

[2020-01-27 08:38] Ugeshkumar16 commented on #39
@badamnarendra028
Here attached the updated PFS which was mentioned in blue colour and did some corrections need.
(NN1 to NN4)
[Updated_Commercial_Invoice_PFS_v1.3.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4116139/Updated_Commercial_Invoice_PFS_v1.3.xlsx)

[2020-01-27 10:01] Ugeshkumar16 commented on #37
@badamnarendra028
kindly refer the updated PFS (18, N12, N13, N14, N15, N16, N17, N18 & N19) of mentioned column field.
Refer word document
[proforma correction word doc27 jan.docx](https://github.com/astpl1998/Kanam-Latex/files/4116522/proforma.correction.word.doc27.jan.docx)
[Updated_PFS.FOR._Profoma_Invoice_v1.8.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4116523/Updated_PFS.FOR._Profo

[2020-01-27 12:23] Duraisingam-G commented on #69
Dear Srini,
Testing-1 Completed, kindly do the testing-2.
Find the Test data and test result.
[Production Summary Test Data.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4117057/Production.Summary.Test.Data.xlsx)
[Test Result.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4117058/Test.Result.xlsx)

[2020-01-27 12:28] raju-kurup commented on #93
Ticket reopened for correction by customer

[2020-01-27 12:28] raju-kurup commented on #93
Ticket reopened for correction by customer

[2020-01-27 12:29] raju-kurup commented on #92
Ticket reopened for correction by customer

[2020-01-28 09:01] Duraisingam-G commented on #92
Dear JP,
Report changes needed for customer request.
1. B Grade, Pin Hole, Damage, Plant Damage process need to be added in input screen
2. Warehouse filtration needed in input screen
3. production type need to be added in report
4. warehouse wise sub-total needed(to be check)
PFA, and do the changes.
[Daily.Gloves.Stock.Report.-.Production.92_v1.3.xlsx](https://github.com/astpl1998/Kanam-Latex/fi

[2020-01-28 10:58] Duraisingam-G commented on #93
Dear Karthi,
For the customer request, changes required in this report.
Please find the attached PFS for your ref and do the changes.
[Daily.Gloves.Stock.Report.-.Packing.93.v4.-.EDK.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4121985/Daily.Gloves.Stock.Report.-.Packing.93.v4.-.EDK.xlsx)

[2020-01-28 11:07] Duraisingam-G commented on #94
Dear Karthi,
Due to the customer request, changes required in this report.
please find the attached PFS and do the changes.
[FINISHED.GOODS.STOCK.REPORT.updated.PFS.v4.94-.Dcube.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4122019/FINISHED.GOODS.STOCK.REPORT.updated.PFS.v4.94-.Dcube.xlsx)

[2020-01-28 11:22] GayuSri commented on #33
KLE-499 has been logged for ArtWork Change Note screen issue (not able to launch the help screens - getting error)

[2020-01-28 11:49] Duraisingam-G commented on #73
Dear Srini,
Testing level-1 Completed, kindly to the testing-2.
find the test data for your ref.
[PROD CONV_Test Data.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4122183/PROD.CONV_Test.Data.xlsx)

[2020-01-28 12:08] Duraisingam-G commented on #84
Dear Karthi,
Due to customer request, changes required in this report.
Pl find the attached PFS and do the changes.
before starting development please let me know, ill explain.
[PFS.FOR_.Over.All.Stock.Valuation.Report.New.Activity.cum_v1Report.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4122242/PFS.FOR_.Over.All.Stock.Valuation.Report.New.Activity.cum_v1Report.xlsx)

[2020-01-29 06:50] Nandhineedevi commented on #213
Hi Dhanwander,
The coding has been completed. Kindly check and revert back.

[sale_inv_auth_tr_v1.0.zip](https://github.com/astpl1998/Kanam-Latex/files/4126581/sale_inv_auth_tr_v1.0.zip)

Regards
Nandhinee Devi

[2020-01-29 07:37] Narendiranath commented on #49
Hi Dhanwandhar,

                      Kindly check the trigger now.

[2020-01-29 11:22] badamnarendra028 commented on #44
[trigger_neww31-01.zip](https://github.com/astpl1998/Kanam-Latex/files/4127662/trigger_neww31-01.zip)

[2020-01-30 06:33] Dhanwandher commented on #44
Srini.....

Testing 1 completed.Kindly start with Testing 2.....

Regards.
S.Dhanwandher.....
![Payment advice](https://user-images.githubusercontent.com/50094013/73425717-78238c00-4358-11ea-8523-444e25341f40.png)
[Payment_Advise_Trigger_new.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4132519/Payment_Advise_Trigger_new.xlsx)

[2020-01-30 07:42] Dhanwandher commented on #213
Nandinee....

Total Invoice amount is coming wrongly in email trigger amount should be 124601.00 but coming 103001.00

Regards...
S.Dhanwandher....
![image](https://user-images.githubusercontent.com/50094013/73429638-24b63b80-4362-11ea-8377-1f6a95333135.png)

[2020-01-30 18:28] Manimahat commented on #74
Dear Srinivasan,

Testing 2 completed. Please find the Test result for the Plant wise monthly production report.

Test_result_2 :
[Daily.Production.Report.Plant.Wise.Summary.Report.pdf](https://github.com/astpl1998/Kanam-Latex/files/4135667/Daily.Production.Report.Plant.Wise.Summary.Report.pdf)

Regards,
Manivel A

[2020-01-31 06:34] Nandhineedevi commented on #213
Hi Dhanwander,
The rework has been completed. Kindly check and revert back.

[sale_inv_auth_tr_v1.1.zip](https://github.com/astpl1998/Kanam-Latex/files/4137878/sale_inv_auth_tr_v1.1.zip)

Regards
Nandhinee Devi

[2020-01-31 07:31] Dhanwandher commented on #213
Srini......

Testing 1 completed.....Kindly start Testing 2....

Regards....
S.Dhanwandher.....
[Test case for Goods Delivery.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4138058/Test.case.for.Goods.Delivery.xlsx)
![Test result for goods delivery](https://user-images.githubusercontent.com/50094013/73520498-c5bbf980-4429-11ea-9122-f88a32d982b3.png)

[2020-01-31 10:30] srinivasanbaskaran commented on #213
Akash,

Kindly Start Test this report & Prepare the Testing Documents

Regards,
Srinivasan Baskaran

[2020-01-31 10:32] srinivasanbaskaran commented on #44
Akash,

Kindly Start Test this report & Prepare the Testing Documents

Regards,
Srinivasan Baskaran

[2020-01-31 10:32] srinivasanbaskaran commented on #73
Ugesh,

Kindly Start Test this report & Prepare the Testing Documents

Regards,
Srinivasan Baskaran

[2020-01-31 10:37] srinivasanbaskaran commented on #69
Nova,

Kindly Start Test this report & Prepare the Testing Documents

Regards,
Srinivasan Baskaran

[2020-02-01 06:12] Duraisingam-G commented on #83
due to customer request report open this ticket.

[2020-02-01 06:15] Duraisingam-G commented on #83
Dear Karthi,
Due to customer request changed needed in this report.
PFA, check the "RED" & "Green" Highlighted fields and do the changes.
Before starting changed, please let me know.
[PFS_Saleorder.based_Production.order.status.report_v2.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4142210/PFS_Saleorder.based_Production.order.status.report_v2.xlsx)

[2020-02-01 06:36] karthikeyanamitysoft commented on #93
Dear Ezhil,

kindly do the changes.

Regards,
Karthi

[2020-02-01 06:46] Duraisingam-G commented on #101
due to customer request reopen this ticket.

[2020-02-03 07:00] Duraisingam-G commented on #180
Dear JP,
Planning process unit logic added in the enclosed PFS.
[Kanam Planning Information -PFS_Rev_1.5.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4146616/Kanam.Planning.Information.-PFS_Rev_1.5.xlsx)

[2020-02-03 07:13] AkashGleen commented on #213
Dear Srini....

Testing 2 Completed Kindly Check & Update

Regards,
Akash

[Testcase for goods delivery v2.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4146644/Testcase.for.goods.delivery.v2.xlsx)

[2020-02-03 08:13] AkashGleen commented on #44
Dear Dhanwandhar....

If Debit note is not adjust the net payable column and amount column is coming zero.Values should come in both the columns.Kindly check.

Regards,
Akash

[2020-02-03 08:59] Dhanwandher commented on #44
Badam....

If Debit note is not adjust the net payable column and amount column is coming zero.Values should come in both the columns.Kindly check.

Regards...
S.Dhanwandher....
![Payment advice](https://user-images.githubusercontent.com/50094013/73638994-7aa41f80-4691-11ea-885a-b2ad5fa664cf.png)

[2020-02-03 09:28] Duraisingam-G commented on #198
Dear Aakash,
As discussed, please do the testing in PVL, CLP & KVL OU.
if any clarification please ask to Nova, he will assist you.

[2020-02-03 10:02] Narendiranath commented on #85
Hi Senthil,

             Kindly test the report.

[2020-02-04 05:21] Duraisingam-G commented on #101
Dear Karthi,
PFA, Due to the Customer request, changed needed in this report.
Before starting this rework, please let me know. ill explain fully.
Kindly do the needful.
[Daily.Plan.Vs.Actual.101.v3.-.EDK.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4151553/Daily.Plan.Vs.Actual.101.v3.-.EDK.xlsx)

[2020-02-04 05:51] Duraisingam-G commented on #84
Dear Nandhinee,
Pl find the attached PFS and do the changes.
[PFS.FOR_.Over.All.Stock.Valuation.Report.New.Activity.cum_v1Report_84.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4151617/PFS.FOR_.Over.All.Stock.Valuation.Report.New.Activity.cum_v1Report_84.xlsx)

[2020-02-04 08:30] srinivasanbaskaran commented on #69
Dear Ugesh,

Kindly Start Test this report & Prepare the Testing Documents

Regards,
Srinivasan Baskaran

[2020-02-04 10:22] badamnarendra028 commented on #44
completed

[2020-02-04 12:55] Duraisingam-G opened #235 "GEN : PP Cost Roll-up Issue - High Priority"
Dear Karthi,
As discussed, while clicking on pp roll up cost in PP roll-up cost activity, getting an error.
find the enclosed error screenshot. trace need to be taken for this issue.
This is in high priority for live server, this screen already working before CU updation.
![image](https://user-images.githubusercontent.com/37896999/73746539-6ccac900-477b-11ea-82a4-3c240f1c463c.png)

[2020-02-05 06:54] badamnarendra028 commented on #44
[supplier_payment_trigger--modified_badam.zip](https://github.com/astpl1998/Kanam-Latex/files/4157857/supplier_payment_trigger--modified_badam.zip)

[2020-02-05 12:27] Dhanwandher commented on #44
Srini.....

Testing 1 completed.Kindly start with Testing 2.....

Regards.
S.Dhanwandher.....
![Payment advice new](https://user-images.githubusercontent.com/50094013/73841435-a44f7900-4840-11ea-9275-9879032f66f7.png)
[Payment_Advise_Trigger_new.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4159447/Payment_Advise_Trigger_new.xlsx)

[2020-02-06 07:14] Duraisingam-G commented on #180
Dear JP,
As discussed, Pl find the latest PFS for your ref.
 Changes : Master Recipe Picking Logic slightly Modified.
[Kanam Planning Information -PFS_Rev_1.5.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4163646/Kanam.Planning.Information.-PFS_Rev_1.5.xlsx)

[2020-02-06 07:57] Duraisingam-G commented on #198
Dear Nova, Dhanwandher, Mani & Akash : kindly to the testing this automation full cycle on 06.02.2020 @04.00PM. Each person will take diff User ID and to be tested parallely.

[2020-02-06 12:18] Manimahat commented on #198
Hi Durisingam,

Testing completed without issue. Please find the attached document for your ref...

Test Result :
[test data for WH transfer.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4165011/test.data.for.WH.transfer.xlsx)

Regards,
Manivel A

[2020-02-06 12:23] AkashGleen commented on #198
Dear Duraisingam anna.......

Testing 1 Completed Kindly Check & Update

Regards,
Akash

1. Test Date : [Stock Transfer Order CPL OU v1.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4165025/Stock.Transfer.Order.CPL.OU.v1.xlsx)

[2020-02-06 12:46] Dhanwandher commented on #198
Dear Duraisingam......

Testing 1 Completed Kindly Check & Update

Regards
S.Dhanwandher...
[Stock Transfer Order PVL.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4165108/Stock.Transfer.Order.PVL.xlsx)

[2020-02-07 02:40] Senthilmurugan-B commented on #38
@raju sir : now am reopen the ticket as per the NGL finance team we need to include batch No, MFG and Exp date

[2020-02-07 08:23] Senthilmurugan-B commented on #38
@karthikeyanamitysoft
herewith I have attached updated PFS as per customer requirement kindly assign developer and give high priority.
[updated_Kanam_Sales.Invoice.GST.Print_PFS-C.2.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4169692/updated_Kanam_Sales.Invoice.GST.Print_PFS-C.2.xlsx)

[2020-02-10 12:03] badamnarendra028 commented on #38
completed

[2020-02-10 12:12] Duraisingam-G commented on #48
report is deleted, so need to re-develop.

[2020-02-10 12:14] Dhanwandher commented on #48
Badam...

Latest PFS attached....

[PFS.FOR_Customer.Payment.Performance.Report.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4180714/PFS.FOR_Customer.Payment.Performance.Report.xlsx)

[2020-02-10 16:04] Senthilmurugan-B commented on #38
@naren:
I checked ok but buyer info will not be  fetched and Ewaybill no we need to take from COBI attached notes (line-level refer 1st ln no.)

[2020-02-11 07:14] badamnarendra028 commented on #38
completed

[2020-02-11 09:20] badamnarendra028 commented on #234
completed

[2020-02-13 11:05] AkashGleen commented on #198
hi jaya priya

PFA. Multi-line data not fetched while clicking on-enter in header transaction field. kindly check & resolve

Regards,
Akash

![image](https://user-images.githubusercontent.com/55881531/74428336-d1bea700-4e7e-11ea-9b55-334e0b98d911.png)

[2020-02-14 05:37] Dhanwandher commented on #234
Srini.....

Testing one Completed.....Kindly start Testing 2....

Regards..
S.Dhanwandher.
[Test.Case for Due Days.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4202871/Test.Case.for.Due.Days.xlsx)
[due days test result.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4202875/due.days.test.result.xlsx)

[2020-02-14 05:50] srinivasanbaskaran commented on #234
Akash,

Kindly start the Testing2 & Prepare the Testing Document

REgards,
Srinivasan Baskaran

[2020-02-14 05:52] srinivasanbaskaran commented on #44
Akash,

Kindly start the Testing 2 & Prepare the Testing Document

Regards,
Srinivasan Baskaran

[2020-02-14 06:35] Dhanwandher commented on #49
Client need some changes in Trigger but to finalize on the same..

Regards....
S.Dhanwandher

[2020-02-14 09:35] AkashGleen commented on #234
Dear Srini......

Sales Order & Pack-Slip Due Days DECUBE  Testing 2 Completed Kindly Check & Update

1.Test Case 2 = [Test.Case.for.Due.Days v2.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4203776/Test.Case.for.Due.Days.v2.xlsx)

2.Test Result 2 = [SALES ORDER TO PACKSLIP DUE DATE DCUBE TESTING RESULT v2.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4203781/SALES.ORDER.TO.PACKSLIP.

[2020-02-18 06:45] Dhanwandher commented on #44
Dear Karthi...

Please find the update PFS....Kindly do the changes which is marked in yellow colour....

Regards...
S.Dhanwandher...
[Revised_Payment_advice_PFS.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4217762/Revised_Payment_advice_PFS.xlsx)

[2020-02-18 06:59] Dhanwandher commented on #44
Dear Karthi...

Please find the update PFS....Kindly do the changes which is marked in yellow colour....

Regards...
S.Dhanwandher...
[Revised_Payment_advice_PFS.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4217762/Revised_Payment_advice_PFS.xlsx)

[2020-02-18 12:06] Dhanwandher commented on #44
Dear Karthi...

Please find the update PFS....Kindly do the changes which is marked in yellow colour....

Regards...
S.Dhanwandher...
[Updated_Payment_advice_PFS.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4219056/Updated_Payment_advice_PFS.xlsx)

[2020-02-20 07:29] Dhanwandher opened #236 "FIN-Sub-Contracting ITC-04 -DCUBE"
Dear Team,

Here am created new issue for "Sub-Contracting ITC-04-Returns".

In future i will add PFS for further process.

Thanks and Regards,
S.Dhanwandher

[2020-02-21 08:07] Dhanwandher commented on #44
Srini.....

Testing 1 completed.Kindly start with Testing 2.....

Regards.
S.Dhanwandher.....
![Payment advice new](https://user-images.githubusercontent.com/50094013/75015661-29789600-54af-11ea-8e10-e2dd810ba4c4.png)
[Payment_Advise_Trigger_new.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4234920/Payment_Advise_Trigger_new.xlsx)

[2020-02-23 08:53] srinivasanbaskaran commented on #44
Akash,

Start Testing 2 this report & Prepare the Testing Documents

Regards,
Srinivasan Baskaran

[2020-02-23 13:55] Senthilmurugan-B commented on #54
Dear team,
 the client doesn't provide data

[2020-02-23 14:20] Senthilmurugan-B commented on #38
Dear srini,
Testing 1 completed kindly start the testing 2
[Updated_TEST CASE_1 _ sales Tax Invoice .xlsx](https://github.com/astpl1998/Kanam-Latex/files/4241390/Updated_TEST.CASE_1._.sales.Tax.Invoice.xlsx)
[test result_Tax invoice print.pdf](https://github.com/astpl1998/Kanam-Latex/files/4241391/test.result_Tax.invoice.print.pdf)

[2020-02-24 06:57] AkashGleen commented on #44
Dear Srini.....

Payment Advise Trigger Testing 2 completed kindly Check & Update.

1. Test Result : ![image](https://user-images.githubusercontent.com/55881531/75133157-aac66780-56ff-11ea-8025-ef7202676293.png)

2. Test Case : [Payment_Advise_Trigger_v2.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4243372/Payment_Advise_Trigger_v2.xlsx)

Regards,
Akash

[2020-03-06 06:04] Duraisingam-G commented on #83
Dear Akash,
Please check the PFS & do the testing. if any clarification and pl let me know.

[2020-03-06 06:05] Duraisingam-G commented on #101
Dear Akash,
Please check the PFS & do the testing. if any clarification and pl let me know.

[2020-03-06 06:05] Duraisingam-G commented on #84
Dear Akash,
Please check the PFS & do the testing. if any clarification and pl let me know.

[2020-03-07 06:33] AkashGleen commented on #37
Dear  badamnarendra........

Sales & Shipping Pre Shipment Invoice Correction
1.Reference(product code) shown empty
2.Total shown empty
3.Grand total value shown empty
Incase any quires Kindly let me know

Regards,
Akash

[2020-03-07 07:32] Ezhilarasi-SP commented on #158
Dear Team,
Herewith I have attached the  latest deliverables .[
[costing automation.zip](https://github.com/astpl1998/Kanam-Latex/files/4301512/costing.automation.zip)
](url)

[2020-03-09 05:39] AkashGleen commented on #83
Hi Nandhineedevi.....

Sale order based production order status report corrections
1.Removed column Po order,Po date
2.Sale order item fetched wrongly
3.Add to column in reporting screen
   1.sale order status
   2.size
   3.product type
   4.product type
   5.SO Qty
   6.Po Qty
   7.PO   Completed Qty
   8.PO   Pending to be Produced
   9.SO   Pending to be Produced
  Kindly resolve this changes

[2020-03-10 06:39] Duraisingam-G commented on #84
Dear Nova & Akasj:
As discussed, find the latest PFS for your ref.
please do the test, if any changed assign to Raju sir and call to him.
[PFS.FOR_.Over.All.Stock.Valuation.Report.New.Activity.cum_v1Report_84 (1).xlsx](https://github.com/astpl1998/Kanam-Latex/files/4310672/PFS.FOR_.Over.All.Stock.Valuation.Report.New.Activity.cum_v1Report_84.1.xlsx)

[2020-03-10 06:49] AkashGleen commented on #101
Dear Raju Sir,

Daily Plan Vs Actual - GM report Corrections
 1.Unit Class Desc, Planing information Qty, Planned Process unit, Process Unit not fetched in Report.
 2.Kindly remove decimal value for item die mention column in this Report.
For Your Reference
[Daily plan Vs Actual Report(current report format).pdf](https://github.com/astpl1998/Kanam-Latex/files/4310710/Daily.plan.Vs.Actual.Report.cu

[2020-03-10 10:42] Duraisingam-G commented on #93
Dear Sir,
Please assign to developers.

[2020-03-10 10:43] Duraisingam-G commented on #68
Dear Sir,
Please assign to developers.

[2020-03-10 10:55] Duraisingam-G commented on #73
@knovakaspar @AkashGleen : please do the testing -2.

[2020-03-10 10:56] Duraisingam-G commented on #69
@knovakaspar : pl do the testing-2

[2020-03-10 10:59] Duraisingam-G commented on #85
@knovakaspar : please do the testing-1.

[2020-03-11 06:35] Duraisingam-G opened #237 "GEN - Transaction Count D-Cube Report"
Dear Sir,
Please find the below script and put one dcube report for this.

I have also attached the sample output.
[TrancountNew_output.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4316406/TrancountNew_output.xlsx)
[trancountnew.txt](https://github.com/astpl1998/Kanam-Latex/files/4316401/trancountnew.txt)

[2020-03-11 07:09] Duraisingam-G commented on #235
Resolved karthi.
Raju Sir.
But facing below error while doing rollup

"Account   511206 is not mapped to any element"
please check and resolve.
--

[2020-03-11 07:17] Duraisingam-G commented on #20
Raju Sir,
Need to be changed the logic.
Import check box to currency .
for this changed need Nandhinee only.

[2020-03-11 07:24] Duraisingam-G commented on #236
New Requirement, as discussed with dhanwandher raju sir told hold this report.

[2020-03-11 08:25] Duraisingam-G opened #238 "GEN - Order Cost Report Checking"
Order Cost Report Checking Completed.
Document attached herewith.
[Order Cost Report Checking.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4316883/Order.Cost.Report.Checking.xlsx)
[PRODUSER_kanamlatex_70191012_b41e7ef8-1a83-4a9a-91e2-71fe907d3104.pdf](https://github.com/astpl1998/Kanam-Latex/files/4316884/PRODUSER_kanamlatex_70191012_b41e7ef8-1a83-4a9a-91e2-71fe907d3104.pdf)

[2020-03-11 08:27] Duraisingam-G commented on #238
Completed.

[2020-03-11 08:27] #238 closed

[2020-03-11 10:39] AkashGleen commented on #73
Dear Duraisingam,

Product Conversion Testing 2 Completed Kindly Check & Update.

[Product Conversion Test Result v2.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4317648/Product.Conversion.Test.Result.v2.xlsx)

Thanks & Regards,
Akash

[2020-03-12 05:42] AkashGleen commented on #85
Dear Raju sir,

Parameter Value Graph Report Corrections.

1.LSL(X) Value Correct but Graph starting point fetched wrongly.
2.Should be Colours changed in etch date wise (Graph)
3.Should be Shown Graph entries hours (date wise)
4.Mismatching Measured Value (base screen to Report)
5.Minimum Value, Maximum Value, Average Value .Mismatching (base screen to Report)

![image](https://user-images.github

[2020-03-12 09:13] knovakaspar commented on #69
Dear Raju Sir,

As item code wrongly showed in this report, I have mentioned a screen image for your reference.
Kindly check.

Thanks & Regards
Nova Kaspar
![image](https://user-images.githubusercontent.com/50448138/76505250-2863d480-646f-11ea-83fc-6ffc85dff8f0.png)
![image](https://user-images.githubusercontent.com/50448138/76505328-4df0de00-646f-11ea-8be3-36c8296ad520.png)

[2020-03-12 10:30] knovakaspar commented on #73
Dear Raju Sir & DuraiSingam

Once I checked, Testing 2 Completed.

[Product conversion Report. test data.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4323618/Product.conversion.Report.test.data.xlsx)

Thanks & Regards
Nova Kaspar

[2020-03-12 11:37] Jeyapriyat commented on #198
@Duraisingam-G development completed

[2020-03-12 11:38] Jeyapriyat commented on #180
@Duraisingam-G

development completed

[2020-03-12 11:40] Jeyapriyat commented on #148
help screen issue
ticket no : kle-533

[2020-03-12 14:48] raju-kurup commented on #128
Training completed.

[2020-03-12 14:48] #128 closed

[2020-03-13 05:27] raju-kurup commented on #83
@karthikeyanamitysoft : As discussed please allocate this ticket to Mohana and ask her to contact Duraisingam

[2020-03-13 05:28] raju-kurup commented on #68
@karthikeyanamitysoft : As discussed please allocate this ticket to Mohana and ask her to contact Duraisingam

[2020-03-13 12:17] Jeyapriyat commented on #92
@Duraisingam-G
Changes completed,kindly check and revert.
DW Report Name : daily_gloves_stock_report_production
i have attached latest deliverables.
[daily gloves stock report - production kle-528 (2).zip](https://github.com/astpl1998/Kanam-Latex/files/4329476/daily.gloves.stock.report.-.production.kle-528.2.zip)

[2020-03-17 09:21] Senthilmurugan-B commented on #49
As per raju sir instruction am changed the status to hold because customer asking new changes.

[2020-03-17 11:14] GayuSri commented on #93
Dear Durai,
Need clarification about this report.

[2020-03-17 15:49] Senthilmurugan-B commented on #20
Dear sir,
kindly refer the updated PFS, in that PFS refer the latest changes sheet.
[ver 1.1_Kanam_Purchase Order_PFS-C.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4344342/ver.1.1_Kanam_Purchase.Order_PFS-C.xlsx)

[2020-03-17 16:05] srinivasanbaskaran commented on #234
Badam

Kindly update the Latest Deliverables ASAP

Regards,
Srinivasan Baskarn

[2020-03-17 16:16] srinivasanbaskaran commented on #234
Sir,

Sale Order to Packslip Due Date Dcube Report Testing completed. Herewith I have attached the Testing Documents for future references.

PFS:

DELIVERABLES:

PATH:

TESTCASE1:

TEST RESULT1:

TESTCASE2:

TEST RESULT2:

Regards,
Srinivasan Baskaran

[2020-03-17 16:29] srinivasanbaskaran commented on #213
Akash,

Please attach the Test Result 2 ASAP.

Regards,
Srinivasan Baskaran

[2020-03-17 16:33] srinivasanbaskaran commented on #213
Sir,

Email Trigger for Sales Invoice Authorization testing has been completed. Herewith I have attached Testing documents.

PFS: [PFS.FOR_COBI.Email.Trigger_HTML.FORMAT.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4344531/PFS.FOR_COBI.Email.Trigger_HTML.FORMAT.xlsx)

DELIVERABLES:[sale_inv_auth_tr_v1.1.zip](https://github.com/astpl1998/Kanam-Latex/files/4344536/sale_inv_auth_tr_v1.1.zip)

[2020-03-17 16:39] srinivasanbaskaran commented on #202
Sir,

Work Order Porint from Sale Order testing has been completed. Herewith, I have attached Testing Documents for future references..

PFS: [Updated_PFS_Work_Order_From_Sale_Order_v1.1.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4344569/Updated_PFS_Work_Order_From_Sale_Order_v1.1.xlsx)

DELIVERABLES: [kle-420.v1.4.work.order.print.zip](https://github.com/astpl1998/Kanam-Latex/files/4344

[2020-03-17 16:49] srinivasanbaskaran commented on #95
Senthil,

As per discussed by Raju Sir, I assigned this report to you for doing the Testing2 from your side

Regards,
Srinivasan Baskaran

[2020-03-17 16:53] srinivasanbaskaran commented on #74
Senthil,

As per discussed by Raju Sir, Kindly Test this report ( Testing 2 ) from your side

Regards,
Srinivasan Baskaran

[2020-03-17 16:56] srinivasanbaskaran commented on #73
Senthil,

As per discussion by Raju Sir, I assign to Testing 2 from your side

Regards,
Srinivasan Baskaran

[2020-03-17 16:58] srinivasanbaskaran commented on #44
Badam,

Kindly update the Latest Deliverables ASAP

Regards,
Srinivasan Baskaran

[2020-03-17 17:11] srinivasanbaskaran commented on #44
Sir,

Payment Advise Trigger report testing has been completed. Herewith I have attached Testing Documents for future references.

PFS:[Updated_Payment_advice_PFS.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4344754/Updated_Payment_advice_PFS.xlsx)

DELIVERABLES:

TESTCASE 1: [Payment_Advise_Trigger_new.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4344755/Payment_Advise_Trigger_new

[2020-03-17 17:12] srinivasanbaskaran commented on #38
Akash,

Kindly start test this report & Prepare the Testcase as per our format

Regards,
Srinivasan Baskaran

[2020-03-18 04:39] Senthilmurugan-B commented on #95
@NOVA :
Kindly start Testing 2

[2020-03-18 04:41] Senthilmurugan-B commented on #74
@nova :
kindly start testing 2.

[2020-03-18 04:45] Senthilmurugan-B commented on #73
@srinivasanbaskaran :'
Testing 1 and 2 completed.

[2020-03-18 05:03] AkashGleen commented on #213
Dear Srini,

Email trigger for Sales Invoice authorization Testing 2 Completed Kindly Update.

Test Case 2 : [Testcase.for.goods.delivery.v2.xlsx](https://github.com/astpl1998/Kanam-
                     Latex/files/4347012/Testcase.for.goods.delivery.v2.xlsx)

Test Result 2 :
![image](https://user-images.githubusercontent.com/55881531/76926956-baeaf480-6903-11ea-921a-47dc0d00888e.png)

Regards,
A

[2020-03-18 05:18] Dhanwandher commented on #38
Dear Team..

There are lot of changes in the Sales GST Invoice.So this needs rework,After updating the PFS. Hence status changed to hold.

Regards.
S.Dhanwandher

[2020-03-18 06:30] Senthilmurugan-B commented on #73
@Duraisingam-G ,
Testing 1 and 2 completed kindly confirm the test result then assigned to srini for further process.

[2020-03-18 07:06] raju-kurup commented on #202
Development completed and document attached, so closing this issue

[2020-03-18 07:19] raju-kurup commented on #199
Development completed and document attached, so closing this development

[2020-03-18 07:27] badamnarendra028 commented on #234
[saleorder_to_packslip-11-02.zip](https://github.com/astpl1998/Kanam-Latex/files/4347558/saleorder_to_packslip-11-02.zip)
updated

[2020-03-18 07:34] badamnarendra028 commented on #44
[trigger_neww.zip](https://github.com/astpl1998/Kanam-Latex/files/4347578/trigger_neww.zip)
updated

[2020-03-18 07:37] Dhanwandher commented on #236
Dear Sir..

Please find the PFS for Sub-Contracting ITC-04 -DCUBE.

Regards.
S.Dhanwandher.
[PFS.FOR_ITC_04.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4347594/PFS.FOR_ITC_04.xlsx)

[2020-03-18 10:37] GayuSri commented on #87
Need clarification for this report.

[2020-03-18 11:23] Dhanwandher commented on #49
Dear Sir.

As per client requirement PFS has been corrected with new format.

Thanks & Regards.
S.Dhanwandher.
[PFS.FOR_Customer.Payment.Acknowledgement_(1.2).xlsx](https://github.com/astpl1998/Kanam-Latex/files/4348658/PFS.FOR_Customer.Payment.Acknowledgement_.1.2.xlsx)

[2020-03-18 12:08] Dhanwandher commented on #48
Dear Sir,

As per Client requirement PFS as been updated for the same.

Thanks & Regards.
S.Dhanwandher.
[PFS.FOR_Customer.Payment.Performance.Report_V1.1.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4348829/PFS.FOR_Customer.Payment.Performance.Report_V1.1.xlsx)

[2020-03-19 05:10] Jeyapriyat commented on #68
@Duraisingam-G

need some clarification on this report.

[2020-03-19 05:12] Jeyapriyat commented on #76
@Duraisingam-G
need some clarification on this report.

[2020-03-19 05:37] badamnarendra028 commented on #39
kindly call akash for any quarys

[2020-03-19 09:56] GayuSri commented on #69
@knovakaspar

Reported issue has been resolved. Kindly check.

[2020-03-20 09:52] GayuSri commented on #49
Kindly share the updated PFS.

[2020-03-20 10:03] Dhanwandher commented on #49
Dear Sir.

revised PFS updated and attached for the same...

Thanks & Regards..
S.Dhanwandher
[PFS.FOR_Customer.Payment.Acknowledgement_(1.3).xlsx](https://github.com/astpl1998/Kanam-Latex/files/4358880/PFS.FOR_Customer.Payment.Acknowledgement_.1.3.xlsx)

[2020-03-21 05:28] Jeyapriyat commented on #148
@Duraisingam-G

help screen issue resolved,kindly check and revert.
![image](https://user-images.githubusercontent.com/37791285/77220111-e91a3f80-6b62-11ea-8915-662b6fa6c899.png)

[2020-03-23 07:59] mohanaamity commented on #83
As discussed once confirmed this report

Regards,
Mohana

[2020-03-23 08:43] Senthilmurugan-B commented on #20
Dear sir,
As we discussed herewith I have attached updated
[ver 1.2_Kanam_Purchase Order_PFS-C.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4368080/ver.1.2_Kanam_Purchase.Order_PFS-C.xlsx)
 PFS for your reference kindly check.

[2020-03-23 08:45] Jeyapriyat commented on #39
@AkashGleen
1)hsn code logic completed.
![image](https://user-images.githubusercontent.com/37791285/77298225-9d0cfd80-6d10-11ea-9e89-aef91561ea28.png)

2) need clarification for reference code .

[2020-03-23 10:39] mohanaamity commented on #37
After launching report last one text column should be fetch in New page
but it was not fetching
Ramco ticket no : KLE539

Regards,
Mohana B

[2020-03-24 04:39] Senthilmurugan-B opened #239 "I&P - QC MASTER VALIDATIONS FOR ALL OU'S"
Dear Team ,
Qc Masters
1. Attribute
2.Edit Item Attribute Mapping
3.Control Point ID
4.Inspection Plan
5.Item Master.
6.Qc Rejection Code

[2020-03-24 04:41] GayuSri commented on #33
KLE-537 logged for attach notes link (base SP modification).Waiting for Lakshmi Mam's reply.

[2020-03-24 04:51] GayuSri commented on #93
partnersandbox is not working. Not able to do design changes.

[2020-03-24 05:45] Duraisingam-G commented on #191
Nova,
please revise the planning information handouts and update.

[2020-03-24 05:47] Duraisingam-G commented on #69
Akash,
Please continue to do the testing for this report. if u want any help from developer pls inform to Raju sir, he will arrange.

[2020-03-24 06:30] raju-kurup commented on #87
Partnersandbox not working

[2020-03-24 06:45] raju-kurup commented on #93
Partnersand box is not working now

[2020-03-24 06:47] raju-kurup commented on #87
Wrong changed label now gayatri is developing it

[2020-03-24 12:16] Senthilmurugan-B commented on #85
Dear sir,
Herewith I have attached updated PFS for your perusal.
Noted points in Report output:
1.	Parameter values should fetch in Earliest (depends on Time ) should come first
2.	As per the values graph should be drawn
3.	Need different colors graph  for each day
4.	Minimum, Maximum Average and standard deviation Value Mismatching
[Ver 1.1_PFS.FOR_Parameter.Value.Graph.Report.New.Activity.cum_Re

[2020-03-24 12:17] Senthilmurugan-B commented on #38
Dear sir,
1.	Herewith I have attached updated PFS for GST invoice print kindly refer Blue color column in the column level requirement sheet and UDS screen Design sheet.
2.	We need to check the item description and N1,N2, N3 Logics.
[Ver1.1_Kanam_Sales.Invoice.GST.Print_PFS-C.2 (1).xlsx](https://github.com/astpl1998/Kanam-Latex/files/4375119/Ver1.1_Kanam_Sales.Invoice.GST.Print_PFS-C.2.1.xlsx)

[2020-03-24 13:11] raju-kurup commented on #20
@ karthi : please do correction in the (other than INR) logic as discussed with Senthil murugan

[2020-03-24 13:36] raju-kurup commented on #85
@karthi : please do the correction as mentioned by Senthil Murugan

[2020-03-24 13:37] raju-kurup commented on #38
@karthikeyanamitysoft : please do the correction as discussed with Senthil Murugan

[2020-03-25 04:52] AkashGleen commented on #69
@GayuSri

Daily Production Summary Report Issue Correction Unit Class Description,Process cell ,process cell description Not Fetched in Report screen Kindly Check & update.

For our Reference
![image_2020_03_24T09_31_43_384Z](https://user-images.githubusercontent.com/55881531/77502986-69ea7b80-6e82-11ea-93c6-3e396e303e8a.png)

Regards,
Akash

[2020-03-25 05:06] Duraisingam-G commented on #49
Dear Sir,
Changes done, please assign to developer.

[2020-03-25 05:16] Dhanwandher commented on #48
Dear Sir..

Please find the changes PFS as per client requirement....

Thanks & Regards...
S.Dhanwandher....
[PFS.FOR_Customer.Payment.Performance.Report_V1.1.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4379142/PFS.FOR_Customer.Payment.Performance.Report_V1.1.xlsx)

[2020-03-25 07:12] Dhanwandher commented on #49
Dear Sir.

revised PFS updated and attached for the same...

Thanks & Regards..
S.Dhanwandher
[PFS.FOR_Customer.Payment.Acknowledgement_(1.4)_updated.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4379505/PFS.FOR_Customer.Payment.Acknowledgement_.1.4._updated.xlsx)

[2020-03-25 08:15] raju-kurup commented on #48
@karthikeyanamitysoft : please do the correction as mentioned in PFS and contact dhanwandher for clarification if any

[2020-03-25 10:15] Senthilmurugan-B commented on #39
@raju sir,
As we discussed herewith I have attached updated PFS
1. refer yellow color column in column level requirements sheet
[Updated_Commercial_Invoice_PFS_v1.4.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4380204/Updated_Commercial_Invoice_PFS_v1.4.xlsx)

[2020-03-25 10:16] raju-kurup commented on #39
@karthikeyanamitysoft  : in commercial invoice only 3 points to be corrected and contact senthil for clarification

[2020-03-25 11:38] Duraisingam-G commented on #69
Dear Sir,
Unit   Class Description
Process Cell
Process Cell   Description

the above mentioned fields not fetched in this report & Process & Date wise filter not working.
and check the input not mandatory fields.
Date : 11.03.2020
[V_1.4_Final_PFS.FOR_.Daily.Production.Summary.Report.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4380585/V_1.4_Final_PFS.FOR_.Daily.Production.Summary.Report.

[2020-03-25 11:38] Duraisingam-G commented on #69
Please assign to developer.

[2020-03-25 11:47] raju-kurup commented on #101
@karthikeyanamitysoft : please do the correction as mentioned in PFS and discussed with Durai

[2020-03-25 11:53] Duraisingam-G commented on #83
Dear Sir,
As discussed, find the latest PFS and assign to developer.
[PFS_Saleorder.based_Production.order.status.report_v3 (2).xlsx](https://github.com/astpl1998/Kanam-Latex/files/4380619/PFS_Saleorder.based_Production.order.status.report_v3.2.xlsx)

[2020-03-25 12:08] raju-kurup commented on #83
@karthikeyanamitysoft : please do the correction as per PFS and contact Durai for clarification

[2020-03-25 12:49] karthikeyanamitysoft commented on #38
@Senthilmurugan-B  kindly check the attached PFS

[2020-03-25 14:34] Nandhineedevi commented on #20
Hi Senthil,
The rework has been completed. Kindly check and revert back.

[purchase_print_v2.1.zip](https://github.com/astpl1998/Kanam-Latex/files/4381442/purchase_print_v2.1.zip)
[KLAIPO-1920_0008.pdf](https://github.com/astpl1998/Kanam-Latex/files/4381523/KLAIPO-1920_0008.pdf)
[KLAPO18-19_0001.pdf](https://github.com/astpl1998/Kanam-Latex/files/4381524/KLAPO18-19_0001.pdf)

Regards
Nandhinee Dev

[2020-03-26 03:19] Duraisingam-G commented on #200
Dear Senthil,
as discussed please do the testing this report

[2020-03-26 03:26] Duraisingam-G commented on #92
Dear AKash,
Please do the testing-1

[2020-03-26 04:42] Duraisingam-G commented on #84
, Item   master file needed from backend
--

[2020-03-26 04:50] Duraisingam-G commented on #200
Dear Akash,
Please do the testing level-1

[2020-03-26 04:50] Duraisingam-G commented on #84
Item master file   needed from backend
--

[2020-03-26 04:53] Duraisingam-G commented on #92
Item master file   needed from backend
--

[2020-03-26 06:41] Senthilmurugan-B commented on #38
@karthikeyanamitysoft
Herewith i have attacched updated PFS for your reference.
[Ver1.1_Kanam_Sales.Invoice.GST.Print_PFS-C.2 (1).xlsx](https://github.com/astpl1998/Kanam-Latex/files/4385438/Ver1.1_Kanam_Sales.Invoice.GST.Print_PFS-C.2.1.xlsx)

[2020-03-26 07:34] raju-kurup commented on #68
@karthikeyanamitysoft : please do the correction as discussed with Durai

[2020-03-26 10:48] GayuSri commented on #69
@AkashGleen Report is working fine. As discussed Kindly check for the correct data.

[2020-03-26 11:15] AkashGleen commented on #200
@Senthilmurugan-B

Kindly Review the PFS

[Shipping.Packing.List.UDS.Print_PFS_v1.4.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4386782/Shipping.Packing.List.UDS.Print_PFS_v1.4.xlsx)

[2020-03-26 12:44] GayuSri commented on #69
@AkashGleen As discussed , kindly create a new id for reporting automation screen issue.

[2020-03-26 12:49] AkashGleen commented on #69
@GayuSri

Daily Production Summary Report

Unit Class Description
Process Cell
Process Cell Description

While creating in transaction production automation screen above mentioned data was not update the DUCUBE report.

Thanks & Regards,
Akash

[2020-03-26 12:52] AkashGleen commented on #69
@GayuSri

Daily Production Summary Report

Unit Class Description
Process Cell
Process Cell Description

While creating in transaction production automation screen above mentioned data was not update the DUCUBE report.

Thanks & Regards,
Akash

[2020-03-27 03:59] Duraisingam-G commented on #76
Dear Nova,
Pl Discuss with Developers and PFS review with Raju sir.

[2020-03-27 04:05] Duraisingam-G commented on #20
Dear Akash,
Kinldy do the testing level-1

[2020-03-27 06:22] Duraisingam-G opened #240 "ISS : Process Cell & Description Not Updated In Base Material Reporting Screen from Reporting Automation"
Dear Gayathri,
Please check the below issue.
Process Cell & Description Not Updated In Base Material Reporting Screen from Reporting Automation.

[2020-03-27 06:33] GayuSri commented on #69
Dependency on #240

[2020-03-27 06:34] GayuSri commented on #101
Dependency on #240

[2020-03-27 07:26] Duraisingam-G commented on #191
Kanam Process Production Training Handout Documents
1. Planning Information
2. Production Order
3. Report Production cum Resource reporting
4. WH Transfer Barcode
[Kanam Production Automation - Handouts Documents.docx](https://github.com/astpl1998/Kanam-Latex/files/4392032/Kanam.Production.Automation.-.Handouts.Documents.docx)

[2020-03-27 07:34] Senthilmurugan-B commented on #200
Dear sir,
Herewith I have attached updated PFS for your reference refer the yellow color column
[Shipping.Packing.List.UDS.Print_PFS_v1.5 (2).xlsx](https://github.com/astpl1998/Kanam-Latex/files/4392069/Shipping.Packing.List.UDS.Print_PFS_v1.5.2.xlsx)

[2020-03-27 08:26] GayuSri commented on #240
issue has been resolved. kindly check

[2020-03-27 08:29] GayuSri commented on #101
1.Unit Class Desc, Planing information Qty, Planned Process unit, Process Unit not fetched in Report.
Because of reporting automation screen issue, datas are not fetching in report. Now, reporting automation issue has been resolved. Kindly check for new data.
2.Kindly remove decimal value for item die mention column in this Report. - issue has been resolved.

Regards,
Gayathri P

[2020-03-27 08:33] GayuSri commented on #69
Because of reporting automation screen issue, datas are not fetching in report. Now, reporting automation issue has been resolved. Kindly check for new data.

[2020-03-27 09:34] Duraisingam-G commented on #158
Raju Sir:
Costing Automation development completed and already we have tested completed without any issue. (refer that transaction no: AMTC/1819/00005)
while clicking on add costs button its getting error
please find the snapshot and assign any one developer to resolve this issue.
![image](https://user-images.githubusercontent.com/37896999/77741771-7239e680-703b-11ea-8f7c-c49a2f5fe52f.png)

This t

[2020-03-27 10:26] Duraisingam-G commented on #73
Testing -2 Completed.
Find the Latest PFS, Test Data & Test result.

[Test Result - Product Conversion.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4392796/Test.Result.-.Product.Conversion.xlsx)

[2020-03-27 11:19] Duraisingam-G commented on #68
Dear Nandhinee,
As discussed, find the latest PFS.
Indicator No logic is big one, before do this task, please let me know, ill explain.

[PFS.FOR_Production.By.-.Process.Unit_REPORT V_5.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4393103/PFS.FOR_Production.By.-.Process.Unit_REPORT.V_5.xlsx)

[2020-03-27 11:24] raju-kurup commented on #158
@karthikeyanamitysoft : As discussed please give it for issue to resolve

[2020-03-27 11:58] Duraisingam-G commented on #195
Dear Sir,
find the costing automation training handout document

[Kanam Costing Automation - Handouts Document.docx](https://github.com/astpl1998/Kanam-Latex/files/4393318/Kanam.Costing.Automation.-.Handouts.Document.docx)

[2020-03-27 12:20] GayuSri commented on #73
[Product convertion report- deliverables.zip](https://github.com/astpl1998/Kanam-Latex/files/4393441/Product.convertion.report-.deliverables.zip)
Latest deliverables has been updated.

[2020-03-27 12:54] knovakaspar commented on #95
@Senthilmurugan-B

1. Opening Balance wrongly Shown.
2. Production Qty not fetching right qty.
3. Purchase qty showed Multiple qty.
4. Sales return not showing.
5.Stock Adjustment(Increase) field shown wrongly.

Kindly check once again PFS wise in all fields.

Thanks & Regards
Nova Kaspar

[2020-03-27 13:13] knovakaspar commented on #95
@Duraisingam-G
Pls, find the above comments.

[2020-03-28 04:47] Duraisingam-G commented on #95
Dear Sir,
This report testing-1 Completed by Mr. Parthiban, without any issue.
but at the time of testing-2, we are facing the above mentioned issue.
So I assigned to you. please inform to developer and check.

[2020-03-28 08:16] Duraisingam-G commented on #87
Dear Gayathri,
PFA. Am tested this report but the following mentioned column data wrongly fetched kindly check
1. Total Chemical Weight
2. Comp Wastage Kgs
3. Net Weight Kgs
Please refer the test data (given on:23.01.2020)

[2020-03-28 09:16] Duraisingam-G commented on #101
Dear Sir,
I have tested this report with new data, Two changes needed.
1. Planning Information Qty not fetched
2. Planning Process unit - now **description** is shown, to be changed planning process unit **Code**
Find the attached document for your ref.
Kindly allocate to gayathri.
[#101 - Tested Output data.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4396874/101.-.Tested.Output.data.xlsx

[2020-03-28 10:54] raju-kurup commented on #200
@karthikeyanamitysoft : LC No only is not coming

[2020-03-28 11:03] raju-kurup commented on #101
@karthikeyanamitysoft : this report is linked to automation screen and Gayathri has addressed and asked durai to check, durai has made the correction list, so this can be allocated to gayathri.

[2020-03-28 11:07] raju-kurup commented on #95
@Durai & @knovakaspar : when ever this issues comes, please attach the test case which transaction you checked and what the exact result should come.  (Take the report out what is coming and show what should come)  that will be easy to analyse and bring the report in correct way.

[2020-03-28 11:19] raju-kurup commented on #87
@Duraisingam-G : we can change this field but correct data what should come also mention, so that developers will work and bring the data otherwise you want to check each and every time.

[2020-03-28 11:25] raju-kurup commented on #87
@karthikeyanamitysoft : correction to be done for 3 fields, test data and correct data to be done was also mentioned, gayathri has developed this ticket.

[2020-03-28 11:56] raju-kurup commented on #39
partnersandbox is not working. Not able to do design changes.
--

[2020-03-28 12:56] Nandhineedevi commented on #68
Hi Durai,
The coding has been completed. Kindly check and revert back.

Regards
Nandhinee Devi

[2020-03-29 06:49] srinivasanbaskaran commented on #234
Sir,

Sale Order to Packslip Due Date Dcube Report Testing completed. Herewith I have attached the Testing Documents for future references.

PFS: [due.days_Revised_PFS.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4344475/due.days_Revised_PFS.xlsx)

DELIVERABLES: [saleorder_to_packslip-11-02.zip](https://github.com/astpl1998/Kanam-Latex/files/4398389/saleorder_to_packslip-11-02.zip)

PATH:

[2020-03-29 06:57] srinivasanbaskaran commented on #73
Raju Sir,

Production Conversion Report Testing has been Completed. Herewith I have attached the Testing Documents for future references.

PFS: [PFS.FOR_PRODUCT.CONVERSION_REPORT.v6.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4398392/PFS.FOR_PRODUCT.CONVERSION_REPORT.v6.xlsx)

DELIVERABLES: [Product.convertion.report-.deliverables.zip](https://github.com/astpl1998/Kanam-Latex/files/439839

[2020-03-29 07:00] srinivasanbaskaran commented on #213
Sir,

Email Trigger for Sales Invoice Authorization testing has been completed. Herewith I have attached Testing documents.

PFS: [PFS.FOR_COBI.Email.Trigger_HTML.FORMAT.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4344531/PFS.FOR_COBI.Email.Trigger_HTML.FORMAT.xlsx)

DELIVERABLES:[sale_inv_auth_tr_v1.1.zip](https://github.com/astpl1998/Kanam-Latex/files/4344536/sale_inv_auth_tr_v1.1.zip)

[2020-03-29 07:01] srinivasanbaskaran commented on #44
Sir,

Payment Advise Trigger report testing has been completed. Herewith I have attached Testing Documents for future references.

PFS:[Updated_Payment_advice_PFS.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4344754/Updated_Payment_advice_PFS.xlsx)

DELIVERABLES:[trigger_new.zip](https://github.com/astpl1998/Kanam-Latex/files/4398398/trigger_new.zip)

TESTCASE 1: [Payment_Advise_Trigger_ne

[2020-03-30 04:24] Senthilmurugan-B opened #241 "I&P - INVENTORY MASTERS VALIDATION FOR ALL OU'S"
INVENTROY MASTERS
1. UOM CLASS
2.UOM
3.ITEM CATEGORY
4. ITEM ACCOUNT GROUP
5.ITEM MASTER
6. SITE
7. WH CREATION
8. STORAGE ALLOCATION

[2020-03-30 05:09] Duraisingam-G commented on #69
Please do the testing level-2

[2020-03-30 05:10] Duraisingam-G commented on #68
Kindly do the testing

[2020-03-30 06:02] Senthilmurugan-B opened #242 "EAM - MASTER VALIDATIONS FOR ALL OU'S"
MASTERS
1.LOCATION
2.EQUIPMENT

[2020-03-30 07:09] GayuSri commented on #83
partnersandbox is not working.

[2020-03-30 08:06] AkashGleen commented on #20
@raju-kurup Sir,

[2020-03-30 08:08] raju-kurup commented on #20
By mistakenly it was closed, now reopening it.

[2020-03-30 08:11] AkashGleen commented on #20
Dear sir,
Testing-1 Observation points,
1. For imports PO line level note data was not fetched in print.
kindly assign developer and solve the issue ASAP

Thanks & Regards,
Akash

[2020-03-30 09:53] Dhanwandher commented on #69
Akash...

While running DCUBE input item is appearing .Please check

![dcube](https://user-images.githubusercontent.com/50094013/77899414-49635c80-729a-11ea-80bc-1fc6d8273d59.png)

Regards.
S.Dhanwandher.

[2020-03-30 10:54] raju-kurup commented on #37
Partnersandbox is not working

[2020-03-30 11:11] raju-kurup commented on #44
Development completed and details attached, so closing this development

[2020-03-30 11:13] raju-kurup commented on #73
Development completed, tested and details attached, so closing this development

[2020-03-30 11:15] raju-kurup commented on #213
Development completed, tested and details attached, so closing this development

[2020-03-30 11:16] raju-kurup commented on #213
Development completed, tested and details attached, so closing this development

[2020-03-30 11:17] raju-kurup commented on #234
Development completed, tested and details attached, so closing this development

[2020-03-30 12:58] GayuSri commented on #101
@Duraisingam-G Reported changes has been done.

[2020-03-30 13:00] Narendiranath commented on #48
Hi Dhanwandher,

            Changes are done. Kindly check and revert back.

[2020-03-30 15:45] knovakaspar commented on #76
@raju-kurup Sir,@Duraisingam

Please find the updated PFS.
[Daily.production.Line.Rejection.Summary.report.v2.1 (2).xlsx](https://github.com/astpl1998/Kanam-Latex/files/4403856/Daily.production.Line.Rejection.Summary.report.v2.1.2.xlsx)

Thanks & Regards
Nova Kaspar

[2020-03-31 06:31] Dhanwandher commented on #20
Raju Sir....

Please find the Updated PFS....

[ver.1.3_Kanam_Purchase.Order_PFS-C.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4407149/ver.1.3_Kanam_Purchase.Order_PFS-C.xlsx)

Regards...
S.Dhanwandher

[2020-03-31 08:19] Dhanwandher commented on #48
Dear Sir.

The following are points which is coming wrongly.

1.the report should fetch data's pertaining to the period which is given in Input filter all data's are coming.
2.the Average Performance in Days should also be fetched for Number of Days  From Due Date (column H).
[PFS.FOR_Customer.Payment.Performance.Report_V1.3.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4407594/PFS.FOR_Cust

[2020-03-31 10:52] raju-kurup commented on #20
@karthikeyanamitysoft : For imports PO line level note data was not fetched in print as mentioned in PFS. only this issue is there

[2020-03-31 10:54] raju-kurup commented on #48
@karthikeyanamitysoft : 2 points which is mentioned by dhanwandher to be corrected.  PFS updated for this issue.

[2020-03-31 11:20] Duraisingam-G commented on #95
Dear Sir,
I Have tested this report, some of the field to be wrongly fetched.

1. Production Qty - It's Showing accepted qty only, need to be added Rejection qty also.
2. Stock   transfer Receipt Qty  - Not Fetched
3. DTA   Sales ( Interstate,Local) Qty    - Its showing excess qty
4. Stock   Adjustment (Decrease stock)     - Negative symbol no needed (-)

Find the attached attached report output d

[2020-03-31 11:34] Narendiranath commented on #94
Hi Duraisingam,

                Changes are done. Kindly check and revert back.

[2020-03-31 11:46] Narendiranath commented on #94
Hi Duraisingam,

       Kindly provide me the logic for remaining one point.( warehouse )

[2020-03-31 11:51] Duraisingam-G commented on #240
Issue resolved.

[2020-03-31 11:51] #240 closed

[2020-03-31 11:53] Duraisingam-G commented on #148
Jeyapriya
Please attach the latest deliverables.

[2020-03-31 11:54] Duraisingam-G commented on #180
Jeyapriya
Please attach the latest deliverables.

[2020-03-31 11:54] Duraisingam-G commented on #198
Jeyapriya
Please attach the latest deliverables.

[2020-03-31 11:55] Duraisingam-G commented on #147
Gayathri
Please attach the latest deliverables.

[2020-03-31 12:21] badamnarendra028 commented on #49
completed kindly check and revert me

[2020-03-31 12:28] knovakaspar commented on #74
@Duraisingam-G @raju-kurup Sir
![image](https://user-images.githubusercontent.com/50448138/78025987-90c01a80-7378-11ea-8558-130383720e16.png)

We need to discuss and confirm the above-mentioned field.
Because we want to Ltx of the previous month's stock(kg). but the report fetched wrongly.

Thanks & Regards
Nova Kaspar

[2020-03-31 12:49] raju-kurup commented on #39
Now partnersandbox server is working

[2020-03-31 12:51] raju-kurup commented on #93
Now partnersandbox is working now

[2020-03-31 12:51] raju-kurup commented on #83
Now the partnersandbox server is working

[2020-03-31 13:08] raju-kurup commented on #33
![image](https://user-images.githubusercontent.com/38855314/78029740-b3edc880-737e-11ea-927c-7291c00853d4.png)

Now the ticket is in "Clarification provided", please check and close the ticket or reopen it

[2020-03-31 13:08] karthikeyanamitysoft commented on #37
Not partnersandbox related issue.

[2020-03-31 13:12] raju-kurup opened #243 "ISS - Item master file to be generated for Kanam Latex"
Item master file to be generated for Kanam Latex to test reports as requested by Duraisingam

[2020-03-31 13:13] raju-kurup commented on #243
@karthikeyanamitysoft : Already Mohana is attending this issue.

[2020-03-31 13:30] raju-kurup commented on #95
@karthikeyanamitysoft : please correct the report as updated in PFS

[2020-03-31 14:10] raju-kurup commented on #236
@Dhanwandher : please reverify the PFS and discuss

[2020-03-31 17:25] Duraisingam-G commented on #69
Dear Sir,
Date Filter not working, refer the input and output details and resolve,

Input
![image](https://user-images.githubusercontent.com/37896999/78056368-a34f4980-73a2-11ea-9861-48128afa6443.png)

output
![image](https://user-images.githubusercontent.com/37896999/78056238-6e42f700-73a2-11ea-94c9-0e056f00198d.png)

[2020-04-01 02:19] Dhanwandher commented on #49
Sir....

Mail is not triggering after the authorization of Customer Receipt....

Regards....
S.Dhanwandher....

[2020-04-01 04:16] Duraisingam-G commented on #68
dear senthil,
pls do the complete testing level-1

[2020-04-01 04:27] Duraisingam-G commented on #94
dear senthil,
pls do the testing-1

[2020-04-01 04:44] Duraisingam-G commented on #92
Item master - Item information "ref1" its correct in the item master file which we have received from mohana on 01.04.2020.
so that is enough to this report testing.

[2020-04-01 05:08] GayuSri commented on #147
[PO Automation deliverables.zip](https://github.com/astpl1998/Kanam-Latex/files/4412889/PO.Automation.deliverables.zip)
Latest deliverables has been attached.

[2020-04-01 05:18] Duraisingam-G commented on #200
akash,
pls do the testing

[2020-04-01 05:22] raju-kurup commented on #33
@GayuSri : please see the comments given by ramco.

[2020-04-01 05:23] raju-kurup commented on #93
Now partnersandbox is working now

[2020-04-01 05:24] raju-kurup commented on #83
Now partnersandbox is working now

[2020-04-01 05:24] raju-kurup commented on #39
Now partnersandbox is working now

[2020-04-01 06:00] Duraisingam-G commented on #101
Dear Sir,
1. Planning information qty wrongly fetched.
2. resolved.
Refer the test data in "Planning" sheet and output report.

[101 output - correction.pdf](https://github.com/astpl1998/Kanam-Latex/files/4413048/101.output.-.correction.pdf)

[2020-04-01 06:57] GayuSri commented on #33
@Senthilmurugan-B  development has been completed. Now, attach notes link also working fine. Kindly check and revert back.

[2020-04-01 07:11] raju-kurup commented on #101
@karthikeyanamitysoft : only 1 correction is needed in this report.  Gayathri has done this report

[2020-04-01 07:15] raju-kurup commented on #69
Date filter is not coming correct. Gayathri has done this report. both screenshot is attached for reference

[2020-04-01 07:36] AkashGleen commented on #200
Dear Senthilmurugan,

SHIPPING PACKING LIST PRINT Testing 1 Completed Kindly Check & Update.

[Test.Case_1.For.Shpping.Packing.List.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4413448/Test.Case_1.For.Shpping.Packing.List.xlsx)

[TEST RESULT FOR SHIPPING. PACKING.LIST (1).pdf](https://github.com/astpl1998/Kanam-Latex/files/4413453/TEST.RESULT.FOR.SHIPPING.PACKING.LIST.1.pdf)

Thanks & Rega

[2020-04-01 08:06] Duraisingam-G commented on #195
Dear Sir,
As discussed, Changes done. find the updated file for your ref.
[Kanam Costing Automation - Handouts Document.docx](https://github.com/astpl1998/Kanam-Latex/files/4413682/Kanam.Costing.Automation.-.Handouts.Document.docx)

[2020-04-01 08:09] Duraisingam-G commented on #191
Dear Sir,
As discussed, Changes done. find the updated file for your ref.
[Kanam Production Automation - Handouts Document.docx](https://github.com/astpl1998/Kanam-Latex/files/4413690/Kanam.Production.Automation.-.Handouts.Document.docx)

[2020-04-01 08:31] GayuSri commented on #147
@Duraisingam-G Latest deliverables has been updated.
[PO Automation deliverables.zip](https://github.com/astpl1998/Kanam-Latex/files/4413823/PO.Automation.deliverables.zip)

[2020-04-01 09:00] Senthilmurugan-B commented on #94
Dear sir,
as per testing1 am observed some points are listed below kindly refer the points and allocate the concerned person and solved the issue.

Observation in Testing 1.
1.The input screen was not working properly if I choose a SO no, from and To Date report will not generated.
2. Other OU's SO also listed in ANK.
3. as per PFS sample data sheet subtotal ( Brand wise ) should derive as custome

[2020-04-01 10:21] Duraisingam-G commented on #92
Sir,
1. Stock Qty wrongly shown
2. Plant Stock Properly Not shown.
3. warehouse, Item category & Product type wise grouping needed.
4. Report header need to be changed as per the input name.

Find the below test data and latest pfs for your ref.
Changes required.
[Daily.Gloves.Stock.Report.-.Production.92_v1.4 (2).xlsx](https://github.com/astpl1998/Kanam-Latex/files/4414413/Daily.Gloves.Stock.Repo

[2020-04-01 10:46] Narendiranath commented on #48
Hi Dhanwandhar,

                   Changes are done. Kindly check and revert back.

[2020-04-01 11:00] raju-kurup commented on #49
Mail is not triggering after the authorization of Customer Receipt....

[2020-04-01 11:42] GayuSri commented on #93
Design changes has been done. Rtrack raised for deliverables. Rtrack id :KLE-541

[2020-04-01 11:48] raju-kurup commented on #92
@karthikeyanamitysoft : please do the correction as mentioned test case and output of the report was attached

[2020-04-01 11:56] GayuSri commented on #83
Design changes has been done. Rtrack raised for deliverables. Rtrack id :KLE-542

[2020-04-01 12:26] AkashGleen commented on #68
@Raju-kurup Sir,

Production by- Process unit Process cell Process - Phase Report was not launched in reporting screen Kindly Review the PFS

[PFS.FOR_Production.By.-.Process.Unit_REPORT.V_5 (1).xlsx](https://github.com/astpl1998/Kanam-Latex/files/4415029/PFS.FOR_Production.By.-.Process.Unit_REPORT.V_5.1.xlsx)

Thanks & Regards,
Akash

[2020-04-01 12:30] Senthilmurugan-B commented on #94
Dear singam,
as per testing1 am observed some points are listed below kindly refer the points and allocate the concerned person and solved the issue.

Observation in Testing 1.
1.The input screen was not working properly if I choose a SO no, from and To Date report will not generated.
2. Other OU's SO also listed in ANK.
3. as per PFS sample data sheet subtotal ( Brand wise ) should derive as cust

[2020-04-01 12:44] raju-kurup commented on #68
@Duraisingam-G : please speak to Akash and check the PFS accordingly.

[2020-04-01 13:09] raju-kurup commented on #158
![image](https://user-images.githubusercontent.com/38855314/78140320-72752000-7447-11ea-98ce-4cfb388323b6.png)

@Duraisingam-G : please check this ticket and if resolved please close ramco ticket

[2020-04-01 14:12] raju-kurup commented on #195
@Duraisingam-G : please circulate this document to customer

[2020-04-01 14:12] #195 closed

[2020-04-01 14:14] raju-kurup commented on #191
@Duraisingam-G : please circulate this document to customer

[2020-04-01 14:14] #191 closed

[2020-04-02 06:17] Dhanwandher commented on #48
Dear Team...

Testing one completed....

Regards...
S.Dhanwandher...
[Test.Case for Customer Payment Performance.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4419162/Test.Case.for.Customer.Payment.Performance.xlsx)

[Customer Payment Performance report test result.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4419166/Customer.Payment.Performance.report.test.result.xlsx)

[2020-04-02 06:18] Dhanwandher commented on #48
Akash....

Please do the testing 2...

Regards...
S.Dhanwandher...

[2020-04-02 06:19] Duraisingam-G commented on #161
Dear Gayathri,
pl attach the latest deliverables.

[2020-04-02 06:27] GayuSri commented on #69
@Duraisingam-G  Reported issue has been resolved.

![image](https://user-images.githubusercontent.com/47743592/78217130-03480c00-74d9-11ea-8549-778112f1ea1a.png)

[2020-04-02 07:39] GayuSri commented on #101
Issue has been resolved.

![image](https://user-images.githubusercontent.com/47743592/78222588-1eb81480-74e3-11ea-905b-cdf058b45503.png)

[2020-04-02 07:51] Senthilmurugan-B commented on #200
Testing -2 result
[Test.Case_2.For.Shpping.Packing.List (2).xlsx](https://github.com/astpl1998/Kanam-Latex/files/4419520/Test.Case_2.For.Shpping.Packing.List.2.xlsx)
[TESTING-2 RESULT_SHIPPING PACKING LIST.pdf](https://github.com/astpl1998/Kanam-Latex/files/4419521/TESTING-2.RESULT_SHIPPING.PACKING.LIST.pdf)

[2020-04-02 07:53] Senthilmurugan-B commented on #200
@Nandhineedevi
kindly attach latest deliverables.

[2020-04-02 07:55] Duraisingam-G opened #244 "ISS : Sterilization Indicator No Not updated in Production Issue."
Dear Sir,
While doing Allocate in Material Allocation Automation activity, sterilization indicator no not updated in production issue in attach notes.
I informed to karthi,Kindly allocate to him.

[2020-04-02 09:17] Duraisingam-G commented on #68
Dear Sir,
All the data not fetched in this report.
![image](https://user-images.githubusercontent.com/37896999/78231578-a8221380-74f0-11ea-88ea-b2295ae96064.png)
Process : ANK STERILIZATION PROCESS
From date : 04/02/2020
To Date : 04/02/2020
Please assign to Nandhinee.

[2020-04-02 09:19] Duraisingam-G commented on #68
Test data transaction nos
AREP/020420/B000001
AREP/020420/B000002
AREP/020420/B000003

[2020-04-02 11:07] Duraisingam-G commented on #94
As discussed,
kindly check this report.

[2020-04-02 11:44] Jeyapriyat commented on #198
@Duraisingam-G

i have attached latest deliverables.
[FINAL DELI CAAST-BARCODE UDS.zip](https://github.com/astpl1998/Kanam-Latex/files/4420760/FINAL.DELI.CAAST-BARCODE.UDS.zip)

[2020-04-02 11:44] Dhanwandher commented on #236
Dear Sir..

Please find the Updated PFS for Sub-Contracting ITC-04 -DCUBE.

Regards.
S.Dhanwandher.
[PFS.FOR_ITC_v1.0.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4420759/PFS.FOR_ITC_v1.0.xlsx)

[2020-04-02 12:10] Senthilmurugan-B commented on #94
Dear sir,
Observation in Testing 1.
1. If I extract the report in ANK OU Other OU's Sale Order's also listed.
Kindly assign the report to the developer and close the issue ASAP.

[2020-04-02 12:20] raju-kurup commented on #68
@karthikeyanamitysoft : Report is coming blank.

[2020-04-02 12:46] raju-kurup commented on #90
@karthikeyanamitysoft : please develop this report in RDW with seperate page for headings as discussed with Duraisingam.

[2020-04-02 13:29] raju-kurup commented on #244
@karthikeyanamitysoft : As discussed with Karthi, please do the needful.

[2020-04-02 13:35] raju-kurup commented on #94
@Senthilmurugan-B : As mentioned please do the correction in PFS and mark it for review

[2020-04-02 13:46] Jeyapriyat commented on #148
@Duraisingam-G

i have attached latest deliverables.
[FINAL DELI MATERIAL ALLOCATION SCREEN.zip](https://github.com/astpl1998/Kanam-Latex/files/4421454/FINAL.DELI.MATERIAL.ALLOCATION.SCREEN.zip)

[2020-04-03 04:16] Senthilmurugan-B commented on #94
Dear sir ,
As we discussed herewith I have attached updated PFS for your reference.
kindly refer yellow colour field in column level requirement screen.
[FINISHED.GOODS.STOCK.REPORT.updated.PFS.v4.95-.Dcube.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4425007/FINISHED.GOODS.STOCK.REPORT.updated.PFS.v4.95-.Dcube.xlsx)

[2020-04-03 04:34] knovakaspar commented on #74
@raju-kurup

Please find updated PFS,

[Daily.Production.Report.Plant.Wise.Summary.Report_PFS (1).xlsx](https://github.com/astpl1998/Kanam-Latex/files/4425059/Daily.Production.Report.Plant.Wise.Summary.Report_PFS.1.xlsx)

Thanks & Regards
Nova Kaspar

[2020-04-03 04:43] Duraisingam-G opened #245 "GEN : Process Production - Masters Validation"
Dear Nova,
Pls validate, ANK Packing Item master, Formula & Master Recipe.
Ref Mail dt : Fri 3/20/2020 2:41 PM
Mail from : Mr. Libin

[2020-04-03 05:33] raju-kurup commented on #94
@karthikeyanamitysoft : In this report all sale orders of other OU's also listing, they need only the sale order of the OU in which report is taken. That is the only correction.

[2020-04-03 05:43] Duraisingam-G commented on #101
Dear Sir,
Pl find the attached test data, output and input details.
Kindly check the all fields and do the changes.
[Test Data.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4425230/Test.Data.xlsx)

[2020-04-03 07:40] GayuSri commented on #161
Latest deliverables has been attached.
[latest deliverables.zip](https://github.com/astpl1998/Kanam-Latex/files/4425651/latest.deliverables.zip)

[2020-04-03 07:41] Duraisingam-G commented on #101
Sir
pl ignore previous file
ill share the latest file

[2020-04-03 07:59] Duraisingam-G commented on #101
Dear Sir,
Pl find the attached test data and latest PFS, output and input details.
[Daily.Plan.Vs.Actual.101.v4.-.EDK.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4425721/Daily.Plan.Vs.Actual.101.v4.-.EDK.xlsx)

[Test Data.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4425725/Test.Data.xlsx)

Kindly check the all fields and do the changes

[2020-04-03 08:34] Jeyapriyat commented on #180
@Duraisingam-G
 i have attached latest deliverables.
[FINAL DELI PLANNING INFORMATION - KLE-490.zip](https://github.com/astpl1998/Kanam-Latex/files/4425880/FINAL.DELI.PLANNING.INFORMATION.-.KLE-490.zip)

[2020-04-03 10:33] Duraisingam-G commented on #235
![image](https://user-images.githubusercontent.com/37896999/78351568-a6298480-75c4-11ea-8a3b-06bcdc2a5d47.png)

[2020-04-03 12:12] raju-kurup commented on #101
@karthikeyanamitysoft : please correct this report, test data and PFS attached

[2020-04-03 12:34] raju-kurup commented on #76
@karthikeyanamitysoft : please do the correction, test data and PFS updated.  Contact Nova for further clarification

[2020-04-03 12:36] raju-kurup commented on #74
@knovakaspar : please update the test data and revert back.

[2020-04-03 13:18] AkashGleen commented on #48
Dear Srini,

Customer Payment Performance Report Testing 2 Completed Kindly Check & Update.

[Test.Case.for.Customer.Payment.Performance v2.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4427413/Test.Case.for.Customer.Payment.Performance.v2.xlsx)

[Customer payment performance Test Result v2.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4427414/Customer.payment.performance.Test.Result

[2020-04-04 03:12] knovakaspar commented on #74
Dear Team & @raju-kurup Sir,
I was edited and updating Test data in the previous(comment) PFS.

Thanks & Regards
Nova Kaspar

[2020-04-04 03:30] knovakaspar commented on #245
@Duraisingam-G

Please find the attachment for ANK Packing Validated file.

[ANK Packing.zip](https://github.com/astpl1998/Kanam-Latex/files/4430673/ANK.Packing.zip)

Thanks & Regards
Nova Kaspar

[2020-04-04 03:50] AkashGleen commented on #39
Dear Senthilmurugan,

Commercial Invoice Print Testing 1 Completed Kindly Check & Update.

[Test.Case.For.Commercial.Invoice v1.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4430703/Test.Case.For.Commercial.Invoice.v1.xlsx)

[Commercial Invoice Test Result v1.pdf](https://github.com/astpl1998/Kanam-Latex/files/4430705/Commercial.Invoice.Test.Result.v1.pdf)

Regards,
Akash

[2020-04-04 04:55] Duraisingam-G commented on #180
Dear Nova,
Pl attach the test case and tested document and assign to Srini.

[2020-04-04 04:56] Duraisingam-G commented on #147
Dear Nova,
Pl attach the test case and tested document and assign to Srini.

[2020-04-04 04:57] Duraisingam-G commented on #198
Dear Nova,
Pl attach the test case and tested document and assign to Srini.

[2020-04-04 05:26] Narendiranath commented on #48
Hi Duraisingam,

         I attached deliverables for Customer Payment Performance Report. Kindly check.
[Deliverables.zip](https://github.com/astpl1998/Kanam-Latex/files/4430798/Deliverables.zip)

[2020-04-04 06:54] Senthilmurugan-B opened #246 "MDV-Live Server Master Validation - Sales & Shipping - 311_KCLP_Ettumanoor"
Dear Team,
i will attach master list and masters mdcf

[2020-04-04 06:56] Senthilmurugan-B opened #247 "MDV-Live Server Master Validation - Sales & Shipping - 300_KAPL_Kottayam"
Dear Team,
i will attach master list and masters mdcf

[2020-04-04 06:57] Senthilmurugan-B opened #248 "MDV-Live Server Master Validation - Pur & Subcon - 210_KLIP_Ananthanadarkudy"
Dear Team,
i will attach master list and masters mdcf

[2020-04-04 06:58] Senthilmurugan-B opened #249 "MDV-Live Server Master Validation - Pur & Subcon - 211_KLIP_Peruvilai"
Dear Team,
i will attach master list and masters mdcf

[2020-04-04 06:59] Senthilmurugan-B opened #250 "MDV-Live Server Master Validation - Pur & Subcon - 212_KLIP_Kavalkinaru"
Dear Team,
i will attach master list and masters mdcf

[2020-04-04 07:00] Senthilmurugan-B opened #251 "MDV-Live Server Master Validation - Pur & Subcon - 340_KCLP_Konam"
Dear Team,
i will attach master list and masters mdcf

[2020-04-04 07:00] Senthilmurugan-B opened #252 "MDV-Live Server Master Validation - Pur & Subcon - 311_KCLP_Ettumanoor"
Dear Team,
i will attach master list and masters mdcf

[2020-04-04 07:01] Senthilmurugan-B opened #253 "MDV-Live Server Master Validation - Inv & PICC - 210_KLIP_Ananthanadarkudy"
Dear Team,
i will attach master list and masters mdcf

[2020-04-04 07:02] Senthilmurugan-B opened #254 "MDV-Live Server Master Validation - Inv & PICC - 211_KLIP_Peruvilai"
Dear Team,
i will attach master list and masters mdcf

[2020-04-04 07:03] Senthilmurugan-B opened #255 "MDV-Live Server Master Validation - Inv & PICC - 212_KLIP_Kavalkinaru"
Dear Team,
i will attach master list and masters mdcf

[2020-04-04 07:04] Senthilmurugan-B opened #256 "MDV-Live Server Master Validation - Inv & PICC - 340_KCLP_Konam"
Dear Team,
i will attach master list and masters mdcf

[2020-04-04 07:05] Senthilmurugan-B opened #257 "MDV-Live Server Master Validation - Inv & PICC - 311_KCLP_Ettumanoor"
Dear Team,
i will attach master list and masters mdcf

[2020-04-04 07:06] Senthilmurugan-B opened #258 "MDV-Live Server Master Validation - EAM - 210_KLIP_Ananthanadarkudy"
Dear Team,
i will attach master list and masters mdcf

[2020-04-04 07:07] Senthilmurugan-B opened #259 "MDV-Live Server Master Validation - EAM - 211_KLIP_Peruvilai"
Dear Team,
i will attach master list and masters mdcf

[2020-04-04 07:07] Senthilmurugan-B opened #260 "MDV-Live Server Master Validation - EAM - 212_KLIP_Kavalkinaru"
Dear Team,
i will attach master list and masters mdcf

[2020-04-04 07:08] Senthilmurugan-B opened #261 "MDV-Live Server Master Validation - EAM - 340_KCLP_Konam"
Dear Team,
i will attach master list and masters mdcf

[2020-04-04 08:56] knovakaspar commented on #198
@srinivasanbaskaran

Please find the attachment for the Test Case and Tested Document.
[Create & Authorized Warehouse Stock Transfer.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4431007/Create.Authorized.Warehouse.Stock.Transfer.xlsx)

Thanks & Regards
Nova Kaspar

[2020-04-04 11:03] Duraisingam-G commented on #244
This issue to be Handled in #148, So i closed this ticket.

[2020-04-04 11:03] #244 closed

[2020-04-04 11:04] Duraisingam-G commented on #148
Dear Sir,
While doing Allocate in Material Allocation Automation activity, sterilization indicator no not updated in production issue in attach notes.

[2020-04-04 11:08] Duraisingam-G commented on #161
QC rejected status & Rej Code not showing in Material reporting - Base Screen. (Transaction done in this automation)
AREP/030420/A000001

[2020-04-04 11:16] Dhanwandher opened #262 "MDV-Live Server Master Validation - Pur & Subcon - 300_KAPL_Kottayam"
MDV-Live Server   Master Validation - Pur & Subcon  -   300_KAPL_Kottayam
--

[2020-04-04 11:17] Dhanwandher opened #263 "MDV-Live Server Master Validation - Inv & PICC - 300_KAPL_Kottayam"
MDV-Live Server   Master Validation - Inv & PICC  -   300_KAPL_Kottayam
--

[2020-04-04 11:18] Dhanwandher opened #264 "MDV-Live Server Master Validation - Process Prod - 300_KAPL_Kottayam"
MDV-Live Server   Master Validation - Process Prod  -   300_KAPL_Kottayam
--

[2020-04-04 11:19] Dhanwandher opened #265 "MDV-Live Server Master Validation - Finance - 300_KAPL_Kottayam"
MDV-Live Server   Master Validation - Finance - 300_KAPL_Kottayam
--

[2020-04-04 11:20] Dhanwandher opened #266 "MDV-Live Server Master Validation - Fixed Asset - 300_KAPL_Kottayam"
MDV-Live Server   Master Validation - Fixed Asset - 300_KAPL_Kottayam
--

[2020-04-04 11:22] Dhanwandher opened #267 "MDV-Live Server Master Validation - EAM - 300_KAPL_Kottayam"
MDV-Live Server   Master Validation - EAM - 300_KAPL_Kottayam
--

[2020-04-04 11:23] Dhanwandher opened #268 "MDV-Live Server Master Validation - Process Prod - 311_KCLP_Ettumanoor"
MDV-Live Server   Master Validation - Process Prod  -   311_KCLP_Ettumanoor
--

[2020-04-04 11:25] Dhanwandher opened #269 "MDV-Live Server Master Validation - Finance - 311_KCLP_Ettumanoor"
MDV-Live Server   Master Validation - Finance - 311_KCLP_Ettumanoor
--

[2020-04-04 11:26] Dhanwandher opened #270 "MDV-Live Server Master Validation - Fixed Asset - 311_KCLP_Ettumanoor"
MDV-Live Server   Master Validation - Fixed Asset - 311_KCLP_Ettumanoor
--

[2020-04-04 11:27] Dhanwandher opened #271 "MDV-Live Server Master Validation - EAM - 311_KCLP_Ettumanoor"
MDV-Live Server   Master Validation - EAM - 311_KCLP_Ettumanoor
--

[2020-04-04 11:29] Dhanwandher opened #272 "MDV-Live Server Master Validation - Pur & Subcon - 320_KCLP_Kottayam"
MDV-Live Server   Master Validation - Pur & Subcon  -   320_KCLP_Kottayam
--

[2020-04-04 11:30] Dhanwandher opened #273 "MDV-Live Server Master Validation - Inv & PICC - 320_KCLP_Kottayam"
MDV-Live Server   Master Validation - Inv & PICC  -   320_KCLP_Kottayam
--

[2020-04-04 11:31] Dhanwandher opened #274 "MDV-Live Server Master Validation - Process Prod - 320_KCLP_Kottayam"
MDV-Live Server   Master Validation - Process Prod  -   320_KCLP_Kottayam
--

[2020-04-04 11:32] Dhanwandher opened #275 "MDV-Live Server Master Validation - Sales & Shipping - 320_KCLP_Kottayam"
MDV-Live Server   Master Validation - Sales & Shipping    - 320_KCLP_Kottayam
--

[2020-04-04 11:33] Dhanwandher opened #276 "MDV-Live Server Master Validation - Finance - 320_KCLP_Kottayam"
MDV-Live Server   Master Validation - Finance - 320_KCLP_Kottayam
--

[2020-04-04 11:34] Dhanwandher opened #277 "MDV-Live Server Master Validation - Fixed Asset - 320_KCLP_Kottayam"
MDV-Live Server   Master Validation - Fixed Asset - 320_KCLP_Kottayam
--

[2020-04-04 11:35] Dhanwandher opened #278 "MDV-Live Server Master Validation - EAM - 320_KCLP_Kottayam"
MDV-Live Server   Master Validation - EAM - 320_KCLP_Kottayam
--

[2020-04-04 11:36] Dhanwandher opened #279 "MDV-Live Server Master Validation - Process Prod - 340_KCLP_Konam"
MDV-Live Server   Master Validation - Process Prod  -   340_KCLP_Konam
--

[2020-04-04 11:39] Senthilmurugan-B opened #280 "MDU-Live Server Master Uploading - Pur & Subcon - 300_KAPL_Kottayam"
Update Masters

[2020-04-04 11:39] Dhanwandher opened #281 "MDV-Live Server Master Validation - Sales & Shipping - 340_KCLP_Konam"
MDV-Live Server   Master Validation - Sales & Shipping    - 340_KCLP_Konam
--

[2020-04-04 11:41] Senthilmurugan-B opened #282 "MDU-Live Server Master Uploading - Inv & PICC - 300_KAPL_Kottayam"
Dear Team,
kindly update Validated Masters

[2020-04-04 11:42] Dhanwandher opened #283 "MDV-Live Server Master Validation - Finance - 340_KCLP_Konam"
MDV-Live Server   Master Validation - Finance - 340_KCLP_Konam
--

[2020-04-04 11:42] Senthilmurugan-B opened #284 "MDU-Live Server Master Uploading - Process Prod - 300_KAPL_Kottayam"
Dear Team,
kindly update Validated Masters

[2020-04-04 11:44] Senthilmurugan-B opened #285 "MDU-Live Server Master Uploading - Sales & Shipping - 300_KAPL_Kottayam"
Dear Team,
kindly update Validated Masters

[2020-04-04 11:44] Dhanwandher opened #286 "MDV-Live Server Master Validation - Fixed Asset - 340_KCLP_Konam"
MDV-Live Server   Master Validation - Fixed Asset - 340_KCLP_Konam
--

[2020-04-04 11:44] Dhanwandher opened #287 "MDV-Live Server Master Validation - Pur & Subcon - 200_KLIP_Kottayam"
MDV-Live Server   Master Validation - Pur & Subcon  -   200_KLIP_Kottayam
--

[2020-04-04 11:45] Senthilmurugan-B opened #288 "MDU-Live Server Master Uploading - Finance - 300_KAPL_Kottayam"
Dear Team,
kindly update Validated Masters

[2020-04-04 11:46] Senthilmurugan-B opened #289 "MDU-Live Server Master Uploading - Fixed Asset - 300_KAPL_Kottayam"
Dear Team,
kindly update Validated Masters

[2020-04-04 11:47] Senthilmurugan-B opened #290 "MDU-Live Server Master Uploading - EAM - 300_KAPL_Kottayam"
Dear Team,
kindly update Validated Masters

[2020-04-04 11:48] Dhanwandher opened #291 "MDV-Live Server Master Validation - Inv & PICC - 200_KLIP_Kottayam"
MDV-Live Server   Master Validation - Inv & PICC  -   200_KLIP_Kottayam
--

[2020-04-04 11:49] Senthilmurugan-B opened #292 "MDU-Live Server Master Uploading - Pur & Subcon - 311_KCLP_Ettumanoor"
Dear Team,
kindly update Validated Masters

[2020-04-04 11:50] Senthilmurugan-B opened #293 "MDU-Live Server Master Uploading - Inv & PICC - 311_KCLP_Ettumanoor"
Dear Team,
kindly update Validated Masters

[2020-04-04 11:51] Dhanwandher opened #294 "MDV-Live Server Master Validation - Process Prod - 200_KLIP_Kottayam"
MDV-Live Server   Master Validation - Process Prod  -   200_KLIP_Kottayam
--

[2020-04-04 11:51] Senthilmurugan-B opened #295 "MDU-Live Server Master Uploading - Process Prod - 311_KCLP_Ettumanoor"
Dear Team,
kindly update Validated Masters

[2020-04-04 11:52] Senthilmurugan-B opened #296 "MDU-Live Server Master Uploading - Sales & Shipping - 311_KCLP_Ettumanoor"
Dear Team,
kindly update Validated Masters

[2020-04-04 11:53] Senthilmurugan-B opened #297 "MDU-Live Server Master Uploading - Finance - 311_KCLP_Ettumanoor"
Dear Team,
kindly update Validated Masters

[2020-04-04 11:53] Dhanwandher opened #298 "MDV-Live Server Master Validation - Sales & Shipping - 200_KLIP_Kottayam"
MDV-Live Server   Master Validation - Sales & Shipping    - 200_KLIP_Kottayam
--

[2020-04-04 11:54] Dhanwandher opened #299 "MDV-Live Server Master Validation - Finance - 200_KLIP_Kottayam"
MDV-Live Server   Master Validation - Finance - 200_KLIP_Kottayam
--

[2020-04-04 11:54] Senthilmurugan-B opened #300 "MDU-Live Server Master Uploading - Fixed Asset - 311_KCLP_Ettumanoor"
Dear Team,
kindly update Validated Masters

[2020-04-04 11:55] Senthilmurugan-B opened #301 "MDU-Live Server Master Uploading - EAM - 311_KCLP_Ettumanoor"
Dear Team,
kindly update Validated Masters

[2020-04-04 11:56] Senthilmurugan-B opened #302 "MDU-Live Server Master Uploading - Pur & Subcon - 320_KCLP_Kottayam"
Dear Team,
kindly update Validated Masters

[2020-04-04 11:57] Senthilmurugan-B opened #303 "MDU-Live Server Master Uploading - Inv & PICC - 320_KCLP_Kottayam"
Dear Team,
kindly update Validated Masters

[2020-04-04 11:58] knovakaspar commented on #180
@srinivasanbaskaran

Please find the attachment for the TestCase & TestData for Kanam Planning Information(Automation).
[TestCase & TestResult for Kanam Planning Information.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4431290/TestCase.TestResult.for.Kanam.Planning.Information.xlsx)

Thanks & Regards
Nova Kaspar

[2020-04-04 11:59] Dhanwandher opened #304 "MDV-Live Server Master Validation - Fixed Asset - 200_KLIP_Kottayam"
MDV-Live Server   Master Validation - Fixed Asset - 200_KLIP_Kottayam
--

[2020-04-04 11:59] Senthilmurugan-B opened #305 "MDU-Live Server Master Uploading - Process Prod - 320_KCLP_Kottayam"
Dear Team,
kindly update Validated Masters

[2020-04-04 12:00] Dhanwandher opened #306 "MDV-Live Server Master Validation - EAM - 200_KLIP_Kottayam"
MDV-Live Server   Master Validation - EAM - 200_KLIP_Kottayam
--

[2020-04-04 12:00] Dhanwandher opened #307 "MDV-Live Server Master Validation - Pur & Subcon - 201_KLIP_Ettumanoor"
MDV-Live Server   Master Validation - Pur & Subcon  -   201_KLIP_Ettumanoor
--

[2020-04-04 12:01] Senthilmurugan-B opened #308 "MDU-Live Server Master Uploading - Sales & Shipping - 320_KCLP_Kottayam"
Dear Team,
kindly update Validated Masters

[2020-04-04 12:02] Senthilmurugan-B opened #309 "MDU-Live Server Master Uploading - Finance - 320_KCLP_Kottayam"
Dear Team,
kindly update Validated Masters

[2020-04-04 12:03] Senthilmurugan-B opened #310 "MDU-Live Server Master Uploading - Fixed Asset - 320_KCLP_Kottayam"
Dear Team,
kindly update Validated Masters

[2020-04-04 12:04] Dhanwandher opened #311 "MDV-Live Server Master Validation - Inv & PICC - 201_KLIP_Ettumanoor"
MDV-Live Server   Master Validation - Inv & PICC  -   201_KLIP_Ettumanoor
--

[2020-04-04 12:04] Senthilmurugan-B opened #312 "MDU-Live Server Master Uploading - EAM - 320_KCLP_Kottayam"
Dear Team,
kindly update Validated Masters

[2020-04-04 12:05] Senthilmurugan-B opened #313 "MDU-Live Server Master Uploading - Pur & Subcon - 340_KCLP_Konam"
Dear Team,
kindly update Validated Masters

[2020-04-04 12:06] Senthilmurugan-B opened #314 "MDU-Live Server Master Uploading - Inv & PICC - 340_KCLP_Konam"
Dear Team,
kindly update Validated Masters

[2020-04-04 12:06] Senthilmurugan-B opened #315 "MDU-Live Server Master Uploading - Process Prod - 340_KCLP_Konam"
Dear Team,
kindly update Validated Masters

[2020-04-04 12:07] Dhanwandher opened #316 "MDV-Live Server Master Validation - Inv & PICC - 201_KLIP_Ettumanoor"
MDV-Live Server   Master Validation - Inv & PICC  -   201_KLIP_Ettumanoor
--

[2020-04-04 12:07] Senthilmurugan-B opened #317 "MDU-Live Server Master Uploading - Sales & Shipping - 340_KCLP_Konam"
Dear Team,
kindly update Validated Masters

[2020-04-04 12:08] Dhanwandher opened #318 "MDV-Live Server Master Validation - Process Prod - 201_KLIP_Ettumanoor"
MDV-Live Server   Master Validation - Process Prod  -   201_KLIP_Ettumanoor
--

[2020-04-04 12:08] Dhanwandher opened #319 "MDV-Live Server Master Validation - Sales & Shipping - 201_KLIP_Ettumanoor"
MDV-Live Server   Master Validation - Sales & Shipping    - 201_KLIP_Ettumanoor
--

[2020-04-04 12:08] Senthilmurugan-B opened #320 "MDU-Live Server Master Uploading - Finance - 340_KCLP_Konam"
Dear Team,
kindly update Validated Masters

[2020-04-04 12:08] Dhanwandher opened #321 "MDV-Live Server Master Validation - Finance - 201_KLIP_Ettumanoor"
MDV-Live Server   Master Validation - Finance - 201_KLIP_Ettumanoor
--

[2020-04-04 12:09] Senthilmurugan-B opened #322 "MDU-Live Server Master Uploading - Fixed Asset - 340_KCLP_Konam"
Dear Team,
kindly update Validated Masters

[2020-04-04 12:09] Dhanwandher opened #323 "MDV-Live Server Master Validation - Fixed Asset - 201_KLIP_Ettumanoor"
MDV-Live Server   Master Validation - Fixed Asset - 201_KLIP_Ettumanoor
--

[2020-04-04 12:10] Senthilmurugan-B opened #324 "MDU-Live Server Master Uploading - EAM - 340_KCLP_Konam"
Dear Team,
kindly update Validated Masters

[2020-04-04 12:10] Dhanwandher opened #325 "MDV-Live Server Master Validation - EAM - 201_KLIP_Ettumanoor"
MDV-Live Server   Master Validation - EAM - 201_KLIP_Ettumanoor
--

[2020-04-04 12:10] Senthilmurugan-B opened #326 "MDU-Live Server Master Uploading - Pur & Subcon - 200_KLIP_Kottayam"
Dear Team,
kindly update Validated Masters

[2020-04-04 12:11] Dhanwandher opened #327 "MDV-Live Server Master Validation - Pur & Subcon - 202_KLIP_KTM EOU"
MDV-Live Server   Master Validation - Pur & Subcon  -   202_KLIP_KTM EOU
--

[2020-04-04 12:11] Dhanwandher opened #328 "MDV-Live Server Master Validation - Inv & PICC - 202_KLIP_KTM EOU"
MDV-Live Server   Master Validation - Inv & PICC  -   202_KLIP_KTM EOU
--

[2020-04-04 12:12] Dhanwandher opened #329 "MDV-Live Server Master Validation - Process Prod - 202_KLIP_KTM EOU"
MDV-Live Server   Master Validation - Process Prod  -   202_KLIP_KTM EOU
--

[2020-04-04 12:12] Senthilmurugan-B opened #330 "MDU-Live Server Master Uploading - Inv & PICC - 200_KLIP_Kottayam"
Dear Team,
kindly update Validated Masters

[2020-04-04 12:12] Dhanwandher opened #331 "MDV-Live Server Master Validation - Sales & Shipping - 202_KLIP_KTM EOU"
MDV-Live Server   Master Validation - Sales & Shipping    - 202_KLIP_KTM EOU
--

[2020-04-04 12:13] Dhanwandher opened #332 "MDV-Live Server Master Validation - Finance - 202_KLIP_KTM EOU"
MDV-Live Server   Master Validation - Finance - 202_KLIP_KTM EOU
--

[2020-04-04 12:13] Senthilmurugan-B opened #333 "MDU-Live Server Master Uploading - Process Prod - 200_KLIP_Kottayam"
Dear Team,
kindly update Validated Masters

[2020-04-04 12:13] Senthilmurugan-B opened #334 "MDU-Live Server Master Uploading - Sales & Shipping - 200_KLIP_Kottayam"
Dear Team,
kindly update Validated Masters

[2020-04-04 12:14] Senthilmurugan-B opened #335 "MDU-Live Server Master Uploading - Finance - 200_KLIP_Kottayam"
Dear Team,
kindly update Validated Masters

[2020-04-04 12:15] Dhanwandher opened #336 "MDV-Live Server Master Validation - Fixed Asset - 202_KLIP_KTM EOU"
MDV-Live Server   Master Validation - Fixed Asset - 202_KLIP_KTM EOU
--

[2020-04-04 12:15] Senthilmurugan-B opened #337 "MDU-Live Server Master Uploading - Fixed Asset - 200_KLIP_Kottayam"
Dear Team,
kindly update Validated Masters

[2020-04-04 12:16] Dhanwandher opened #338 "MDV-Live Server Master Validation - EAM - 202_KLIP_KTM EOU"
MDV-Live Server   Master Validation - EAM - 202_KLIP_KTM EOU
--

[2020-04-04 12:17] Dhanwandher opened #339 "MDV-Live Server Master Validation - Process Prod - 210_KLIP_Ananthanadarkudy"
MDV-Live Server   Master Validation - Process Prod  -   210_KLIP_Ananthanadarkudy
--

[2020-04-04 12:17] raju-kurup opened #340 "MDC-Live Server Master Collection - EAM - 311_KCLP_Ettumanoor"
MDC-Live Server   Master Collection - EAM - 311_KCLP_Ettumanoor
--

[2020-04-04 12:17] raju-kurup opened #341 "MDC-Live Server Master Collection - Pur & Subcon - 320_KCLP_Kottayam"
MDC-Live Server   Master Collection - Pur & Subcon  -   320_KCLP_Kottayam
--

[2020-04-04 12:17] Dhanwandher opened #342 "MDV-Live Server Master Validation - Sales & Shipping - 210_KLIP_Ananthanadarkudy"
MDV-Live Server   Master Validation - Sales & Shipping    - 210_KLIP_Ananthanadarkudy
--

[2020-04-04 12:17] Senthilmurugan-B opened #343 "MDU-Live Server Master Uploading - EAM - 200_KLIP_Kottayam"
Dear Team,
kindly update Validated Masters

[2020-04-04 12:18] Dhanwandher opened #344 "MDV-Live Server Master Validation - Finance - 210_KLIP_Ananthanadarkudy"
MDV-Live Server   Master Validation - Finance - 210_KLIP_Ananthanadarkudy
--

[2020-04-04 12:18] raju-kurup opened #345 "MDC-Live Server Master Collection - Inv & PICC - 320_KCLP_Kottayam"
MDC-Live Server   Master Collection - Inv & PICC  -   320_KCLP_Kottayam
--

[2020-04-04 12:18] Senthilmurugan-B opened #346 "MDU-Live Server Master Uploading - Pur & Subcon - 201_KLIP_Ettumanoor"
Dear Team,
kindly update Validated Masters

[2020-04-04 12:18] raju-kurup opened #347 "MDC-Live Server Master Collection - Process Prod - 320_KCLP_Kottayam"
MDC-Live Server   Master Collection - Process Prod  -   320_KCLP_Kottayam
--

[2020-04-04 12:18] Dhanwandher opened #348 "MDV-Live Server Master Validation - Fixed Asset - 210_KLIP_Ananthanadarkudy"
MDV-Live Server   Master Validation - Fixed Asset - 210_KLIP_Ananthanadarkudy
--

[2020-04-04 12:19] raju-kurup opened #349 "MDC-Live Server Master Collection - Sales & Shipping - 320_KCLP_Kottayam"
MDC-Live Server   Master Collection - Sales & Shipping    - 320_KCLP_Kottayam
--

[2020-04-04 12:19] Dhanwandher opened #350 "MDV-Live Server Master Validation - Process Prod - 211_KLIP_Peruvilai"
MDV-Live Server   Master Validation - Process Prod  -   211_KLIP_Peruvilai
--

[2020-04-04 12:19] Senthilmurugan-B opened #351 "MDU-Live Server Master Uploading - Inv & PICC - 201_KLIP_Ettumanoor"
Dear Team,
kindly update Validated Masters

[2020-04-04 12:19] raju-kurup opened #352 "MDC-Live Server Master Collection - Finance - 320_KCLP_Kottayam"
MDC-Live Server   Master Collection - Finance - 320_KCLP_Kottayam
--

[2020-04-04 12:19] Dhanwandher opened #353 "MDV-Live Server Master Validation - Sales & Shipping - 211_KLIP_Peruvilai"
MDV-Live Server   Master Validation - Sales & Shipping    - 211_KLIP_Peruvilai
--

[2020-04-04 12:19] raju-kurup opened #354 "MDC-Live Server Master Collection - Fixed Asset - 320_KCLP_Kottayam"
MDC-Live Server   Master Collection - Fixed Asset - 320_KCLP_Kottayam
--

[2020-04-04 12:20] Dhanwandher opened #355 "MDV-Live Server Master Validation - Finance - 211_KLIP_Peruvilai"
MDV-Live Server   Master Validation - Finance - 211_KLIP_Peruvilai
--

[2020-04-04 12:20] raju-kurup opened #356 "MDC-Live Server Master Collection - EAM - 320_KCLP_Kottayam"
MDC-Live Server   Master Collection - EAM - 320_KCLP_Kottayam
--

[2020-04-04 12:20] Senthilmurugan-B opened #357 "MDU-Live Server Master Uploading - Process Prod - 201_KLIP_Ettumanoor"
Dear Team,
kindly update Validated Masters

[2020-04-04 12:20] raju-kurup opened #358 "MDC-Live Server Master Collection - Pur & Subcon - 340_KCLP_Konam"
MDC-Live Server   Master Collection - Pur & Subcon  -   340_KCLP_Konam
--

[2020-04-04 12:20] Dhanwandher opened #359 "MDV-Live Server Master Validation - Fixed Asset - 211_KLIP_Peruvilai"
MDV-Live Server   Master Validation - Fixed Asset - 211_KLIP_Peruvilai
--

[2020-04-04 12:21] raju-kurup opened #360 "MDC-Live Server Master Collection - Inv & PICC - 340_KCLP_Konam"
MDC-Live Server   Master Collection - Inv & PICC  -   340_KCLP_Konam
--

[2020-04-04 12:21] Dhanwandher opened #361 "MDV-Live Server Master Validation - Process Prod - 212_KLIP_Kavalkinaru"
MDV-Live Server   Master Validation - Process Prod  -   212_KLIP_Kavalkinaru
--

[2020-04-04 12:21] raju-kurup opened #362 "MDC-Live Server Master Collection - Process Prod - 340_KCLP_Konam"
MDC-Live Server   Master Collection - Process Prod  -   340_KCLP_Konam
--

[2020-04-04 12:21] Dhanwandher opened #363 "MDV-Live Server Master Validation - Sales & Shipping - 212_KLIP_Kavalkinaru"
MDV-Live Server   Master Validation - Sales & Shipping    - 212_KLIP_Kavalkinaru
--

[2020-04-04 12:22] Senthilmurugan-B opened #364 "MDU-Live Server Master Uploading - Sales & Shipping - 201_KLIP_Ettumanoor"
Dear Team,
kindly update Validated Masters

[2020-04-04 12:22] Dhanwandher opened #365 "MDV-Live Server Master Validation - Finance - 212_KLIP_Kavalkinaru"
MDV-Live Server   Master Validation - Finance - 212_KLIP_Kavalkinaru
--

[2020-04-04 12:22] raju-kurup opened #366 "MDC-Live Server Master Collection - Sales & Shipping - 340_KCLP_Konam"
MDC-Live Server   Master Collection - Sales & Shipping    - 340_KCLP_Konam
--

[2020-04-04 12:22] Dhanwandher opened #367 "MDV-Live Server Master Validation - Fixed Asset - 212_KLIP_Kavalkinaru"
MDV-Live Server   Master Validation - Fixed Asset - 212_KLIP_Kavalkinaru
--

[2020-04-04 12:22] raju-kurup opened #368 "MDC-Live Server Master Collection - Finance - 340_KCLP_Konam"
MDC-Live Server   Master Collection - Finance - 340_KCLP_Konam
--

[2020-04-04 12:23] Senthilmurugan-B opened #369 "MDU-Live Server Master Uploading - Finance - 201_KLIP_Ettumanoor"
Dear Team,
kindly update Validated Masters

[2020-04-04 12:23] raju-kurup opened #370 "MDC-Live Server Master Collection - Fixed Asset - 340_KCLP_Konam"
MDC-Live Server   Master Collection - Fixed Asset - 340_KCLP_Konam
--

[2020-04-04 12:23] Senthilmurugan-B opened #371 "MDU-Live Server Master Uploading - Fixed Asset - 201_KLIP_Ettumanoor"
Dear Team,
kindly update Validated Masters

[2020-04-04 12:23] raju-kurup opened #372 "MDC-Live Server Master Collection - EAM - 340_KCLP_Konam"
MDC-Live Server   Master Collection - EAM - 340_KCLP_Konam
--

[2020-04-04 12:24] raju-kurup opened #373 "MDC-Live Server Master Collection - Pur & Subcon - 200_KLIP_Kottayam"
MDC-Live Server   Master Collection - Pur & Subcon  -   200_KLIP_Kottayam
--

[2020-04-04 12:24] Senthilmurugan-B opened #374 "MDU-Live Server Master Uploading - EAM - 201_KLIP_Ettumanoor"
Dear Team,
kindly update Validated Masters

[2020-04-04 12:24] raju-kurup opened #375 "MDC-Live Server Master Collection - Inv & PICC - 200_KLIP_Kottayam"
MDC-Live Server   Master Collection - Inv & PICC  -   200_KLIP_Kottayam
--

[2020-04-04 12:25] raju-kurup opened #376 "MDC-Live Server Master Collection - Process Prod - 200_KLIP_Kottayam"
MDC-Live Server   Master Collection - Process Prod  -   200_KLIP_Kottayam
--

[2020-04-04 12:25] Senthilmurugan-B opened #377 "MDU-Live Server Master Uploading - Pur & Subcon - 202_KLIP_KTM EOU"
Dear Team,
kindly update Validated Masters

[2020-04-04 12:25] raju-kurup opened #378 "MDC-Live Server Master Collection - Sales & Shipping - 200_KLIP_Kottayam"
MDC-Live Server   Master Collection - Sales & Shipping    - 200_KLIP_Kottayam
--

[2020-04-04 12:26] raju-kurup opened #379 "MDC-Live Server Master Collection - Finance - 200_KLIP_Kottayam"
MDC-Live Server   Master Collection - Finance - 200_KLIP_Kottayam
--

[2020-04-04 12:26] Senthilmurugan-B opened #380 "MDU-Live Server Master Uploading - Inv & PICC - 202_KLIP_KTM EOU"
Dear Team,
kindly update Validated Masters

[2020-04-04 12:26] raju-kurup opened #381 "MDC-Live Server Master Collection - Fixed Asset - 200_KLIP_Kottayam"
MDC-Live Server   Master Collection - Fixed Asset - 200_KLIP_Kottayam
--

[2020-04-04 12:27] raju-kurup opened #382 "MDC-Live Server Master Collection - EAM - 200_KLIP_Kottayam"
MDC-Live Server   Master Collection - EAM - 200_KLIP_Kottayam
--

[2020-04-04 12:27] raju-kurup opened #383 "MDC-Live Server Master Collection - Pur & Subcon - 201_KLIP_Ettumanoor"
MDC-Live Server   Master Collection - Pur & Subcon  -   201_KLIP_Ettumanoor
--

[2020-04-04 12:27] Senthilmurugan-B opened #384 "MDU-Live Server Master Uploading - Process Prod - 202_KLIP_KTM EOU"

[2020-04-04 12:28] Senthilmurugan-B opened #385 "MDU-Live Server Master Uploading - Sales & Shipping - 202_KLIP_KTM EOU"

[2020-04-04 12:29] raju-kurup opened #386 "MDC-Live Server Master Collection - Inv & PICC - 201_KLIP_Ettumanoor"
MDC-Live Server   Master Collection - Inv & PICC  -   201_KLIP_Ettumanoor
--

[2020-04-04 12:29] raju-kurup opened #387 "MDC-Live Server Master Collection - Process Prod - 201_KLIP_Ettumanoor"
MDC-Live Server   Master Collection - Process Prod  -   201_KLIP_Ettumanoor
--

[2020-04-04 12:29] raju-kurup opened #388 "MDC-Live Server Master Collection - Sales & Shipping - 201_KLIP_Ettumanoor"
MDC-Live Server   Master Collection - Sales & Shipping    - 201_KLIP_Ettumanoor
--

[2020-04-04 12:30] Senthilmurugan-B opened #389 "MDU-Live Server Master Uploading - Finance - 202_KLIP_KTM EOU"

[2020-04-04 12:30] raju-kurup opened #390 "MDC-Live Server Master Collection - Finance - 201_KLIP_Ettumanoor"
MDC-Live Server   Master Collection - Finance - 201_KLIP_Ettumanoor
--

[2020-04-04 12:30] Senthilmurugan-B opened #391 "MDU-Live Server Master Uploading - Fixed Asset - 202_KLIP_KTM EOU"

[2020-04-04 12:31] raju-kurup opened #392 "MDC-Live Server Master Collection - Fixed Asset - 201_KLIP_Ettumanoor"
MDC-Live Server   Master Collection - Fixed Asset - 201_KLIP_Ettumanoor
--

[2020-04-04 12:31] raju-kurup opened #393 "MDC-Live Server Master Collection - EAM - 201_KLIP_Ettumanoor"
MDC-Live Server   Master Collection - EAM - 201_KLIP_Ettumanoor
--

[2020-04-04 12:31] Senthilmurugan-B opened #394 "MDU-Live Server Master Uploading - EAM - 202_KLIP_KTM EOU"

[2020-04-04 12:32] raju-kurup opened #395 "MDC-Live Server Master Collection - Pur & Subcon - 202_KLIP_KTM EOU"
MDC-Live Server   Master Collection - Pur & Subcon  -   202_KLIP_KTM EOU
--

[2020-04-04 12:32] Senthilmurugan-B opened #396 "MDU-Live Server Master Uploading - Pur & Subcon - 210_KLIP_Ananthanadarkudy"

[2020-04-04 12:32] raju-kurup opened #397 "MDC-Live Server Master Collection - Inv & PICC - 202_KLIP_KTM EOU"
MDC-Live Server   Master Collection - Inv & PICC  -   202_KLIP_KTM EOU
--

[2020-04-04 12:32] raju-kurup opened #398 "MDC-Live Server Master Collection - Process Prod - 202_KLIP_KTM EOU"
MDC-Live Server   Master Collection - Process Prod  -   202_KLIP_KTM EOU
--

[2020-04-04 12:33] Senthilmurugan-B opened #399 "MDU-Live Server Master Uploading - Inv & PICC - 210_KLIP_Ananthanadarkudy"

[2020-04-04 12:33] raju-kurup opened #400 "MDC-Live Server Master Collection - Sales & Shipping - 202_KLIP_KTM EOU"
MDC-Live Server   Master Collection - Sales & Shipping    - 202_KLIP_KTM EOU
--

[2020-04-04 12:33] Senthilmurugan-B opened #401 "MDU-Live Server Master Uploading - Process Prod - 210_KLIP_Ananthanadarkudy"

[2020-04-04 12:33] raju-kurup opened #402 "MDC-Live Server Master Collection - Finance - 202_KLIP_KTM EOU"
MDC-Live Server   Master Collection - Finance - 202_KLIP_KTM EOU
--

[2020-04-04 12:34] raju-kurup opened #403 "MDC-Live Server Master Collection - Fixed Asset - 202_KLIP_KTM EOU"
MDC-Live Server   Master Collection - Fixed Asset - 202_KLIP_KTM EOU
--

[2020-04-04 12:34] Senthilmurugan-B opened #404 "MDU-Live Server Master Uploading - Sales & Shipping - 210_KLIP_Ananthanadarkudy"

[2020-04-04 12:34] raju-kurup opened #405 "MDC-Live Server Master Collection - EAM - 202_KLIP_KTM EOU"
MDC-Live Server   Master Collection - EAM - 202_KLIP_KTM EOU
--

[2020-04-04 12:35] Senthilmurugan-B opened #406 "MDU-Live Server Master Uploading - Finance - 210_KLIP_Ananthanadarkudy"

[2020-04-04 12:35] raju-kurup opened #407 "MDC-Live Server Master Collection - Pur & Subcon - 210_KLIP_Ananthanadarkudy"
MDC-Live Server   Master Collection - Pur & Subcon  -   210_KLIP_Ananthanadarkudy
--

[2020-04-04 12:35] raju-kurup opened #408 "MDC-Live Server Master Collection - Inv & PICC - 210_KLIP_Ananthanadarkudy"
MDC-Live Server   Master Collection - Inv & PICC  -   210_KLIP_Ananthanadarkudy
--

[2020-04-04 12:36] raju-kurup opened #409 "MDC-Live Server Master Collection - Process Prod - 210_KLIP_Ananthanadarkudy"
MDC-Live Server   Master Collection - Process Prod  -   210_KLIP_Ananthanadarkudy
--

[2020-04-04 12:36] Senthilmurugan-B opened #410 "MDU-Live Server Master Uploading - Fixed Asset - 210_KLIP_Ananthanadarkudy"

[2020-04-04 12:36] raju-kurup opened #411 "MDC-Live Server Master Collection - Sales & Shipping - 210_KLIP_Ananthanadarkudy"
MDC-Live Server   Master Collection - Sales & Shipping    - 210_KLIP_Ananthanadarkudy
--

[2020-04-04 12:37] raju-kurup opened #412 "MDC-Live Server Master Collection - Finance - 210_KLIP_Ananthanadarkudy"
MDC-Live Server   Master Collection - Finance - 210_KLIP_Ananthanadarkudy
--

[2020-04-04 12:37] Senthilmurugan-B opened #413 "MDU-Live Server Master Uploading - EAM - 210_KLIP_Ananthanadarkudy"

[2020-04-04 12:37] raju-kurup opened #414 "MDC-Live Server Master Collection - Fixed Asset - 210_KLIP_Ananthanadarkudy"
MDC-Live Server   Master Collection - Fixed Asset - 210_KLIP_Ananthanadarkudy
--

[2020-04-04 12:37] Senthilmurugan-B opened #415 "MDU-Live Server Master Uploading - Pur & Subcon - 211_KLIP_Peruvilai"

[2020-04-04 12:37] raju-kurup opened #416 "MDC-Live Server Master Collection - EAM - 210_KLIP_Ananthanadarkudy"
MDC-Live Server   Master Collection - EAM - 210_KLIP_Ananthanadarkudy
--

[2020-04-04 12:38] raju-kurup opened #417 "MDC-Live Server Master Collection - Pur & Subcon - 211_KLIP_Peruvilai"
MDC-Live Server   Master Collection - Pur & Subcon  -   211_KLIP_Peruvilai
--

[2020-04-04 12:38] Senthilmurugan-B opened #418 "MDU-Live Server Master Uploading - Inv & PICC - 211_KLIP_Peruvilai"

[2020-04-04 12:38] raju-kurup opened #419 "MDC-Live Server Master Collection - Inv & PICC - 211_KLIP_Peruvilai"
MDC-Live Server   Master Collection - Inv & PICC  -   211_KLIP_Peruvilai
--

[2020-04-04 12:39] Senthilmurugan-B opened #420 "MDU-Live Server Master Uploading - Process Prod - 211_KLIP_Peruvilai"

[2020-04-04 12:39] raju-kurup opened #421 "MDC-Live Server Master Collection - Process Prod - 211_KLIP_Peruvilai"
MDC-Live Server   Master Collection - Process Prod  -   211_KLIP_Peruvilai
--

[2020-04-04 12:39] Narendiranath commented on #20
Hi Akash,

                Purchase order changes are done. Kindly check and revert back.

[2020-04-04 12:39] raju-kurup opened #422 "MDC-Live Server Master Collection - Sales & Shipping - 211_KLIP_Peruvilai"
MDC-Live Server   Master Collection - Sales & Shipping    - 211_KLIP_Peruvilai
--

[2020-04-04 12:40] Senthilmurugan-B opened #423 "MDU-Live Server Master Uploading - Sales & Shipping - 211_KLIP_Peruvilai"

[2020-04-04 12:40] raju-kurup opened #424 "MDC-Live Server Master Collection - Finance - 211_KLIP_Peruvilai"
MDC-Live Server   Master Collection - Finance - 211_KLIP_Peruvilai
--

[2020-04-04 12:40] Senthilmurugan-B opened #425 "MDU-Live Server Master Uploading - Finance - 211_KLIP_Peruvilai"

[2020-04-04 12:40] raju-kurup opened #426 "MDC-Live Server Master Collection - Fixed Asset - 211_KLIP_Peruvilai"
MDC-Live Server   Master Collection - Fixed Asset - 211_KLIP_Peruvilai
--

[2020-04-04 12:41] raju-kurup opened #427 "MDC-Live Server Master Collection - EAM - 211_KLIP_Peruvilai"
MDC-Live Server   Master Collection - EAM - 211_KLIP_Peruvilai
--

[2020-04-04 12:41] Senthilmurugan-B opened #428 "MDU-Live Server Master Uploading - Fixed Asset - 211_KLIP_Peruvilai"

[2020-04-04 12:41] raju-kurup opened #429 "MDC-Live Server Master Collection - Pur & Subcon - 212_KLIP_Kavalkinaru"
MDC-Live Server   Master Collection - Pur & Subcon  -   212_KLIP_Kavalkinaru
--

[2020-04-04 12:41] raju-kurup opened #430 "MDC-Live Server Master Collection - Inv & PICC - 212_KLIP_Kavalkinaru"
MDC-Live Server   Master Collection - Inv & PICC  -   212_KLIP_Kavalkinaru
--

[2020-04-04 12:41] Senthilmurugan-B opened #431 "MDU-Live Server Master Uploading - EAM - 211_KLIP_Peruvilai"

[2020-04-04 12:42] raju-kurup opened #432 "MDC-Live Server Master Collection - Process Prod - 212_KLIP_Kavalkinaru"
MDC-Live Server   Master Collection - Process Prod  -   212_KLIP_Kavalkinaru
--

[2020-04-04 12:42] raju-kurup opened #433 "MDC-Live Server Master Collection - Sales & Shipping - 212_KLIP_Kavalkinaru"
MDC-Live Server   Master Collection - Sales & Shipping    - 212_KLIP_Kavalkinaru
--

[2020-04-04 12:42] Senthilmurugan-B opened #434 "MDU-Live Server Master Uploading - Pur & Subcon - 212_KLIP_Kavalkinaru"

[2020-04-04 12:42] raju-kurup opened #435 "MDC-Live Server Master Collection - Finance - 212_KLIP_Kavalkinaru"
MDC-Live Server   Master Collection - Finance - 212_KLIP_Kavalkinaru
--

[2020-04-04 12:43] raju-kurup opened #436 "MDC-Live Server Master Collection - Fixed Asset - 212_KLIP_Kavalkinaru"
MDC-Live Server   Master Collection - Fixed Asset - 212_KLIP_Kavalkinaru
--

[2020-04-04 12:43] Senthilmurugan-B opened #437 "MDU-Live Server Master Uploading - Inv & PICC - 212_KLIP_Kavalkinaru"

[2020-04-04 12:44] raju-kurup opened #438 "MDC-Live Server Master Collection - EAM - 212_KLIP_Kavalkinaru"
MDC-Live Server   Master Collection - EAM - 212_KLIP_Kavalkinaru
--

[2020-04-04 12:44] Senthilmurugan-B opened #439 "MDU-Live Server Master Uploading - Process Prod - 212_KLIP_Kavalkinaru"

[2020-04-04 12:45] Senthilmurugan-B opened #440 "MDU-Live Server Master Uploading - Sales & Shipping - 212_KLIP_Kavalkinaru"

[2020-04-04 12:46] Senthilmurugan-B opened #441 "MDU-Live Server Master Uploading - Finance - 212_KLIP_Kavalkinaru"

[2020-04-04 12:47] Senthilmurugan-B opened #442 "MDU-Live Server Master Uploading - Fixed Asset - 212_KLIP_Kavalkinaru"

[2020-04-04 12:47] Senthilmurugan-B opened #443 "MDU-Live Server Master Uploading - EAM - 212_KLIP_Kavalkinaru"

[2020-04-04 15:55] knovakaspar commented on #147
@srinivasanbaskaran

Please find the attachment for TestCase & TestData for Production Order Automation.
[TestCase & TestResult for Production order Automation.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4431853/TestCase.TestResult.for.Production.order.Automation.xlsx)

Thanks & Regards
Nova Kaspar

[2020-04-05 14:46] knovakaspar commented on #84
@raju-kurup Sir, @Duraisingam-G

1. We need to add this logic-Accepted, Rejected, Allocated & Quarantine Status stock should be added in this field.
![Value wrongly shown](https://user-images.githubusercontent.com/50448138/78501540-6d7edc00-7779-11ea-8001-484460fba44c.jpg)
2. Value Wrongly Fetched.
![Cost wrongly shown](https://user-images.githubusercontent.com/50448138/78501555-812a4280-7779-11ea

[2020-04-06 04:41] Dhanwandher commented on #236
Dear Sir..

Please find the Updated PFS for Sub-Contracting ITC-04 -DCUBE.

Regards.
S.Dhanwandher.
[PFS.FOR_ITC_v1.0.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4435860/PFS.FOR_ITC_v1.0.xlsx)

[2020-04-06 05:59] Senthilmurugan-B commented on #416
@Team,
Location and Eqipment Master are received
[02_Create Equipment_ANK_1 to 252-C_30-03-2020.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4436041/02_Create.Equipment_ANK_1.to.252-C_30-03-2020.xlsx)
[01_Create Location_ANK-C_30-03-2020.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4436042/01_Create.Location_ANK-C_30-03-2020.xlsx)

[2020-04-06 06:02] Senthilmurugan-B commented on #416
Now I am close the ticket because we are received the masters.

[2020-04-06 06:05] Senthilmurugan-B commented on #427
@Team,
Location and Eqipment Master are received
[02_Create Equipment_PVL-C_08_02_2020.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4436060/02_Create.Equipment_PVL-C_08_02_2020.xlsx)
[01_Create Location_PVL-C_08_02_2020.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4436061/01_Create.Location_PVL-C_08_02_2020.xlsx)

[2020-04-06 06:06] Senthilmurugan-B commented on #427
Now I am close the ticket because we are received the masters.

[2020-04-06 06:08] GayuSri commented on #93
Kindly share the test data(for with warehouse and without warehouse)

[2020-04-06 06:08] Senthilmurugan-B commented on #438
@Team,
Location and Eqipment Master are received
[02_Create Equipment_KVL-C_30-03-2020.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4436067/02_Create.Equipment_KVL-C_30-03-2020.xlsx)
[01_Create Location_KVL-C_30-03-2020.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4436069/01_Create.Location_KVL-C_30-03-2020.xlsx)

[2020-04-06 06:08] Dhanwandher commented on #414
Dear Team

ANK Fixed asset master initial

Regards.
S.Dhanwandher

[AN Kudy.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4436065/AN.Kudy.xlsx)
 entry file uploaded

[2020-04-06 06:08] Senthilmurugan-B commented on #438
Now I am close the ticket because we are received the masters.

[2020-04-06 06:10] Senthilmurugan-B commented on #372
@Team,
Location and Eqipment Master are received
[02_Create Equipment_KONAM_30-03-2020(2).xlsx](https://github.com/astpl1998/Kanam-Latex/files/4436078/02_Create.Equipment_KONAM_30-03-2020.2.xlsx)
[01_Create Location_KONAM (1)_30-03-2020.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4436080/01_Create.Location_KONAM.1._30-03-2020.xlsx)

[2020-04-06 06:11] Senthilmurugan-B commented on #372
Now I am close the ticket because we are received the masters.

[2020-04-06 06:13] Dhanwandher commented on #436
Dear Team

KVL Fixed asset master initial

Regards.
S.Dhanwandher
[Kavalkinaru.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4436086/Kavalkinaru.xlsx)

[2020-04-06 06:14] Dhanwandher commented on #426
Dear Team

PVL Fixed asset master initial

Regards.
S.Dhanwandher
[Peruvilai.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4436090/Peruvilai.xlsx)

[2020-04-06 06:15] Dhanwandher commented on #392
Dear Team

Ettumanoor Fixed asset master initial

Regards.
S.Dhanwandher
[Ettumanoor.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4436091/Ettumanoor.xlsx)

[2020-04-06 06:17] Dhanwandher commented on #381
Dear Team

Kpttayam Fixed asset master initial

Regards.
S.Dhanwandher
[Kottayam.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4436098/Kottayam.xlsx)

[2020-04-06 06:17] Senthilmurugan-B commented on #405
@Team,
Now I am close the ticket because EAM module is not applicable for this OU

[2020-04-06 06:19] Senthilmurugan-B commented on #393
@Team,
Now I am close the ticket because EAM module is not applicable for this OU

[2020-04-06 06:20] Senthilmurugan-B commented on #382
@Team,
Now I am close the ticket because EAM module is not applicable for this OU

[2020-04-06 06:35] Senthilmurugan-B commented on #356
@Team,
Now I am close the ticket because EAM module is not applicable for this OU

[2020-04-06 06:36] Senthilmurugan-B commented on #340
@Team,
Now I am close the ticket because EAM module is not applicable for this OU

[2020-04-06 06:37] Senthilmurugan-B commented on #230
@Team,
Now I am close the ticket because EAM module is not applicable for this OU

[2020-04-06 06:40] Senthilmurugan-B commented on #260
@akash,
kindly refer the masters, once you have complete the validation change the file prefix as "validated_1"
[01_Create Location_KVL-C_30-03-2020.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4436185/01_Create.Location_KVL-C_30-03-2020.xlsx)
[02_Create Equipment_KVL-C_30-03-2020.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4436186/02_Create.Equipment_KVL-C_30-03-2020.xlsx)

[2020-04-06 06:44] Senthilmurugan-B commented on #261
@akash,
kindly refer the masters, once you have complete the validation change the file prefix as "validated_1"
[02_Create Equipment_KONAM_30-03-2020(2).xlsx](https://github.com/astpl1998/Kanam-Latex/files/4436205/02_Create.Equipment_KONAM_30-03-2020.2.xlsx)
[01_Create Location_KONAM (1)_30-03-2020.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4436206/01_Create.Location_KONAM.1._30-03-2020.

[2020-04-06 07:06] Duraisingam-G commented on #148
Sir,
Find the Latest PFS.
[Material.Allocation.for.Production.Order.-.PFS_Rev9.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4436374/Material.Allocation.for.Production.Order.-.PFS_Rev9.xlsx)

[2020-04-06 08:09] knovakaspar commented on #279
@Duraisingam-G

Now Still pending(Validation) on  Client-side.

Thanks & Regards
Nova Kaspar

[2020-04-06 09:48] Senthilmurugan-B commented on #33
Dear sir,
Herewith i have attached updated PFS for your perusal.
kindly refer yellow colour field in column level requirement ( add validation in Auhorize button )
[Ver 1.1_Kanam_Art Work change Note_PFS.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4437499/Ver.1.1_Kanam_Art.Work.change.Note_PFS.xlsx)
ref art work no : KLAACN20-21/000007 , SO no : KLANSO/2021/0004

observation points in tes

[2020-04-06 09:49] Senthilmurugan-B commented on #33
@raju sir,
kindly allocate gayathiri

[2020-04-06 10:17] mohanaamity commented on #243
Kindly find the attached item master excel and query

[Item Master.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4437642/Item.Master.xlsx)
[item_master.txt](https://github.com/astpl1998/Kanam-Latex/files/4437668/item_master.txt)

[2020-04-06 10:38] raju-kurup commented on #161
@karthikeyanamitysoft : As discussed, assign this ticket to Gayathri.

[2020-04-06 11:08] raju-kurup commented on #243
item master file and query was attached, so closing this issue

[2020-04-06 11:08] #243 closed

[2020-04-06 11:15] Senthilmurugan-B commented on #433
Hi Team,
[01_Sale Person-C.xlsx_on 26th_DEC.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4437946/01_Sale.Person-C.xlsx_on.26th_DEC.xlsx)
[02_CreateEmployee_MapEmployeeSkills-C.xlsx_on 26th_DEC.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4437951/02_CreateEmployee_MapEmployeeSkills-C.xlsx_on.26th_DEC.xlsx)

 1. Customer master
2. Customer group
3. Delivery area code
 the above menti

[2020-04-06 11:15] Duraisingam-G commented on #243
Sir
Find the above query and output file for your ref.
pl close this ticket.

[2020-04-06 11:18] Senthilmurugan-B commented on #422
Hi Team,

[01_Sale Person-C.xlsx_on 26th_DEC.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4437979/01_Sale.Person-C.xlsx_on.26th_DEC.xlsx)
[02_CreateEmployee_MapEmployeeSkills-C.xlsx_on 26th_DEC.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4437982/02_CreateEmployee_MapEmployeeSkills-C.xlsx_on.26th_DEC.xlsx)

Customer master
Customer group
Delivery area code
the above mentioned data'

[2020-04-06 11:20] Senthilmurugan-B commented on #411
Hi Team,
[01_Sale Person-C.xlsx_on 26th_DEC.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4437992/01_Sale.Person-C.xlsx_on.26th_DEC.xlsx)
[02_CreateEmployee_MapEmployeeSkills-C.xlsx_on 26th_DEC.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4437994/02_CreateEmployee_MapEmployeeSkills-C.xlsx_on.26th_DEC.xlsx)

Customer master
Customer group
Delivery area code
the above mentioned data's

[2020-04-06 11:21] Duraisingam-G commented on #339
Master Data Collection
ANK - Production & Packing
[ANK.zip](https://github.com/astpl1998/Kanam-Latex/files/4437981/ANK.zip)

[2020-04-06 11:21] Senthilmurugan-B commented on #400
Hi Team,
[01_Sale Person-C.xlsx_on 26th_DEC.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4437997/01_Sale.Person-C.xlsx_on.26th_DEC.xlsx)
[02_CreateEmployee_MapEmployeeSkills-C.xlsx_on 26th_DEC.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4437999/02_CreateEmployee_MapEmployeeSkills-C.xlsx_on.26th_DEC.xlsx)

Customer master
Customer group
Delivery area code
the above mentioned data's

[2020-04-06 11:23] Senthilmurugan-B commented on #388
Hi Team,
[01_Sale Person-C.xlsx_on 26th_DEC.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4438003/01_Sale.Person-C.xlsx_on.26th_DEC.xlsx)
[02_CreateEmployee_MapEmployeeSkills-C.xlsx_on 26th_DEC.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4438007/02_CreateEmployee_MapEmployeeSkills-C.xlsx_on.26th_DEC.xlsx)

Customer master
Customer group
Delivery area code
the above mentioned data's

[2020-04-06 11:26] Senthilmurugan-B commented on #366
Hi Team,
[01_Sale Person-C.xlsx_on 26th_DEC.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4438026/01_Sale.Person-C.xlsx_on.26th_DEC.xlsx)
[02_CreateEmployee_MapEmployeeSkills-C.xlsx_on 26th_DEC.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4438027/02_CreateEmployee_MapEmployeeSkills-C.xlsx_on.26th_DEC.xlsx)

Customer master
Customer group
Delivery area code
the above mentioned data's

[2020-04-06 11:27] Senthilmurugan-B commented on #378
Hi Team,
[01_Sale Person-C.xlsx_on 26th_DEC.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4438037/01_Sale.Person-C.xlsx_on.26th_DEC.xlsx)
[02_CreateEmployee_MapEmployeeSkills-C.xlsx_on 26th_DEC.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4438040/02_CreateEmployee_MapEmployeeSkills-C.xlsx_on.26th_DEC.xlsx)

Customer master
Customer group
Delivery area code
the above mentioned data's

[2020-04-06 11:29] Senthilmurugan-B commented on #349
Hi Team,
[01_Sale Person-C.xlsx_on 26th_DEC.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4438051/01_Sale.Person-C.xlsx_on.26th_DEC.xlsx)
[02_CreateEmployee_MapEmployeeSkills-C.xlsx_on 26th_DEC.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4438052/02_CreateEmployee_MapEmployeeSkills-C.xlsx_on.26th_DEC.xlsx)

Customer master
Customer group
Delivery area code
the above mentioned data's

[2020-04-06 11:31] Senthilmurugan-B commented on #227
Hi Team,
[01_Sale Person-C.xlsx_on 26th_DEC.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4438059/01_Sale.Person-C.xlsx_on.26th_DEC.xlsx)
[02_CreateEmployee_MapEmployeeSkills-C.xlsx_on 26th_DEC.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4438062/02_CreateEmployee_MapEmployeeSkills-C.xlsx_on.26th_DEC.xlsx)

Customer master
Customer group
Delivery area code
the above mentioned data's

[2020-04-06 11:40] Senthilmurugan-B commented on #220
Hi Team,
[01_Sale Person-C.xlsx_on 26th_DEC.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4438094/01_Sale.Person-C.xlsx_on.26th_DEC.xlsx)
[02_CreateEmployee_MapEmployeeSkills-C.xlsx_on 26th_DEC.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4438099/02_CreateEmployee_MapEmployeeSkills-C.xlsx_on.26th_DEC.xlsx)

Customer master
Customer group
Delivery area code
the above mentioned data's

[2020-04-06 11:50] Senthilmurugan-B commented on #429
Hi Team,
[01_Create Payterm.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4438129/01_Create.Payterm.xlsx)
[01_Create Payterm-IMPORT.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4438130/01_Create.Payterm-IMPORT.xlsx)
[01_Supplier_Master.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4438131/01_Supplier_Master.xlsx)
[01_Supplier_Master-IMPORT.xlsx](https://github.com/astpl1998/K

[2020-04-06 11:52] Senthilmurugan-B commented on #417
Hi Team,
[01_Create Payterm.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4438150/01_Create.Payterm.xlsx)
[01_Create Payterm-IMPORT.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4438151/01_Create.Payterm-IMPORT.xlsx)
[01_Supplier_Master.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4438152/01_Supplier_Master.xlsx)
[01_Supplier_Master-IMPORT.xlsx](https://github.com/astpl1998/K

[2020-04-06 11:55] Senthilmurugan-B commented on #407
Hi Team,
[01_Create Payterm.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4438167/01_Create.Payterm.xlsx)
[01_Create Payterm-IMPORT.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4438169/01_Create.Payterm-IMPORT.xlsx)
[01_Supplier_Master.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4438170/01_Supplier_Master.xlsx)
[01_Supplier_Master-IMPORT.xlsx](https://github.com/astpl1998/K

[2020-04-06 11:58] Senthilmurugan-B commented on #395
Hi Team,
[01_Create Payterm-IMPORT.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4438182/01_Create.Payterm-IMPORT.xlsx)
[01_Supplier_Master.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4438183/01_Supplier_Master.xlsx)
[01_Supplier_Master-IMPORT.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4438185/01_Supplier_Master-IMPORT.xlsx)
[01_SupplierGroup.xlsx](https://github.com/astp

[2020-04-06 12:04] Senthilmurugan-B commented on #383
Hi Team,
[01_Create Payterm-IMPORT.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4438221/01_Create.Payterm-IMPORT.xlsx)
[01_Supplier_Master.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4438222/01_Supplier_Master.xlsx)
[01_Supplier_Master-IMPORT.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4438225/01_Supplier_Master-IMPORT.xlsx)
[01_SupplierGroup.xlsx](https://github.com/astp

[2020-04-06 12:06] Senthilmurugan-B commented on #373
Hi Team,
[01_Create Payterm.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4438239/01_Create.Payterm.xlsx)
[01_Create Payterm-IMPORT.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4438241/01_Create.Payterm-IMPORT.xlsx)
[01_Supplier_Master.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4438245/01_Supplier_Master.xlsx)
[01_Supplier_Master-IMPORT.xlsx](https://github.com/astpl1998/K

[2020-04-06 12:08] Senthilmurugan-B commented on #358
Hi Team,
[01_Create Payterm.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4438256/01_Create.Payterm.xlsx)
[01_Create Payterm-IMPORT.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4438257/01_Create.Payterm-IMPORT.xlsx)
[01_Supplier_Master.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4438258/01_Supplier_Master.xlsx)
[01_Supplier_Master-IMPORT.xlsx](https://github.com/astpl1998/K

[2020-04-06 12:12] Senthilmurugan-B commented on #341
Hi Team,
[01_Create Payterm.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4438268/01_Create.Payterm.xlsx)
[01_Create Payterm-IMPORT.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4438269/01_Create.Payterm-IMPORT.xlsx)
[01_Supplier_Master.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4438271/01_Supplier_Master.xlsx)
[01_Supplier_Master-IMPORT.xlsx](https://github.com/astpl1998/K

[2020-04-06 12:12] Senthilmurugan-B commented on #224
Hi Team,
[01_Create Payterm.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4438272/01_Create.Payterm.xlsx)
[01_Create Payterm-IMPORT.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4438273/01_Create.Payterm-IMPORT.xlsx)
[01_Supplier_Master.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4438275/01_Supplier_Master.xlsx)
[01_Supplier_Master-IMPORT.xlsx](https://github.com/astpl1998/K

[2020-04-06 12:12] Senthilmurugan-B commented on #223
Hi Team,
[01_Create Payterm-IMPORT.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4438276/01_Create.Payterm-IMPORT.xlsx)
[01_Supplier_Master.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4438277/01_Supplier_Master.xlsx)
[01_Supplier_Master-IMPORT.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4438287/01_Supplier_Master-IMPORT.xlsx)
[01_SupplierGroup.xlsx](https://github.com/astp

[2020-04-06 12:15] Nandhineedevi commented on #200
Hi Senthil,
Please find the latest deliverables.

Regards
Nandhinee Devi

[2020-04-06 12:45] Senthilmurugan-B commented on #200
Dear srini,
Testing 2 completed kindly proceed next level.
All documents are attached.

[2020-04-07 03:13] knovakaspar commented on #361
@Duraisingam-G

KVL validation Completed.
They(KVL responsible person) want to confirm once, before MDCF uploading.

[KVL.zip](https://github.com/astpl1998/Kanam-Latex/files/4441837/KVL.zip)

Thanks & Regards
Nova Kaspar

[2020-04-07 03:59] Duraisingam-G commented on #409
ANK Production and Packing Master Data

[ANK.zip](https://github.com/astpl1998/Kanam-Latex/files/4441951/ANK.zip)

[2020-04-07 04:09] Duraisingam-G commented on #432
KVL Production Masters.

[KVL.zip](https://github.com/astpl1998/Kanam-Latex/files/4441991/KVL.zip)

[2020-04-07 04:14] Duraisingam-G commented on #362
CLP Production Masters
[CLP.zip](https://github.com/astpl1998/Kanam-Latex/files/4441997/CLP.zip)

[2020-04-07 04:22] AkashGleen commented on #20
Dear Senthilmurugan,

Purchase order print Testing 1 Completed Kindly Check & Update.

[Purchase Order Print TEST.CASE v1.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4442018/Purchase.Order.Print.TEST.CASE.v1.xlsx)

[Purchase Order Print Test Result v1(1).pdf](https://github.com/astpl1998/Kanam-Latex/files/4442022/Purchase.Order.Print.Test.Result.v1..pdf)

[Purchase Order Print Test Result

[2020-04-07 04:29] Duraisingam-G commented on #421
PVL PRODUCTION ITEM MASTERS
[PVL 1.zip](https://github.com/astpl1998/Kanam-Latex/files/4442040/PVL.1.zip)

[2020-04-07 10:56] Senthilmurugan-B commented on #20
Dear sir,
Testing 2 observation
1. For Euro supplier amount in words showing "Paise" instead of "Cents"
kindly allocate developer and solve the issue ASAP.
Reference PO : KLAPO20-21/0014 / ANK OU.
![EURO](https://user-images.githubusercontent.com/38855380/78661401-59a7b700-78ec-11ea-8fae-783dce311d24.jpg)

[2020-04-07 11:20] Senthilmurugan-B commented on #430
Hi Team,
[03 KVL - ITEM CATEGORY 3.3.2020.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4443811/03.KVL.-.ITEM.CATEGORY.3.3.2020.xlsx)
[KVL Item account group.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4443819/KVL.Item.account.group.xlsx)
[KVL item storage allocation (zone and bin).xlsx](https://github.com/astpl1998/Kanam-Latex/files/4443821/KVL.item.storage.allocation.zone.and.bin

[2020-04-07 12:39] GayuSri commented on #83
@Duraisingam-G  kindly share the test data.

[2020-04-07 12:50] Senthilmurugan-B commented on #419
HI Team,

[Final Stores Item Master MDCF PVL-03-02-2020-(11-02-2020).xlsx](https://github.com/astpl1998/Kanam-Latex/files/4443952/Final.Stores.Item.Master.MDCF.PVL-03-02-2020-.11-02-2020.xlsx)
[PVL STORE  Additional FILE REQ-01-03-2020 -Final.zip](https://github.com/astpl1998/Kanam-Latex/files/4444037/PVL.STORE.Additional.FILE.REQ-01-03-2020.-Final.zip)
[WH related Masters.zip](https://github.com/

[2020-04-07 13:07] Senthilmurugan-B commented on #408
HI Team,
[Uploading 01_Item creation_MDCF - Final - 14.02.2020-(15-02-2020).xlsx…]()
[Wh related masters.zip](https://github.com/astpl1998/Kanam-Latex/files/4444471/Wh.related.masters.zip)

[2020-04-07 14:49] raju-kurup commented on #33
@karthikeyanamitysoft : please do the correction and allocate this to Gayatri

[2020-04-08 04:30] Duraisingam-G commented on #93
Pls prepare test data and share to gayathri.

[2020-04-08 04:52] Duraisingam-G commented on #259
Kindly do the validation as per Mr. senthil instruction.

[2020-04-08 04:52] Duraisingam-G commented on #258
Kindly do the validation as per Mr. senthil instruction.

[2020-04-08 06:38] Senthilmurugan-B commented on #360
HI Team,
[CLP STORES ITEM MASTER Updated MDCF - 12.03.2020.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4448628/CLP.STORES.ITEM.MASTER.Updated.MDCF.-.12.03.2020.xlsx)

[2020-04-08 09:03] knovakaspar commented on #93
Dear Gayathri

Please find test data for (With & Without warehouse), I have mentioned colored tab.
Once you starting kindly let me know.

[Daily.Gloves.Stock.Report.-.Packing.93.v4.-.EDK.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4449418/Daily.Gloves.Stock.Report.-.Packing.93.v4.-.EDK.xlsx)

Thanks & Regards
Nova Kaspar

[2020-04-09 06:11] Senthilmurugan-B commented on #253
HI Nova,
kindly validate QC Masters and change the prefix as Validated1_for all masters
[ANK QC Master Under Validation.zip](https://github.com/astpl1998/Kanam-Latex/files/4454324/ANK.QC.Master.Under.Validation.zip)

[2020-04-09 06:17] Senthilmurugan-B commented on #254
HI Nova,
kindly validate QC Masters and change the prefix as Validated1_for all masters
[QC Master under validation1.zip](https://github.com/astpl1998/Kanam-Latex/files/4454354/QC.Master.under.validation1.zip)

[2020-04-09 08:46] Senthilmurugan-B commented on #254
Inventory valitated1 Data's
[Validated 1_01_ANK_ STORES_Item creation_MDCF - Final - 14.02.2020-(15-02-2020).xlsx](https://github.com/astpl1998/Kanam-Latex/files/4454999/Validated.1_01_ANK_.STORES_Item.creation_MDCF.-.Final.-.14.02.2020-.15-02-2020.xlsx)
[ANK_VALIDATED 1-UOM-CL,UOM,ITEM CATE,ITEM ACC GRP, SITE,WH,STORAGE ALLOCATION.zip](https://github.com/astpl1998/Kanam-Latex/files/4455009/ANK_VA

[2020-04-09 09:06] Senthilmurugan-B commented on #253
Inventory valitated1 Data's
[Validated 1_01_ANK_ STORES_Item creation_MDCF - Final - 14.02.2020-(15-02-2020).xlsx](https://github.com/astpl1998/Kanam-Latex/files/4454999/Validated.1_01_ANK_.STORES_Item.creation_MDCF.-.Final.-.14.02.2020-.15-02-2020.xlsx)
[ANK_VALIDATED 1-UOM-CL,UOM,ITEM CATE,ITEM ACC GRP, SITE,WH,STORAGE ALLOCATION.zip](https://github.com/astpl1998/Kanam-Latex/files/4455009/ANK_VA

[2020-04-09 09:14] Senthilmurugan-B commented on #254
Inventory valitated1 Data's
[PVL_validated 1_Final ITEM MASTER CREATION MDCF PVL-03-02-2020-(11-02-2020).xlsx](https://github.com/astpl1998/Kanam-Latex/files/4455139/PVL_validated.1_Final.ITEM.MASTER.CREATION.MDCF.PVL-03-02-2020-.11-02-2020.xlsx)
[PVL-UOM-CL,UOM,ITEM CATE,ITEM ACC GRP, SITE,WH,STORAGE ALLOCATION.zip](https://github.com/astpl1998/Kanam-Latex/files/4455146/PVL-UOM-CL.UOM.ITEM.CATE.I

[2020-04-09 10:57] GayuSri commented on #93
Reported changes has been done.

[2020-04-09 11:08] Senthilmurugan-B commented on #256
Inventory valitated1 Data's
[VALIDATED 1 _CLP STORES ITEM MASTER Updated MDCF - 12.03.2020.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4455767/VALIDATED.1._CLP.STORES.ITEM.MASTER.Updated.MDCF.-.12.03.2020.xlsx)
[CLP-UOM-CL,UOM,ITEM CATE,ITEM ACC GRP, SITE,WH,STORAGE ALLOCATION.zip](https://github.com/astpl1998/Kanam-Latex/files/4455776/CLP-UOM-CL.UOM.ITEM.CATE.ITEM.ACC.GRP.SITE.WH.STORAGE

[2020-04-10 04:08] Dhanwandher commented on #348
Dear Team....

Checked Corrected need to be done by client.

Thanks...
S.Dhanwandher
[ank.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4459819/ank.xlsx)

[2020-04-10 04:08] Dhanwandher commented on #367
Dear Team....

Checked Corrected need to be done by client.

Thanks...
S.Dhanwandher
[KVL.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4459820/KVL.xlsx)

[2020-04-10 04:09] Dhanwandher commented on #359
Dear Team....

Checked Corrected need to be done by client.

Thanks...
S.Dhanwandher
[PVL.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4459822/PVL.xlsx)

[2020-04-10 04:10] Dhanwandher commented on #323
Dear Team....

Checked Corrected need to be done by client.

Thanks...
S.Dhanwandher
[ETHU.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4459823/ETHU.xlsx)

[2020-04-10 04:11] Dhanwandher commented on #304
Dear Team....

Checked Corrected need to be done by client.

Thanks...
S.Dhanwandher
[KOT.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4459826/KOT.xlsx)

[2020-04-11 04:25] Senthilmurugan-B commented on #262
Hi Team,
[Validated 1 Purchase master.zip](https://github.com/astpl1998/Kanam-Latex/files/4464027/Validated.1.Purchase.master.zip)

[2020-04-11 04:42] Senthilmurugan-B commented on #258
Hi Team,
[02_Create Equipment_ANK_1 to 252-C_30-03-2020.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4464048/02_Create.Equipment_ANK_1.to.252-C_30-03-2020.xlsx)
[01_Create Location_ANK-C_30-03-2020.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4464050/01_Create.Location_ANK-C_30-03-2020.xlsx)

[2020-04-11 04:46] Senthilmurugan-B commented on #259
HI,

[02_Create Equipment_PVL-C_08_02_2020.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4464060/02_Create.Equipment_PVL-C_08_02_2020.xlsx)
[01_Create Location_PVL-C_08_02_2020.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4464061/01_Create.Location_PVL-C_08_02_2020.xlsx)

[2020-04-11 04:55] knovakaspar commented on #254
Dear Senthil ,

Please find the attachment for QC- Master Validated file for your reference.

[QC Master under validation 2.zip](https://github.com/astpl1998/Kanam-Latex/files/4464072/QC.Master.under.validation.2.zip)

Thanks & Regards
Nova Kaspar

[2020-04-11 05:48] knovakaspar commented on #253
Dear Senthil

Please find the attachment for QC validated file for your reference.

[ANK QC Master Under Validation (val 2).zip](https://github.com/astpl1998/Kanam-Latex/files/4464118/ANK.QC.Master.Under.Validation.val.2.zip)

Thanks & Regards
Nova Kaspar

[2020-04-12 13:33] Senthilmurugan-B commented on #405
Dear sir,
Kindly close the ticket because EAM module is not applicable for this OU.

[2020-04-12 13:36] Senthilmurugan-B commented on #393
Dear sir,
Kindly close the ticket because EAM module is not applicable for this OU.

[2020-04-12 13:37] Senthilmurugan-B commented on #382
Dear sir,
Kindly close the ticket because EAM module is not applicable for this OU.

[2020-04-12 13:39] Senthilmurugan-B commented on #356
Dear sir,
Kindly close the ticket because EAM module is not applicable for this OU.

[2020-04-12 13:40] Senthilmurugan-B commented on #340
Dear sir,
Kindly close the ticket because EAM module is not applicable for this OU.

[2020-04-12 13:40] Senthilmurugan-B commented on #340
Dear sir,
Kindly close the ticket because EAM module is not applicable for this OU.

[2020-04-12 13:42] Senthilmurugan-B commented on #230
Dear sir,
Kindly close the ticket because EAM module is not applicable for this OU.

[2020-04-12 13:46] Senthilmurugan-B commented on #338
Dear sir,
Kindly close the ticket because EAM module is not applicable for this OU.

[2020-04-12 13:47] Senthilmurugan-B commented on #325
Dear sir,
Kindly close the ticket because EAM module is not applicable for this OU.

[2020-04-12 13:48] Senthilmurugan-B commented on #306
Dear sir,
Kindly close the ticket because EAM module is not applicable for this OU.

[2020-04-12 13:49] Senthilmurugan-B commented on #278
Dear sir,
Kindly close the ticket because EAM module is not applicable for this OU.

[2020-04-12 13:50] Senthilmurugan-B commented on #271
Dear sir,
Kindly close the ticket because EAM module is not applicable for this OU.

[2020-04-12 13:51] Senthilmurugan-B commented on #267
Dear sir,
Kindly close the ticket because EAM module is not applicable for this OU.

[2020-04-12 14:02] Senthilmurugan-B commented on #397
Dear sir,
Kindly close the ticket, in this OU does not have any inventory masters

[2020-04-12 14:07] Senthilmurugan-B commented on #328
Dear sir,
Kindly close the ticket, in this OU does not have any inventory masters

[2020-04-12 14:56] Senthilmurugan-B commented on #255
[VALIDATED 1_KAVALKINARU_STORES Item master Over all (5)-22.2.2020 FINAL(20-02-2020).xlsx](https://github.com/astpl1998/Kanam-Latex/files/4466511/VALIDATED.1_KAVALKINARU_STORES.Item.master.Over.all.5.-22.2.2020.FINAL.20-02-2020.xlsx)
[validated 1 _KVL UOM CLASS.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4466516/validated.1._KVL.UOM.CLASS.xlsx)
[Validated 1 -KVL UNIT OF MEASUREMENT.xlsx](

[2020-04-13 01:59] knovakaspar commented on #253
Dear Senthil,

Please find the attachment for the Inventory Validated 2 file.

[ANK_VALIDATED 1-UOM-CL,UOM,ITEM CATE,ITEM ACC GRP, SITE,WH,STORAGE ALLOCATION.zip](https://github.com/astpl1998/Kanam-Latex/files/4467658/ANK_VALIDATED.1-UOM-CL.UOM.ITEM.CATE.ITEM.ACC.GRP.SITE.WH.STORAGE.ALLOCATION.zip)
[Validated 1_01_ANK_ STORES_Item creation_MDCF - Final - 14.02.2020-(15-02-2020).xlsx](https://githu

[2020-04-13 04:58] Duraisingam-G commented on #93
Nova
kindly do the testing

[2020-04-13 05:01] Senthilmurugan-B commented on #261
[Validated 1 _02_Create.Equipment_KONAM_30-03-2020.2 validated_1.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4468084/Validated.1._02_Create.Equipment_KONAM_30-03-2020.2.validated_1.xlsx)
[Validated 1 _01_Create.Location_KONAM.1._30-03-2020 validated_1.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4468085/Validated.1._01_Create.Location_KONAM.1._30-03-2020.validated_1.xlsx)

[2020-04-13 05:04] Senthilmurugan-B commented on #260
[Validated 1 _02_Create Equipment_KVL-C_30-03-2020  validated_1.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4468087/Validated.1._02_Create.Equipment_KVL-C_30-03-2020.validated_1.xlsx)
[Validated 1 _01_Create Location_KVL-C_30-03-2020  validated_1.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4468088/Validated.1._01_Create.Location_KVL-C_30-03-2020.validated_1.xlsx)

[2020-04-13 05:05] Senthilmurugan-B commented on #259
[Validated 1 _02_Create Equipment_PVL-C_08_02_2020  validated_1.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4468092/Validated.1._02_Create.Equipment_PVL-C_08_02_2020.validated_1.xlsx)
[Validated 1 _01_Create Location_PVL-C_08_02_2020  validated_1.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4468094/Validated.1._01_Create.Location_PVL-C_08_02_2020.validated_1.xlsx)

[2020-04-13 05:07] Senthilmurugan-B commented on #258
[Validated 1 _02_Create Equipment_ANK_1 to 252-C_30-03-2020  validated_1.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4468097/Validated.1._02_Create.Equipment_ANK_1.to.252-C_30-03-2020.validated_1.xlsx)
[Validated 1 _01_Create Location_ANK-C_30-03-2020  validated_1.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4468098/Validated.1._01_Create.Location_ANK-C_30-03-2020.validated_1.xlsx

[2020-04-13 05:23] Duraisingam-G commented on #235
Pls update which ou should be mapped

[2020-04-14 12:25] Senthilmurugan-B commented on #259
[Validated 2 _02_Create Equipment_PVL-C_08_02_2020  validated_2.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4475190/Validated.2._02_Create.Equipment_PVL-C_08_02_2020.validated_2.xlsx)
[Validated 2 _02_Create Location_PVL-C_08_02_2020  validated_2.xlsx](https://github.com/astpl1998/Kanam-Latex/files/4475192/Validated.2._02_Create.Location_PVL-C_08_02_2020.validated_2.xlsx)

[2020-04-15 01:32] knovakaspar commented on #254
Dear Senthil

Please find the attachment for the Validated 2 file for your reference.

[PVL-UOM-CL,UOM,ITEM CATE,ITEM ACC GRP, SITE,WH,STORAGE ALLOCATION.zip](https://github.com/astpl1998/Kanam-Latex/files/4478628/PVL-UOM-CL.UOM.ITEM.CATE.ITEM.ACC.GRP.SITE.WH.STORAGE.ALLOCATION.zip)
[PVL_validated.2_Final.ITEM.MASTER.CREATION.MDCF.PVL-03-02-2020-.11-02-2020.xlsx](https://github.com/astpl1998/Kanam

[2020-04-15 02:33] knovakaspar commented on #93
Dear Gayathri,  & Raju Sir

I was checked in this report but the following changes to be made.

1.I'm in ANK OU but some warehouse loaded in different OU wise.
![image](https://user-images.githubusercontent.com/50448138/79292449-c4f61800-7eee-11ea-89a3-b358c0322728.png)
2. We need to Modify in header Alighnment.
![image](https://user-images.githubusercontent.com/50448138/79292603-274f1880-7eef-11e

[2020-04-15 03:19] Duraisingam-G commented on #398
This OU Process Production is inactive if anything becomes active will be taken separately.

[2020-04-15 03:20] Duraisingam-G commented on #387
This OU Process Production is inactive if anything becomes active will be taken separately.

[2020-04-15 03:21] Duraisingam-G commented on #376
This OU Process Production is inactive if anything becomes active will be taken separately.

[2020-04-15 03:23] Duraisingam-G commented on #347
This OU Process Production is inactive if anything becomes active will be taken separately.

[2020-04-15 03:24] Duraisingam-G commented on #221
This OU Process Production is inactive if anything becomes active will be taken separately.

[2020-04-15 03:24] Duraisingam-G commented on #329
This OU Process Production is inactive if anything becomes active will be taken separately.

[2020-04-15 03:25] Duraisingam-G commented on #318
This OU Process Production is inactive if anything becomes active will be taken separately.

[2020-04-15 03:26] Duraisingam-G commented on #294
This OU Process Production is inactive if anything becomes active will be taken separately.

[2020-04-15 03:27] Duraisingam-G commented on #274
This OU Process Production is inactive if anything becomes active will be taken separately.

[2020-04-15 03:27] Duraisingam-G commented on #268
This OU Process Production is inactive if anything becomes active will be taken separately.

[2020-04-15 03:27] Duraisingam-G commented on #264
This OU Process Production is inactive if anything becomes active will be taken separately.

[2020-04-15 03:31] Dhanwandher commented on #262
Dear Senthil.

[Validated 1 Purchase master.zip](https://github.com/astpl1998/Kanam-Latex/files/4478997/Validated.1.Purchase.master.zip)

[2020-04-15 04:07] Duraisingam-G commented on #226
This is OU Process Production inactive if anything becomes active will be taken.

[2020-04-15 04:14] Duraisingam-G commented on #255
Kindly do the 2nd level checking.

[2020-04-15 04:29] knovakaspar commented on #350
Dear Singam

PFA
[PVL 1.zip](https://github.com/astpl1998/Kanam-Latex/files/4479137/PVL.1.zip)

Thanks & Regards
Nova Kaspar

[2020-04-15 05:26] Senthilmurugan-B commented on #375
Dear sir,
kindly close this ticket we need to upload all masters to 300 Kottayam OU

[2020-04-15 05:28] Senthilmurugan-B commented on #345
Dear sir,
Kindly close the ticket, in this OU does not have any inventory masters

[2020-04-15 05:45] Senthilmurugan-B commented on #225
consolidate inventroy masters to be updated later

[2020-04-15 05:46] Senthilmurugan-B commented on #291
Dear sir,
Kindly close the ticket, in this OU does not have any inventory masters